{% raw %}
<h3>${T('admins')}
    <sup id="admins_count" class="badge">${admins.length}</sup>
    <button id="add_admin" class="btn btn-success"><i class="fa fa-plus"></i></button>
</h3>
<table id="admins" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>${ T('Email') }</th>
        </tr>
    </thead>
    <tbody>
        {{each(i, user_email) admins}}
        <tr>
            <td><b>${user_email}</b></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{% endraw %}
