<script type="text/javascript" src="/static/js/solutions/sln-settings-branding.js"></script>
<div id="branding_settings" class="pull-left"></div>
<div id="branding_settings_preview" class="pull-right"></div>
