<section id="section_settings_jcc_appointments" style="display: none;">
    <p>{% translate language, 'common', 'jcc_appointments_info' %}</p>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="jcc_url">{% translate language, 'common', 'Url' %}</label>
            <div class="controls">
                <input type="url" id="jcc_url" autocomplete="off" style="width: 400px;">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button id="btn_save_jcc_settings" type="button" class="btn btn-success">
                  {% translate language, 'common' ,'Save' %}
                </button>
            </div>
        </div>
    </form>
</section>
