<script type="text/javascript" src="/static/js/solutions/sln-module_app_texts.js"></script>
<section id="section_settings_module_app_texts" style="display: none;">
<h4>{% translate language, "common", "app-texts-note" %}</h4>
<div id="app-texts-container"><div>
</section>
