Prezado{% if name %} {{ name|escape }}{% endif %},

Este é seu código de ativação para o aplicativo {{ app.name }}:

{{ pin }}

Retorne ao aplicativo {{ app.name }} no seu dispositivo móvel e insira este código para continuar. 

Obrigado por utilizar o aplicativo {{ app.name }}!

- Equipe {{ app.name }} 
