<html><body>Olá,<br>
<br>
Sua conta do Rogerthat será desativada em breve pelo seguinte motivo:<br>
<br>
{{ reason|escape }}.<br>
<br>
Atenciosamente,<br>
<br>
<br>
Equipe de Suporte da Rogerthat.<br>
</body></html>
