Prezado,

Estas são as estatíticas do seu serviço{% if service %} {{ service|escape }}{% endif %}.
Para mais informações, consulte o anexo. 

Obrigado por usar Rogerthat!

- Equipe Rogerthat 
https://rogerth.at/
