Olá, 

Sua conta do Rogerthat foi desativada pelo seguinte motivo:

{{ reason|escape }}.

Quando o problema tiver sido resolvido, vá para o painel de controle de Rogerthat e reative seus serviços.

 Atenciosamente,
 

Equipe de Suporte da Rogerthat.
