<html><body>Olá,<br>
<br>
Sua conta do Rogerthat foi desativada pelo seguinte motivo:<br>
<br>
{{ reason|escape }}.<br>
<br>
Quando o problema tiver sido resolvido, vá para o painel de controle de Rogerthat e reative seus serviços.<br>
<br>
Atenciosamente,<br>
<br>
<br>
Equipe de Suporte da Rogerthat.<br>
</body></html>
