<html><body>Prezado{% if name %} {{ name|escape }}{% endif %},<br>
<br>
Recebemos seu pedido para se registrar no Rogerthat. Utilize essa URL segura para completar o processo de registro em até 5 dias.<br>
<br>
<span style="font-size: xx-large;"><a href="{{ link }}">Clique aqui para completar o processo de registro.</a></span><br>
<br>
Para completar o registro, insira sua senha duas vezes na página que abrirá.<br>
<br>
Se você não conseguir acessar o link acima, copie e cole o seguinte endereço no seu navegador:<br>
{{ link }}<br>
<br>
Obrigado por usar Rogerthat!<br>
<br>
- Equipe Rogerthat<br>
<a href="https://rogerth.at/">https://rogerth.at/</a><br>
</body></html>
