Prezado{% if name %} {{ name|escape }}{% endif %},

Recebemos seu pedido de registro no Rogerthat. Utilize essa URL segura para completar o processo de registro em até 5 dias.

{{ link|safe }}

Para completar o registro, insira sua senha duas vezes na página que abrirá.

 Obrigado por usar Rogerthat!

- Equipe Rogerthat
 https://rogerth.at/
