Prezado,
 Alguém acabou de tentar registrar um dispositivo móvel com o endereço de e-mail do seu serviço( {{email}} ).
 
Talvez essa pessoa esteja tentando acessar sua conta. 
Verifique que a senha do seu serviço seja segura.
 A Rogerthat recomenda uma senha com, no mínimo, 8 caracteres, com letras maiúsculas, minúsculas e números. 

Atenciosamente, Equipe de Suporte da Rogerthat.
