<html>
<body>
Prezado,<br>
<br>
alguém acaba de tentar registrar um dispositivo móvel com o endereço de e-mail do seu serviço ( {{email}} ).<br>
<br>
Talvez essa pessoa esteja tentando acessar sua conta.<br> 
Verifique que a senha do seu serviço seja segura.<br>
A Rogerthat recomenda uma senha com, no mínimo, 8 dígitos, com letras maiúsculas, minúsculas e números.<br>
<br>
Atenciosamente, Equipe de Suporte da Rogerthat.<br>
</body>
</html>
