Prezado {{ name }},

 seu serviço experimental da Rogerthat foi criado. 

Inicie aqui:
http://www.rogerthat.net/support/quick-starter-guide/

https://rogerth.at informações de acesso ao painel de controle dos serviços:
 * e-mail de acesso: {{ email }}
 * senha: {{ password }}

Caso tenha dúvidas, envie-as para a nossa mailing list
https://groups.google.com/forum/#!forum/rogerthat-platform 
ou envie-nos um e-mail para support@mobicage.com

 Atenciosamente,

Equipe Rogerthat.
