<html>
<body>Prezado {{ name }},<br>
<br>
Sua conta experimental foi criada.<br>
<br>
Inicie aqui:<br>
<a href="http://www.rogerthat.net/support/quick-starter-guide/">http://www.rogerthat.net/support/quick-starter-guide/</a><br>
<br>
<a href="https://rogerth.at">Rogerthat</a> informações de acesso ao painel de controle dos serviços:<br>
<ul><li>e-mail de acesso: <span style="font-weight: bold;"><a href="#" style="text-decoration: none; color: inherit;">{{ email }}</a></span></li>
<li>senha: <span style="font-weight: bold;">{{ password }}</span></li></ul><br>
<br>
Caso tenha dúvidas, envie-as para <a href="https://groups.google.com/forum/#!forum/rogerthat-platform">mailing list</a> ou mande-nos um e-mail para <a href="mailto:support@mobicage.com">support@mobicage.com</a><br>
<br>
Atenciosamente,<br>
<br>
Equipe Rogerthat.
