<div class="default-component-margin">
  <p>{{ 'rcc.default_app_explanation' | translate }}</p>
  <form (submit)="submit()">
    <mat-form-field>
      <mat-select [placeholder]="'rcc.default_app' | translate" [(ngModel)]="defaultApp" name="app">
        <mat-option *ngFor="let app of apps" [value]="app.id">{{ app.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button type="button" (click)="submit()" mat-button mat-raised-button>{{ 'rcc.save' | translate }}</button>
    </div>
  </form>
</div>
