{% extends 'base.html' %}
    {% block custom_javascript %}
<script src="/static/js/shop/app_broadcast.js"></script>
    {% endblock %}
    {% block body %}
<div class="container">
    <h2>App-wide broadcast</h2>
    <form id="form_sb_search_customer_name" class="form-horizontal">
        <div class="control-group">
            <label for="sb_search_customer_name" class="control-label">Customer</label>
            <div class="controls">
                <input type="text" placeholder="Customer name" id="sb_search_customer_name" autocomplete="off"
                    class="span5">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">App</label>
            <div class="controls" id="sb_apps_container"></div>
        </div>
        <div class="control-group">
            <label for="sb_text" class="control-label">Message</label>
            <div class="controls">
                <textarea id="sb_text" placeholder="Message" rows="5" class="span5"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="row">
                    <button id="sb_test" type="button" disabled="disabled" class="btn span2"
                        data-url="/internal/shop/rest/customer/test_app_broadcast">
                        <i class="fa fa-send-o"></i> Test
                    </button>
                    <button id="sb_send" type="button" disabled="disabled" class="btn btn-success span2 offset1"
                        data-url="/internal/shop/rest/customer/app_broadcast">
                        <i class="fa fa-rocket"></i> Send
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
