{% extends "base.html" %}

{% block custom_javascript %}
<script src="/static/js/shop/libraries/raphael-min.js"></script>
<script src="/static/js/shop/libraries/jquery.mapael.js"></script>
<script type="text/javascript">
    /**************************************************************************/
    /* Mapael override **************************************************/
    /**************************************************************************/
    /**
     * Override for mapael function to show city name
     * Set a tooltip for the areas and plots
     * @param elem area or plot element
     * @param $tooltip the tooltip container
     * @param content the content to set in the tooltip
     */
    if (typeof $.fn.mapael !== "undefined") {
      $.fn.mapael.setTooltip = function (elem, $tooltip) {
        var tooltipTO = 0
          , $container = $tooltip.parent()
          , containerY2 = $container.offset().left + $container.width();

        $(elem.node).on("mouseover", function (e) {
          tooltipTO = setTimeout(
            function () {
              var offset = {
                "top": $(elem[0]).offset().top - $(elem[0]).parent().offset().top,
                "left": $(elem[0]).offset().left - $(elem[0]).parent().offset().left
              };
              elem.tooltipContent && $tooltip.html(elem[0].attributes.getNamedItem("data-id").textContent).css("display", "block");
              $tooltip.css({
                "left": offset.left + (elem[0].getBoundingClientRect().width / 2 - $tooltip.outerWidth() / 2),
                "top": offset.top - $tooltip.outerHeight() - 10
              });
            }
            , 120
          );
        }).on("mouseout", function (e) {
          clearTimeout(tooltipTO);
          $tooltip.css("display", "none");
        });
      };
    }

    $.fn.mapael.initElem = function(paper, elem, options, $tooltip, id) {
        var bbox = {}, textPosition = {};
        $.fn.mapael.setHoverOptions(elem.mapElem, options.attrs, options.attrsHover);

        if (options.text && typeof options.text.content !='undefined') {
            // Set a text label in the area
            bbox = elem.mapElem.getBBox();
            textPosition = $.fn.mapael.getTextPosition(bbox, options.text.position, options.text.margin);
            options.text.attrs['text-anchor'] = textPosition.textAnchor;
            elem.textElem = paper.text(textPosition.x, textPosition.y, options.text.content).attr(options.text.attrs);
            $.fn.mapael.setHoverOptions(elem.textElem, options.text.attrs, options.text.attrsHover);
            $.fn.mapael.setHover(paper, elem.mapElem, elem.textElem);
            options.eventHandlers && $.fn.mapael.setEventHandlers(id, options, elem.mapElem, elem.textElem);
            $(elem.textElem.node).attr('data-id', id);
        } else {
            $.fn.mapael.setHover(paper, elem.mapElem);
            options.eventHandlers && $.fn.mapael.setEventHandlers(id, options, elem.mapElem);
        }

        if (options.tooltip && options.tooltip.content) {
            elem.mapElem.tooltipContent = options.tooltip.content;
            $.fn.mapael.setTooltip(elem.mapElem, $tooltip);

            if (options.text && typeof options.text.content !='undefined') {
                elem.textElem.tooltipContent = options.tooltip.content;
                $.fn.mapael.setTooltip(elem.textElem, $tooltip);
            }
        }

        if (options.href) {
            elem.mapElem.href = options.href;
            $.fn.mapael.setHref(elem.mapElem);

            if (options.text && typeof options.text.content !='undefined') {
                elem.textElem.href = options.href;
                $.fn.mapael.setHref(elem.textElem);
            }
        }

        if (typeof options.value != "undefined")
            elem.value = options.value;

        $(elem.mapElem.node).attr('data-id', id);
    }
</script>

<script type="text/javascript">
    var $maps = {provinces: {}, cities: {}};
    $.getJSON('/static/js/shop/libraries/flanders.json')
        .done(function(data) {
            $maps = data;
            // Succesfully loaded the maps data
            $.extend(true, $.fn.mapael, {
              maps: {
                cities: {
                  width : 1024,
                  height : 401.680185916,
                  getCoords : function (lat, lon) {
                    // Convert latitude,longitude to x,y here
                    return {x : 1, y : 1};
                  },
                  elems : $maps.cities
                },
                provinces : {
                  width : 1024,
                  height : 401.680185916,
                  getCoords : function (lat, lon) {
                    // Convert latitude,longitude to x,y here
                    return {x : 1, y : 1};
                  },
                  elems :  $maps.provinces
                }
              }
            }
          );

          $('#flanders').mapael({
	          map : {
	            name : 'cities',
	            defaultArea: {
	              attrs: {
	                fill: '#f4f4e8',
	                stroke: "#ced8d0",
	                cursor: "pointer"
	              },
	              attrsHover : {
	                animDuration:0,
	                fill: "#a4e100"
	              },
	              text : {
	                attrs : {
	                  cursor: "pointer",
	                  "font-size": 10,
	                  fill :"#000"
	                },
	                attrsHover : {
	                  animDuration : 0
	                }
	              },
	              tooltip: {content : "<span></span>"}
	            }
	          }
	        });

            // TODO: Should be able to fill cities with a color using "areas", but couldn't make it work. Hacked it this way...
	        $.each({{ app_names|safe }}, function(i, appName) {
	            $('[data-id="' + appName + '"]').attr('fill', '#5bc4bf').attr('stroke', '#ffffff').hover(null, function() {
	               var $this = $(this);
		            setTimeout(function() {
		               $this.attr('fill', '#5bc4bf').attr('stroke', '#ffffff');
	               }, 10);
	            });
	        });
        })
        .fail(function() {
          console.error('Could not load the maps data');
        });
</script>
{% endblock %}

{% block body %}
<h2>Flanders</h2>
<div id="flanders">
    <div class="map"></div>
</div>
{% endblock %}
