<!DOCTYPE html>
<html>
<head>
<title>Business admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google" value="notranslate" />
<meta http-equiv="Cache-Control"
    content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<!-- Bootstrap -->
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="/static/node_modules/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/shop/base.css">
    {% if DEBUG %}
        <style>
            .navbar .brand {
                color: #73CCAE;
            }

            .navbar .brand:after {
                content: ' dev';
            }
        </style>
    {% endif %}
{% block stylesheets %}
{% endblock %}
<script src="/static/js/jquery-1.10.0.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.tmpl.min.js"></script>
<script src="/static/js/stacktrace.js"></script>
<script src="/static/js/solutions/sln-errors.js"></script>
<script src="/static/js/solutions/sln-utils.js"></script>
<script language="javascript">
{% autoescape off %}
SLN_CONSTS.LOG_ERROR_URL = "/internal/shop/log_error";
    var DEBUG = {% if DEBUG %}true{% else %}false{% endif %};
var JS_TEMPLATES = {{ js_templates|safe }};
var CURRENT_USER = "{{ current_user.email }}";
var DEFAULT_LANGUAGES = {{ default_languages_json }};
{% endautoescape %}
//Used by sln-utils
var CommonTranslations = {
 AJAX_ERROR_MESSAGE : 'An unexpected error occurred.',
 ALERT : 'Alert',
 CANCEL : 'Cancel',
 CHANNEL_DISCONNECTED_RELOAD_BROWSER : 'Could not renew auto updating channel automatically. Reload your browser to resolve the situation.',
 CLOSE : 'Close',
 CONFIRM : 'Confirm',
 INPUT : 'Input',
 NO : 'No',
 PARSING_DOT_DOT_DOT : 'Parsing...',
 SUBMIT : 'Submit',
 WARNING : 'Warning',
 YES : 'Yes',
 remember_my_choice:'Remember my choice',
};
</script>
</head>
<body>
<div id="shop-home"></div>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/internal/shop?iframe=true">Business Admin</a>
            <ul class="nav">
                <li class="dropdown"><a href="#" class="dropdown-toggle"
                    data-toggle="dropdown">Customers<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="menu_new_customer"><i class="icon-plus-sign"></i> New</a></li>
                        <li><a href="#" id="menu_search_customer"><i class="icon-search"></i> Search</a></li>
{% if admin %}
                        <li class="divider"></li>
                        <li><a href="/internal/shop/contacts_export"><i class="icon-file"></i> Export contacts</a></li>
                        <!-- <li><a href="/internal/shop/customers/import" id="import-customers"><i class="fa fa-file"></i> Import customers</a></li> -->
                        <li><a href="#" id="export-customers"><i class="fa fa-file"></i> Export customers</a></li>
                        <li><a href="#" id="export-cirklo-customers"><i class="fa fa-file"></i> Export CIRKLO customers</a></li>
                        <li class="divider"></li>
                        <li><a href="/internal/shop/customers/generate-qr"><i class="fa fa-qrcode"></i> Generate QR codes</a></li>
{% endif %}
                    </ul>
                </li>
                <li><a href="/internal/shop/questions">Questions</a></li>
{% if admin %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuration <i class="caret"></i></a>
                     <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="/internal/shop/loyalty/slides"><i class="icon-picture"></i> Terminal slides</a>
	                        <ul class="dropdown-menu">
		                        <li><a href="/internal/shop/loyalty/slides" ><i class="icon-list"></i> All</a></li>
		                        <li><a href="/internal/shop/loyalty/slides/new_order" ><i class="icon-plus"></i> New order</a></li>
		                    </ul>
	                    </li>
                     </ul>
                </li>
                <li class="dropdown">
                    <a href="/internal/console">App center</a>
                </li>
{% endif %}
            </ul>
        </div>
    </div>

<div class="container-padding">
{% block body %}&nbsp;{% endblock %}
</div>

{% include "customer_form.html" %}
    <div class="modal hide fade" id="contact_form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="add_contact">New contact</h3>
            <h3 class="update_contact">Update contact</h3>
        </div>
        <div class="modal-body">
            <form>
                <fieldset>
                    <div class="alert alert-error" id="new_contact_error">
                      <strong>Error!</strong> <span></span>
                    </div>
                    <label>First name: </label>
                    <input type="text" placeholder="Geert" id="first_name">
                    <label>Last name: </label>
                    <input type="text" placeholder="Audenaert" id="last_name">
                    <label>E-mail address:</label>
                    <input type="email" placeholder="geert@mobicage.com" id="email">
                    <label>Phone number:</label>
                    <input type="tel" placeholder="+32474201541" id="phone_number">
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger hide update_contact pull-left btn-small" id="button_remove_contact">Remove contact</a>
            <a href="#" class="btn btn-primary add_contact" id="button_add_contact">Add contact</a>
            <a href="#" class="btn btn-primary hide update_contact" id="button_update_contact">Save contact</a>
        </div>
    </div>

    <div class="modal hide fade" id="change_service_email_tmpl" style="z-index:5555;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Change customer email</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-error hide" id="change_service_email_error">
              <strong>Error!</strong> <span></span>
            </div>
            <p>
                Changing the e-mail address of '<span id="service-email-container"></span>' will start a migration job.
                This might take up to several minutes.
            </p>
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="new_service_email">New e-mail</label>
                        <div class="controls">
                            <input type="email" id="new_service_email" required="required" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" id="button_start_change_service_email">Start job</a>
        </div>
    </div>

    <div class="modal hide fade" id="follow_job_tmpl">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Job progress...</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-error hide" id="follow_job_error">
                <strong>Error!</strong> <span></span>
            </div>
            <div class="progress progress-striped active">
                <div class="bar" style="width: 0%;"></div>
            </div>
            <div class="alert alert-success hide" id="follow_job_completed">
                <strong>Success!</strong> <span>The job had been successfully executed.</span>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" id="button_close">Close</a>
        </div>
    </div>

    <div class="modal hide fade" id="order_item_form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Order item</h3>
        </div>
        <div class="modal-body">
            <form id="form_order_item">
                <fieldset>
                    <div class="alert alert-error" id="order_item_error">
                        <strong>Error!</strong> <span></span>
                    </div>
                    <label for="order_item_product">Select product: </label>
                    <select id="order_item_product" class="span6">
                        <option value="">Select product</option>
                    </select>
                    <label for="order_item_count">Count: </label>
                    <input type="number" id="order_item_count" class="span1">
                    <select id="possible_order_item_count"></select>
                    <label for="order_item_price">Price:</label>
                    <input type="number" step="0.01" min="0" id="order_item_price" disabled>
                    <label>Comment: </label>
                    <textarea class="span6" id="order_item_comment" style="height: 140px;"></textarea>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger" id="button_delete_order_item">Remove</a>
            <a href="#" class="btn btn-primary" id="button_save_order_item">Save</a>
        </div>
    </div>
    <div id="extra-content"></div>

<script type="text/javascript" src="/static/js/shop/shop-requests.js"></script>
<script type="text/javascript" src="/static/js/shop/shop.js"></script>
<script type="text/javascript" src="/static/js/shop/create_service.js"></script>
{% block custom_javascript %}{% endblock %}
</body>
</html>
