{% extends "base.html" %}

{% block body %}
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Last reminder</th>
            <th>Description</th>
            <th>Customer{%if admin%}<br>Manager{%endif%}</th>
            <th>Amount</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for charge, customer in charges %}
            <tr stripe="{{ customer.stripe_valid }}" id='charge-{{ charge.key.id }}'>
            <td>{{ charge.full_date_str }}</td>
            <td>{{ charge.last_notification_date_str }}{% if charge.structured_info %}<br>{{ charge.structured_info }}{% endif %}</td>
                <td>{% if not charge.is_recurrent %}Order{% else %}Recurring subscription{% endif %}</td>
                <td><a href="#charge-customer-{{ customer.id }}"
                       open-customer-popup="{{ customer.id }}">{{ customer.name }}</a>
                    {% if admin %}<br>{{ charge.manager }}{% endif %}
                </td>
                <td>
                    {{ charge.currency }} {{ charge.total_amount_formatted }}
                    {% if charge.amount_paid_in_advance %}
                    <br>({{ charge.currency }} {{ charge.amount_paid_in_advance_formatted }} paid in adv.)
                    {% endif %}
                </td>
            <td>
                <div class="btn-group btn-group-payment">
                    <a class="btn {% if customer.stripe_valid %}btn-success
                        {% else %}{% if charge.status == 1 %}btn-danger{% else %}btn-primary{% endif %}{% endif %} dropdown-toggle"
                       data-toggle="dropdown" href="#">
                        <i class="icon-shopping-cart icon-white"></i> Payment <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if not is_reseller %}
                            <li>
                            <a class="start-on-site-payment"
                               customer_id="{{charge.customer_id}}"
                               customer_name="{{ customer.name }}"
                               customer_user_email="{{ customer.user_email }}"
                               order_number="{{charge.order_number}}"
                               charge_id="{{charge.key.id}}"
                               charge_amount="{{charge.total_amount}}"
                               charge_reference="{{charge.reference}}"
                               href="#">On site payment</a>
                        </li>
                        <li class="divider"></li>
                        {% endif %}
                        {% if admin or is_reseller %}
                            {% if customer.stripe_valid and not is_reseller %}
                        <li>
                            <a class="charge-credit-card"
                                customer_id="{{charge.customer_id}}"
                                order_number="{{charge.order_number}}"
                                charge_id="{{charge.key.id}}"
                                href="#">Charge CC</a>
                        </li>
                            {% endif %}
                        <li>
                            <a class="send-payment-info"
                                customer_id="{{charge.customer_id}}"
                                order_number="{{charge.order_number}}"
                                charge_id="{{charge.key.id}}"
                                href="#">Send payment info</a>
                        </li>
                        <li>
                            <a class="set-po-number"
                                customer_id="{{charge.customer_id}}"
                                order_number="{{charge.order_number}}"
                                charge_id="{{charge.key.id}}"
                                customer_po_number="{% if charge.customer_po_number %}{{charge.customer_po_number}}{% endif %}"
                                href="#">{% if charge.customer_po_number %}Change{% else %}Set{% endif %} PO number</a>
                        </li>
                    {% endif %}
                    {% if payment_admin or is_reseller %}
                        <li class="divider"></li>
                        <li>
                            <a class="payment-in-advance"
                               customer_id="{{charge.customer_id}}"
                               order_number="{{charge.order_number}}"
                               charge_id="{{charge.key.id}}"
                               charge_amount="{{charge.total_amount}}"
                               charge_amount_paid_in_advance="{{charge.amount_paid_in_advance}}"
                               href="#"><i class="icon-adjust"></i> Set advanced payment</a>
                        </li>
                        <li>
                            <a class="manual-payment"
                               customer_id="{{charge.customer_id}}"
                               order_number="{{charge.order_number}}"
                               charge_id="{{charge.key.id}}"
                               paid="true"
                               customer_name="{{ customer.name }}"
                               structured_info="{{charge.structured_info}}"
                               href="#"><i class="icon-thumbs-up"></i> Paid</a>
                        </li>
                        <li>
                            <a class="manual-payment"
                               customer_id="{{charge.customer_id}}"
                               order_number="{{charge.order_number}}"
                               charge_id="{{charge.key.id}}"
                               paid="false"
                               customer_name="{{ customer.name }}"
                               structured_info="{{charge.structured_info}}"
                               href="#"><i class="icon-gift"></i> Send invoice</a>
                        </li>
                {% if not charge.invoice_number %}
                    <li class="divider"></li>
                    <li><a href="#"
                           class="cancel-charge"
                           customer_id="{{ charge.customer_id }}"
                           order_number="{{ charge.order_number }}"
                           charge_id="{{ charge.key.id }}"><i class="fa fa-remove"></i> Cancel</a>
                    </li>
                {% endif %}
            {% endif %}
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-eye-open icon-white"></i> View <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a
                                class="view-order"
                                customer_id="{{ charge.customer_id }}"
                                order_number="{{ charge.order_number }}"
                                invoice_number="{{ charge.invoice_number}}"
                                order_status="1"
                                href="#">Order</a>
                        </li>
                        <li>
                            <a class="show_invoice"
                               href="/internal/shop/invoice/pdf?customer_id={{ charge.customer_id }}&order_number={{ charge.order_number }}&charge_id={{ charge.key.id }}&invoice_number={{ charge.invoice_number }}"
                               target="_blank">Invoice</a>
                        </li>
                    </ul>
                </div>
                {% if customer.service_email %}
                <a
                        class="btn open-service"
                        href="{{ customer.auto_login_url }}" target="_blank"><i class="fa fa-dashboard"></i> Open</a>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'view-order.part.html' %}
<script>
$(function () {
    var elemOnsitePayment = $('a.start-on-site-payment');
    $('a.charge-credit-card').click(function() {
        var a = $(this);
        var customerId = parseInt(a.attr('customer_id'));
        var orderNumber = a.attr('order_number');
        var chargeId = parseInt(a.attr('charge_id'));
        chargeCreditCard(customerId, orderNumber, chargeId);
    });
    getLegalEntity(function (legalEntity) {
        if (legalEntity.is_mobicage) {
            elemOnsitePayment.click(function () {
                var a = elemOnsitePayment;
                startOnSitePayment(parseInt(a.attr('customer_id')), a.attr('customer_name'), a.attr('customer_user_email'),
                        a.attr('order_number'), parseInt(a.attr('charge_id')), parseInt(a.attr('charge_amount')),
                        a.attr('charge_reference'), true);
            });
        }
    });

    $('a.send-payment-info').click(function() {
        var a = $(this);
        var customer_id = parseInt(a.attr('customer_id'));
        var order_number = a.attr('order_number');
        var charge_id = parseInt(a.attr('charge_id'));
        showProcessing("Sending payment info ...");
        sln.call({
        	url: '/internal/shop/rest/charge/send_payment_info',
        	type: 'POST',
        	data: {
        		data: JSON.stringify({
        			customer_id: customer_id, 
        			order_number: order_number, 
        			charge_id: charge_id
        		})
        	},
        	success: function (data) {
        		hideProcessing();
        		if (data)
        			alert(data);
       			else
	       			window.location.reload();
        	},
        	error: function () {
        		hideProcessing();
        		alert('An unknown error occurred. Check with the administrators.');
        	}
        });
    });

    $('a.set-po-number').click(function() {
        var a = $(this);
        var customerId = parseInt(a.attr('customer_id'));
        var orderNumber = a.attr('order_number');
        var chargeId = parseInt(a.attr('charge_id'));

        var submit = function(val) {
            showProcessing("Saving PO number...");
            sln.call({
                url: '/internal/shop/rest/charge/set_po_number',
                type: 'POST',
                data: {
                    data: JSON.stringify({
                        customer_id: customerId,
                        order_number: orderNumber,
                        charge_id: chargeId,
                        customer_po_number: val
                    })
                },
                success: function (data) {
                    hideProcessing();
                    if (!data.success) {
                        alert(data.errormsg);
                        return;
                    }

                    a.attr('customer_po_number', val);
                },
                error: function () {
                    hideProcessing();
                    alert('An unknown error occurred. Check with the administrators.');
                }
            });

            return true;
        };

        askInput(submit, 'Set a PO number', null, null, a.attr('customer_po_number'));
    });

    $('a.payment-in-advance').click(function () {
        var a = $(this);
        var customer_id = parseInt(a.attr('customer_id'));
        console.log("customer_id: " + customer_id);
        var order_number = a.attr('order_number');
        var charge_id = parseInt(a.attr('charge_id'));
        var charge_amount = parseInt(a.attr('charge_amount'));
        var charge_amount_paid_in_advance = parseInt(a.attr('charge_amount_paid_in_advance'));
        sln.input(function(value) {
            sln.call({
                showProcessing: true,
                url: '/internal/shop/rest/charge/set_advance_payment',
                type: 'POST',
                data: {
                    data: JSON.stringify({
                        customer_id: customer_id, 
                        order_number: order_number, 
                        charge_id: charge_id,
                        amount: parseInt(Math.round(100 * value))
                    })
                },
                success: function (data) {
                    if (!data.success)
                        alert(data.errormsg);
                    else
                        window.location.reload();
                },
                error: function () {
                    alert('An unknown error occurred. Check with the administrators.');
                }
            });
        }, null, null, null, (charge_amount_paid_in_advance || Math.round(charge_amount / 2.0)) / 100.0, 'number');
    });

    $('a.manual-payment').click(function() {
        var a = $(this);
        var customer_id = parseInt(a.attr('customer_id'));
        console.log("customer_id: " + customer_id);
        var order_number = a.attr('order_number');
        var charge_id = parseInt(a.attr('charge_id'));
        var paid = a.attr('paid') == 'true';
        var customer_name = a.attr('customer_name');
		var structured_info = a.attr('structured_info');
        showConfirmation("Please confirm manual payment.<br>Customer: " + customer_name + "<br>Structured info: " + structured_info, function() {
            showProcessing("Sending invoice ...");
            sln.call({
            	url: '/internal/shop/rest/charge/execute_manual',
            	type: 'POST',
            	data: {
            		data: JSON.stringify({
            			customer_id: customer_id, 
            			order_number: order_number, 
            			charge_id: charge_id,
            			paid: paid
            		})
            	},
            	success: function (data) {
            		hideProcessing();
            		if (data)
            			alert(data);
            		else
            			window.location.reload();
            	},
            	error: function () {
            		hideProcessing();
            		alert('An unknown error occurred. Check with the administrators.');
            	}
            });
        });
    });
    $('a.cancel-charge').click(function () {
        "use strict";
        var $this = $(this);
        var chargeId = parseInt($this.attr('charge_id'));
        var orderNumber = $this.attr('order_number');
        var customerId = parseInt($this.attr('customer_id'));
        var message = 'Are you sure you want to cancel charge from order ' + orderNumber + '?';
        sln.confirm(message, doCancelCharge);

        function doCancelCharge () {
            sln.call({
                url: '/internal/shop/rest/charge/cancel',
                method: 'post',
                data: {
                    charge_id: chargeId,
                    customer_id: customerId,
                    order_number: orderNumber
                },
                success: function (data) {
                    if (data.success === true) {
                        $('#charge-' + chargeId).remove();
                    } else {
                        sln.alert(data.errormsg);
                    }
                }
            });
        }
    });
});
</script>
{% endblock %}
