{% extends "base.html" %}

{% block body %}
<button class="add-setting btn btn-primary">Add city voucher settings</button>
<br><br>
{% for city_voucher_setting in city_voucher_settings %}
<table class="table table-striped table-hover table-condensed table-bordered">
    <thead>
        <tr style="background-color: #f3e1f5;">
            <th>{{ city_voucher_setting.app_id }}</th>
            <th style="width: 40px;"><a class="btn add-user" data-app_id="{{ city_voucher_setting.app_id }}" href="#"><i class="icon-plus"></i></a></th>
        </tr>
    </thead>
    <tbody>
		{% for username in city_voucher_setting.usernames %}
    	<tr>
    		<td>{{ username }}</td>
    		<td style="width: 40px;"><a class="btn edit-user" data-app_id="{{ city_voucher_setting.app_id }}" data-username="{{ username }}" href="#"><i class="icon-edit"></i></a></td>
    	</tr>
		{% endfor %}
	</tbody>
</table>
{% endfor %}

<div id="new_setting" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add city voucher settings</h3>
    </div>

    <div class="modal-body">
        <div id="select_app">
	        <label class="control-label">App</label>
	        <select name="slide_app">
	{% for app in current_user_apps %}
	            <option value="{{ app.app_id }}">{{ app.name }}</option> 
	{% endfor %}
	        </select>
        </div>
    </div>

    <div class="modal-footer">
        <button action="cancel" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button action="submit" class="btn btn-primary">Save</button>
    </div>
</div>

<div id="update_user" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel"></h3>
    </div>

    <div class="modal-body">
    	<div class="control-group">
            <b>Username</b><br>
            <input type="text" id="username" style="width: 300px;">
        </div>
        
        <div class="control-group">
            <b>Pincode</b><br>
            <input type="text" id="pincode" style="width: 300px;">
        </div>
    </div>

    <div class="modal-footer">
        <button action="delete" class="btn btn-danger">Delete</button>
        <button action="cancel" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button action="submit" class="btn btn-primary">Save</button>
    </div>
</div>

{% endblock %}

{% block custom_javascript %}
<script>
$(function () {
	var addSetting = function() {
		var html = $('#new_setting').modal('show');
        
        $('button[action="submit"]', html).click(function() {
        	sln.call({
            	url: '/internal/shop/rest/city/vouchers/settings/put',
            	type: 'POST',
            	data: {
            		data: JSON.stringify({
            			app_id: $('select', html).val()
            		})
            	},
            	success: function (data) {
            		if (data.errormsg) {
                        showError(data.errormsg);
                    } else {
   	       				window.location.reload();
                    }
            	},
            	error: function () {
            		alert('An unknown error occurred. Check with the administrators.');
            	}
            });
        });
	};
	
	var showEditUserModal = function(appId, username) {
		var html = $('#update_user').modal('show');
		$("#myModalLabel", html).text(username != null ? "Update user" : "Add user");
		
		$('button[action="submit"]', html).click(function() {
			sln.call({
            	url: '/internal/shop/rest/city/vouchers/user/put',
            	type: 'POST',
            	data: {
            		data: JSON.stringify({
            			app_id : appId,
            			username: $("#username", html).val(),
            			pincode : $("#pincode", html).val()
            		})
            	},
            	success: function (data) {
            		if (data.errormsg) {
                        showError(data.errormsg);
                    } else {
   	       				window.location.reload();
                    }
            	},
            	error: function () {
            		alert('An unknown error occurred. Check with the administrators.');
            	}
            });
        });
		if (username != null) {
			$("#username", html).val(username);
			$("#username", html).attr("disabled", true);
			$("#pincode", html).val("");
			$('button[action="delete"]', html).show();
			$('button[action="delete"]', html).click(function() {
				sln.call({
	            	url: '/internal/shop/rest/city/vouchers/user/delete',
	            	type: 'POST',
	            	data: {
	            		data: JSON.stringify({
	            			app_id : appId,
	            			username: username
	            		})
	            	},
	            	success: function (data) {
	            		if (data.errormsg) {
	                        showError(data.errormsg);
	                    } else {
	   	       				window.location.reload();
	                    }
	            	},
	            	error: function () {
	            		alert('An unknown error occurred. Check with the administrators.');
	            	}
	            });
	        });
		} else {
			$("#username", html).val("");
			$("#username", html).attr("disabled", false);
			$("#pincode", html).val("");
			$('button[action="delete"]', html).hide();
		}
	};
	
	var addUser = function() {
		showEditUserModal($(this).attr("data-app_id"), null);
	};
	
	var editUser = function() {
		showEditUserModal($(this).attr("data-app_id"), $(this).attr("data-username"));
	};
	$('.add-setting').click(addSetting);
	$('.add-user').click(addUser);
	$('.edit-user').click(editUser);
});
</script>
{% endblock %}
