{% extends "base.html" %}
{% block custom_javascript %}
<style>
.customer-tile{
    height: 100px;
      background: white;
      border: 1px solid #ddd;
	  margin-bottom: 15px;
	  margin-left: 15px;
	  position: relative;
	  opacity: .75;
	  filter: alpha(opacity=75);
	  border-radius: 5px;
	  padding: 20px;
	  overflow: hidden;
	  cursor: pointer;
	  color: #000;
	  text-decoration: none;
}
.customer-tile h4{
    margin-top:0;
}
.customer-tile:hover {
  border: 2px solid #ddd;
  background-color: #ddd;
  padding: 19px;
  color: #000;
  text-decoration: none;
}
</style>
<script src="/static/js/shop/customers.js"></script>
{% endblock %}
{% block body %}
<h2>Customers</h2>
<div id="customers-container" class="row">
    {% for c in customers %}
    <div class="span4 customer-tile" custId="{{ c.id }}">
        <h4>{{c.name}}</h4>
        <div>
        Loyalty system: 
        {% if c.has_loyalty %}
            <i class="icon-ok"></i>
        {% else %}
            <i class="icon-remove"></i>
        {% endif %}
        </div>
        <div>Subscription:{% if c.subscription %} Full {% else %} Static {% endif %}</div>
        </div>
    {% endfor %}
</div>

{% endblock %}
