{% extends "base.html" %}

{% block body %}
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Date</th>
            <th>Order NR</th>
            <th>Customer{% if admin %}<br>Manager{% endif %}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for order, customer in orders %}
            <tr class="error">
                <td>{{ order.full_date_str }}</td>
                <td>{{ order.order_number }}</td>
                <td><a href="#charge-customer-{{ customer.id }}"
                       open-customer-popup="{{ customer.id }}">{{ customer.name }}</a>
                    {% if admin %}<br>{{ order.manager }}{% endif %}</td>
                <td>
                    <a class="btn btn-success view-order"
                       customer_id="{{ order.customer_id }}"
                       order_number="{{ order.order_number }}"
                       order_status="{{ order.status }}"
                       href="#">Sign</a>
                    {% if order.is_subscription_order and not customer.service_email %}
                        <a class="btn btn-inverse create-service"
                           customer_id="{{ order.customer_id }}"
                           href="#">Create</a>
                    {% endif %}
                    {% if order.is_subscription_order and customer.service_email %}
                        <a class="btn btn-info open-service"
                           href="{{ customer.auto_login_url }}" target="_blank"><i class="fa fa-dashboard"></i> Open</a>
                    {% endif %}
                    <a class="btn btn-danger cancel-order"
                       customer_id="{{ order.customer_id }}"
                       order_number="{{ order.order_number }}"
                       href="#">Cancel</a>
                    {% if admin %}
                        <a class="btn btn-danger set-manager"
                           customer_id="{{ order.customer_id }}"
                           order_number="{{ order.order_number }}"
                           href="#">Manager</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'view-order.part.html' %}

    <div class="modal hide fade" id="set_manager">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Set Manager</h3>
        </div>
        <div class="modal-body">
            <select id="order_manager">
                {% for manager in managers %}
                    <option value="{{ manager.email }}">{{ manager.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" id="button_set_manager">Save</a>
        </div>
    </div>

    <div class="modal hide fade" id="change_contact_form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Change contact order</h3>
        </div>
        <div class="modal-body">
            <h4>Current contact</h4>
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td>First Name</td>
                    <td id="old_contact_first_name"></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td id="old_contact_last_name"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td id="old_contact_email"></td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td id="old_contact_phone"></td>
                </tr>
                </tbody>
            </table>
            <h4>Select New Contact</h4>
            <select id="new_order_contact"></select>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" id="button_save_contact">Save</a>
        </div>
    </div>
{% endblock %}
