{% extends "base.html" %}

{% block body %}

<input class="span8" id="title" type="text" placeholder="Enter title ..." value="{{ question.title }}"/>
<button id="save_title_btn" class="btn btn-success" style="margin-left: 10px; margin-bottom:10px;"
        aria-hidden="true">Save
</button><br>

<div class="clearfix">
    <strong>Modules:</strong><br>
    <div id="tags" class="span8">
        {% for mod in modules %}<label class="checkbox inline"><input {% if mod.0 in question.modules %}checked="checked"{% endif %} type="checkbox" value="{{mod.0}}"/>{{mod.1}}</label>{% endfor %}
    </div>
    <br>
    <button id="save_modules_btn" class="btn btn-success" aria-hidden="true">Save</button>
</div>
<br>
<label for="question_status">Status</label>
<select id="question_status">
    {% for value, label in question_statuses %}
    <option value="{{ value }}" {% if question.status == value %}selected{% endif %}>
        {{ label }}
    </option>
    {% endfor %}
</select>

<table class="table table-striped table-hover table-bordered">
    <thead></thead>
    <tbody>
    <tr>
        <td>
            <div>
                <div class="clearfix">
                <strong style="float: left;">By {{ question.author }} - {{ question.get_author_name }}</strong>
                <p style="float: right;">{{ question.full_date_str }}</p>
            </div>
            <pre class="formatted">{{ question.description }}</pre>
        </div>
        </td>
    </tr>
    {% for answer in all_replies %}
    <tr><td>
        <div>
            <div class="clearfix">
                <strong style="float: left;">By {{ answer.author }} - {{ answer.get_author_name }}</strong>
                <p style="float: right;">{{ answer.full_date_str }}</p>
            </div>
            <pre class="formatted">{{ answer.description }}</pre>
        </div>
    </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div>
    <h3>Reply</h3>
    <input id="author_name" type="text" placeholder="Enter author name ..."/><br>
    <textarea id="reply_question_text" rows="5" class="span8" placeholder="Enter reply ..."></textarea><br>
    <br>
    <label class="checkbox">
        <input type="checkbox" id="reply_close_question">
        Mark as solved
    </label>
    <button id="reply_question_btn" class="btn btn-success span8" style="margin-left: 0;" aria-hidden="true">Reply
    </button>
    <br>
    <br>
</div>
<script>
$(function () {
    var questionId = {{ question.id }};

    $("#save_title_btn").click(function () {
        var title = $("#title").val().trim();
        if (!title) {
            alert("Please provide a title.");
            return;
        }

        sln.call({
            url: '/internal/shop/rest/question/title',
            type: 'POST',
            data: {
                question_id: questionId,
                title: title
            },
            success: function () {
                window.location.reload();
            },
            error: function () {
                alert("An error occured, please check this with your administrator.");
            }
        });
    });

    $('#question_status').change(function () {
        sln.call({
            url: '/internal/shop/rest/question/status',
            type: 'POST',
            data: {
                question_id: questionId,
                status: parseInt($('#question_status').val()),
            },
            success: function () {
                $('#btn_mark_as_resolved').hide();
            },
        });
    });

    $("#save_modules_btn").click(function () {
        var tags = [];
        $("#tags input:checked").each(function () {
            tags.push($(this).val());
        });
        console.log(tags);

        sln.call({
            url: '/internal/shop/rest/question/modules',
            type: 'POST',
            data: {
                data: JSON.stringify({
                    question_id: questionId,
                    modules: tags
                })
            },
            success: function () {
                window.location.reload();
            },
            error: function () {
                alert("An error occured, please check this with your administrator.");
            }
        });
});

    $("#reply_question_btn").click(function () {
        var reply = $("#reply_question_text").val().trim();
        if (!reply) {
            alert("Please provide an answer.");
        }
        var author_name = $("#author_name").val().trim();
        if (!author_name) {
            alert("Please provide an name.");
            return;
        }
        var close = $('#reply_close_question').prop('checked');
        sln.call({
            url: '/internal/shop/rest/question/reply',
            type: 'POST',
            data: {
                question_id: questionId,
                description: reply,
                author_name: author_name,
                close,
            },
            success: function () {
                window.location.reload();
            },
            error: function () {
                alert("An error occured, please check this with your administrator.");
            }
        });
    });
});
</script>
{% endblock %}
