<div id="create_service_form_tmpl">
    <div id="create_service_form">
        <h4>Customer service</h4>
        <div style="min-height: 200px;">
            <div class="alert alert-error" id="create_service_error" style="display: none;">
                <strong>Error!</strong> <span></span>
            </div>
            <div class="pull-left">
                <a href="#" class="btn" id="button_create_service_prev">Previous</a>
            </div>
            <div class="pull-right">
                <a href="#" class="btn" id="button_create_service_next">Next</a>
            </div>
            <div>
                <ul class="nav nav-pills">
                    <li class="active" section="section_metadata"><a href="#">Metadata</a></li>
                    <li section="section_modules"><a href="#">Functionality</a></li>
                    <li section="section_apps"><a href="#">Apps</a></li>
                </ul>
                <section id="section_metadata">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="control-group hide">
                                <label class="control-label" for="service_customer_name">Customer</label>

                                <div class="controls">
                                    <input type="text" placeholder="Customer name" id="service_customer_name"
                                           class="customer_select" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="service_email">Login e-mail</label>

                                <div class="controls">
                                    <input type="email" id="service_email" required="required"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="service_organization_type">Type</label>

                                <div class="controls">
                                    <select id="service_organization_type">
    {% for orga_value, orga_descr, orga_default in organization_types %}
                                        <option value="{{ orga_value }}"
                                        {% if orga_default %}selected="selected" {% endif %}>{{ orga_descr }}
                                        </option>
    {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="service_language">Language</label>

                                <div class="controls">
                                    <select id="service_language">
                                        <option value="">Choose language...</option>
                                        {% for code, lang in languages %}
                                        <option value="{{ code }}">{{ lang }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </section>
                <section id="section_modules">
                    <form id="form_modules" class="form-horizontal">
                        <fieldset>
                            <div class="alert alert-info hide" id="static_service_info">
                                <strong>Info:</strong> <span>This customer has a static subscription and thus only a few settings can be changed.</span>
                            </div>
{# split the checkboxes in different colums #}
{% for module, module_str in modules %}
    {% if forloop.first or forloop.counter == 8 or forloop.counter == 15 or forloop.counter == 22 or forloop.counter == 29  %}
                            <div class="span2">
    {% endif %}
                                <label class="checkbox">
                                    <input type="checkbox" value="{{ module }}"/> {{ module_str }}
                                </label>
    {% if forloop.last or forloop.counter|divisibleby:7 %}
                            </div>
    {% endif %}
{% endfor %}
                        </fieldset>
                    </form>
                    <form id="form_broadcast_types" class="form-horizontal span8">
                        <fieldset>
                            <legend>Broadcast types</legend>

                            <div>
{% for broadcast_type_str in broadcast_types %}

    {% if forloop.first or forloop.counter == 5 or forloop.counter == 9 or forloop.counter == 13%}
                                <div class="span2">
    {% endif %}
                                <label class="checkbox">
                                    <input type="checkbox" value="{{ broadcast_type_str }}"/> {{ broadcast_type_str }}
                                </label>
    {% if forloop.last or forloop.counter|divisibleby:4 %}
                                </div>
    {% endif %}
{% endfor %}
                            </div>
                            <div class="span3">
                            <label class="control-label" for="service_other_broadcast_types"
                                    style="width: 250px;">Other (Optional)</label>
                                <textarea id="service_other_broadcast_types" rows="3"
                                          placeholder="1 broadcast type per line"></textarea>
                            </div>
                        </fieldset>
                    </form>
                    <form id="form_managed_organization_types" class="form-horizontal span3">
                        <fieldset>
                            <legend>Organization types</legend>
                            <div>
                                <div class="span2">
	                                <label class="checkbox">
	                                    <input type="checkbox" value="1"/> Association
	                                </label>
	                                <label class="checkbox">
                                        <input type="checkbox" value="2"/> Merchant
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox" value="3"/> Community service
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox" value="4"/> Care
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </section>
                <section id="section_apps">
                    <form id="form_apps" class="form-horizontal">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="service_default_app">Default app</label>

                                <div class="controls">
                                    <select id="service_default_app">
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Other apps</label>

                                <div class="controls" id="other-apps">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
