{% extends "base.html" %}

{% block custom_javascript %}
<link href="/static/bootstrap/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script src="/static/bootstrap/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/shop/tasks.js"></script>
{% endblock %}

{% block body %}
    <select id="filter-by-app">
        <option value="all">Filter by app...</option>
        <option value="all">All apps</option>
        {% for app in apps %}
            <option value="{{ app }}">{{ app }}</option>
        {% endfor %}
    </select>
    <select id="filter-by-type">
        <option>Select task type...</option>
        {% for key, task_type in task_types %}
            <option value="{{ key }}">{{ task_type }}</option>
        {% endfor %}
    </select>
<div class="row-fluid" id="task-container">
</div>

{% endblock %}
