<mat-toolbar color="primary">
  <a mat-icon-button routerLink="..">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <h1>Map settings</h1>
</mat-toolbar>
<div *ngIf="mapConfig$ | async as mapConfig" class="config-container">
  <rcc-map-config [filters]="filters"
                  [mapConfig]="mapConfig.result"
                  *ngIf="mapConfig.result" (saved)="onSaved($event)"></rcc-map-config>
  <div *ngIf="mapConfig.state === LOADING" class="spinner-container">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>
