.section-toolbar {
  height: 48px;
  border-radius: 8px;
}

.section-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.questions-container {
  margin: 0 auto;
  width: 640px;
  min-width: 320px;
}

.component-card {
  margin: 16px 0;
}

agm-map {
  height: 300px;
}

.flex {
  display: flex;
}
