.moment-radio-group {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.moment-option {
  margin: 8px 0;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
}

.date-field {
  margin: 8px 0;
}
