.value-field {
  width: 332px;
}

.edit-fields {
  margin: 0 16px;
}

.name-field {
  margin-left: 16px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  padding: 16px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.value-list {
  width: 640px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.value-list.cdk-drop-list-dragging .value-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
