<form (ngSubmit)="saveSettings()" [formGroup]="formGroup" class="qmatic-settings-form">
  <p>{{ 'oca.q-matic-info' | translate }}</p>
  <mat-form-field>
    <mat-label>{{ 'oca.Url' | translate }}</mat-label>
    <input autocomplete="off" formControlName="url" matInput type="url">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'oca.Secret' | translate }}</mat-label>
    <input autocomplete="off" formControlName="auth_token" matInput type="password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'oca.required_fields' | translate }}</mat-label>
    <mat-select formControlName="required_fields" multiple>
      <mat-option *ngFor="let field of possibleRequiredFields" [value]="field.value">
        {{ field.label | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-slide-toggle formControlName="show_product_info">
    {{ 'oca.qmatic_show_service_info' | translate }}
  </mat-slide-toggle>
  <button mat-stroked-button [disabled]="loading$ | async">{{ 'oca.Save' | translate }}</button>
</form>
