{% raw %}
<div id="${ID(poll.id)}" data-role="page">

    <div data-role="header">
        <h1>${poll.name}</h1>
    </div>

    <div role="main" class="ui-content" style="text-align: center;">
        {{if poll.status === PollStatus.running}}
            {{if poll.answered}}
                <h3>${t.poll_you_already_voted}</h3>
            {{else}}
                <p><a href="#${ID(poll.id, 0)}" class="ui-btn ui-shadow ui-corner-all">${t.vote_now}</a></p>
            {{/if}}
        {{else}}
            <p><a href="${poll.results_url}" class="ui-btn ui-shadow ui-corner-all">${t.show_results}</a></p>
        {{/if}}
    </div>

    <div data-role="footer">
        <h3><a href="#polls">${t.back}</a></h3>
    </div>
</div>
{% endraw %}
