<body class="ui-mobile-viewport ui-overlay-a">
    <div data-role="page" id="polls" tabindex="0" class="ui-page ui-page-theme-a ui-page-active ui-page-header-fullscreen ui-page-footer-fullscreen">
        <div id="polls-content" role="main" class="ui-content">
            <h2 id="polls-empty" style="text-align: center; display: none;">{% translate language, 'common', 'no_running_polls' %}</h2>

            <div id="polls-list"><div>
        </div>
        <div id="polls-footer" style="display: none;" data-role="footer" data-position="fixed" data-fullscreen="true" data-tap-toggle="false" class="ui-footer ui-footer-fullscreen ui-bar-a ui-footer-fixed slideup">

        </div>
    </div>

    <div data-role="page" id="no-network">
        <div data-role="header">
            <h1>{% translate language, 'common', 'no_internet_connection' %}</h1>
        </div>
        <!-- /header -->
        <div data-role="content">
           <p>{% translate language, 'common', 'no_internet_connection_try_again' %}</p>
           <a href="#" id="no-network-retry" class="ui-btn ui-btn-b ui-corner-all" onclick="">{% translate language, 'common', 'Retry' %}</a>
        </div>
        <!-- /content -->
    </div>
</body>
