Estimado{% if name %} {{ name|escape }}{% endif %},

Este es su código de activación para la app {{ app.name }}:

{{ pin }}

Volver a la app {{ app.name }} en su dispositivo móvil e introduzca su código de activación para continuar.

!Gracias por utilizar la app {{ app.name }}!

- El equipo de {{ app.name }}
