<html>
  <body>
    <p>{{ profile.name }} quiere comunicarse con usted con una app innovadora.</p>
    <p>
      <ul>
        <li>
          Paso 1. Instalar app {{ app.name }}:<br>
          <a href="{{ BASE_URL }}/install?a={{ app.app_id }}&email">{{ BASE_URL }}/install?a={{ app.app_id }}&email</a><br><br>
        </li>
        <li>
          Paso 2. Subscribirse a {{ profile.name }}:<br>
          <a href="{{ short_url }}{% if secret %}?s={{ secret }}{% endif %}">{{ short_url }}{% if secret %}?s={{ secret }}{% endif %}</a>
        </li>
      </ul>
    </p>
    <p>&nbsp;</p>
    {% if message %}
    <p>
      {{ profile.name }} nota personal añadida a su invitación:
    </p>
    <p style="background-color: #f0e68c; padding: 10px; margin-left: 20px; border-radius: 15px; margin-right: 20px; padding-left: 20px; -moz-border-radius: 15px;">
      {{ message }}
    </p>
    {% endif %}{% if consts.INCLUDE_ROGERTHAT_DOT_NET %}
    <p>
    Para obtener más información acerca de {{ app.name }} y otros productos a base Rogerthat, por favor visite:<br>
    <a href="http://www.rogerthat.net">http://www.rogerthat.net</a>
    </p>{% endif %}
  </body>
</html>
