Estimado,

{{ profile.name }} quiere mejorar sus servivios a través de la app de {{ app.name }} para servicio al cliente. 
Usted puede usar la app de {{ app.name }} para comunicarse con {{ profile.name }} y otras organizaciones que utilizan Rogerthat.

Paso 1. Instalar la app {{ app.name }} gratis:
{{ BASE_URL }}/install?a={{ app.app_id }}&email

Paso 2. Subscribirse a {{ profile.name }}:
{{ short_url }}{% if secret %}?s={{ secret }}{% endif %}


{% if message %}{{ profile.name }} añadida una nota personal a su petición de invitación:
{{ message }}

{% endif %}{% if consts.INCLUDE_ROGERTHAT_DOT_NET %}

Para obtener más información acerca de {{ app.name }} y otros productos a base Rogerthat, por favor visite:
http://www.rogerthat.net{% endif %}
