mat-dialog-content {
  min-width: calc(80vw - 48px);
  min-height: 65vh;
}

.hidden-file-input {
  display: none;
}

.choose-button {
  margin: 16px;
}

$img-dimension: 180px;

.uploaded-image {
  height: $img-dimension;
  width: $img-dimension;
  display: inline-block;
  margin: 8px;

  img {
    max-width: $img-dimension;
    max-height: $img-dimension;
  }
}

.image-container {
  display: flex;
  height: $img-dimension;
  width: $img-dimension;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
