<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <title>{% block title %}{% endblock %} | {% translate language, "common", "our-city-app" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/images/public/favicon.png"/>

    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/public/base.css">
    {% if theme_css %}
    <style>{{ theme_css }}</style>
    {% else %}
    <link rel="stylesheet" href="/static/css/public/oca-theme.css">
    {% endif %}
    {% block css %}{% endblock %}
</head>
<body>
<div id="main_container">
    <div id="header">
        <div id="logo"></div>
        {%if not app_id %}
        <a id="home-link" class="pull-right" href="{% translate language, 'common', 'http://www.ourcityapps.com' %}">
            <h4 style="color: white;">{% translate language, "common", "home" %}</h4>
        </a>
        {% endif %}
    </div>
    <div id="body" class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
    </div>
</div>
<script>
    //Used by sln-utils
    var CommonTranslations = {
        AJAX_ERROR_MESSAGE: '{% translate language, "common", "ajax-error-message" %}',
        ALERT: '{% translate language, "common", "Alert" %}',
        CANCEL: '{% translate language, "common", "Cancel" %}',
        CHANNEL_DISCONNECTED_RELOAD_BROWSER: '{% translate language, "common", "channel-disconnected-reload-browser" %}',
        CLOSE: '{% translate language, "common", "Close" %}',
        CONFIRM: '{% translate language, "common", "Confirm" %}',
        INPUT: '{% translate language, "common", "Input" %}',
        NO: '{% translate language, "common", "No" %}',
        PARSING_DOT_DOT_DOT: '{% translate language, "common", "parsing-dot-dot-dot" %}',
        SUBMIT: '{% translate language, "common", "Submit" %}',
        WARNING: '{% translate language, "common", "warning" %}',
        YES: '{% translate language, "common", "Yes" %}',
        ERROR: '{% translate language, "common", "Error" %}',
        SUCCESS: '{% translate language, "common", "Success" %}',
        SUBMITTING_DOT_DOT_DOT: '{% translate language, "common", "submitting-dot-dot-dot" %}',
        EMAIL: '{% translate language, "common", "Email" %}',
        remember_my_choice: '{% translate language, "common", "remember_my_choice" %}'
    };
    var SIGNUP_APP_ID = '{{ app_id }}';
</script>

<script src="/static/js/jquery-1.10.0.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.tmpl.min.js"></script>
<script src="/static/js/stacktrace.js"></script>
<script src="/static/js/solutions/sln-errors.js"></script>
<script src="/static/js/solutions/sln-utils.js"></script>
<script src="/static/js/public/common.js"></script>
{% block js %}{% endblock %}
</body>
</html>
