{% extends 'public/base.html' %}

{% block title %}Cirklo{% endblock %}

{% block content %}
 <div class="span6" style="float: none; margin: 0 auto; background-color: white; padding: 10px; border-radius: 5px;">
<p style="word-wrap: break-word;" align="center">
🎉🎉🎉<br/><br/>
🙌 <strong>WOEHOEW!</strong> 🙌<br/><br/>
Proficiat beste handelaar, u hebt bij deze uw deelname aan het cadeaubon-initiatief van uw stad/gemeente via <a href="https://cirklo-light.com/pages/ondernemer" target="_blank">Cirklo Light</a> bevestigd & uw gegevens met hen gedeeld.<br/><br/>
U ontvangt binnenkort een e-mail op <strong>DITZELFDE e-mailadres</strong> met meer informatie over hoe u waardebonnen van uw klanten kan scannen enz. Veel succes gewenst! Heeft u een vraag? Raadpleeg dan deze <a href="https://cirklo-light.com/pages/faq" target="_blank">FAQ</a> of mail naar <a href="mailto://support@cirklo-light.com" target="_blank">support@cirklo-light.com</a><br/><br/>
🎉🎉🎉<br/>
</p>
</div>
{% endblock %}