{% extends 'public/base.html' %}

{% block title %}{% translate language, "reset-password" %}{% endblock %}

{% block js %}
    <script>
        var ResetPasswordTranslations = {
            RESET_INSTRUCTIONS_SENT: '{% translate language, "reset-password-instructions-sent" %}',
            RESET_PASSWORD_FAILED: '{% translate language, "reset-password-failed" %}',
            RESET_PASSWORD: '{% translate language, "reset-password" %}',
        };
    </script>
    <script src="/static/js/public/reset_password.js"></script>
{% endblock %}

{% block content %}
    <div id="send_password_instructions_box" class="span6 box-small-width" style="float: none; margin: 0 auto;">
        <h1 >{% translate language, "reset-password" %}</h1>
        <p id="reset_password_note" style="word-wrap: break-word;" align="justify">
            {% translate language, "reset_password_note" %}
        </p>
        <a id="go_back" style="display: none;" href="{{ signin_url }}">
            {% translate language, "back_to_sign_in_page" %}
        </a>

        <form class="white-box">
            <p id="errors" class="text-error"></p>
            <input id="email" type="email" class="input-block-level" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                   placeholder="{% translate language, "Email" %}" minlength="8" required>
            <button id="send_instructions" class="btn btn-wizard pull-right" type="button">
                    {% translate language, "Send" %}
            </button>
            <a class="btn btn-wizard pull-left" href="{{ signin_url }}">
                {% translate language, "back" %}
            </a>
            <div class="clearfix"></div>
        </form>
    </div>
{% endblock %}
