{% extends 'public/base.html' %}

{% block title %}{% translate language, "reset-password" %}{% endblock %}

{% block js %}
    <script>
        var SetPasswordTranslations = {
            MISMATCH: "{% translate language, "password-mismatch" %}"
        };
    </script>
    <script src="/static/js/public/set_password.js"></script>
{% endblock %}

{% block content %}
    <div id="reset_password_box" class="span6 box-small-width" style="float: none; margin: 0 auto;">
        <h1>{% translate language, "reset-password" %}</h1>
        <p id="reset_password_note" style="word-wrap: break-word;" align="justify">
            {% translate language, "dear_name", "name=" + name %},<br/>
            {% translate language, "set_password_note" %}
        </p>

        <form id="reset_password_form" method="post">
            <input type="hidden" name="email" value="{{ email }}" required/>
            <input id="password" type="hidden" name="password"/>
            <input type="hidden" name="data" value={{ data }}/>
        </form>

        <form class="white-box">
            <input id="password1" type="password" class="input-block-level"
                   placeholder="{% translate language, "password" %}" minlength="8" required>
            <div>
                <input id="password2" type="password" class="input-block-level"
                       placeholder="{% translate language, "password-confirm" %}" minlength="8" required>
                <button id="reset_password_button" class="btn btn-wizard pull-right" type="button">
                    {% translate language, "Submit" %}
                </button>
            </div>
            <p id="errors" class="text-error"></p>
            <div class="clearfix"></div>
        </form>

    </div>
{% endblock %}
