{% extends 'public/base.html' %}

{% block title %}{% translate language, "sign-in" %}{% endblock %}

{% block js %}
    <script>
        var SigninTranslations = {
            LOGIN_FAIL: '{% translate language, "invalid-email-password-combination" %}',
            TOO_MANY_ATTEMPTS: '{% translate language, "too-many-failed-attempts" %}',
            DEACTIVATED_ACCOUNT: '{% translate language, "deactivated-account" %}',
            DEACTIVATED_SERVICE: '{% translate language, "deactivated-service" %}',
        };
    </script>
    <script src="/static/js/public/signin.js"></script>
{% endblock %}

{% block content %}
    <div id="signin_box" class="span6 box-small-width" style="float: none; margin: 0 auto;">
        <h1>{% translate language, "sign-in" %}</h1>
        <p id="singin_note" style="word-wrap: break-word;" align="justify">
            {% translate language, "signin_note" %}
        </p>

        <form id="signin_form" class="white-box">
            <input id="email" type="email" class="input-block-level" autocomplete="current-email"
                   placeholder="{% translate language, 'email_address' %}" required>
            <div>
                <input id="password" type="password" class="input-block-level"
                       placeholder="{% translate language, 'password' %}" minlength="5" required
                       autocomplete="current-password">
                <button id="signin_button" class="btn btn-wizard pull-right" type="button">
                    {% translate language, "sign-in" %}
                </button>
            </div>
            <p id="errors" class="text-error" style="display: none;"></p>
            <a id="forgot_password" href="{{ reset_password_url }}">
                {% translate language, "forgot-password" %}
            </a>
            <p class="no-account-yet">
                {% translate language, "do-not-have-account" %}
                <a href="{{ signup_url }}">
                    {% translate language, "you-can-signup" %}
                </a>
            </p>
        </form>
    </div>
{% endblock %}
