{% extends 'public/base.html' %}

{% block title %}{% translate language, 'common', 'set_password' %}{% endblock %}

{% block content %}
    <script>
        var TRANSLATIONS = {
            SERVICE_CREATED: "{% translate language, 'common', 'service_created' %}",
            CREATING_SERVICE: "{% translate language, 'common', 'creating_service_progress' %}",
            SIGNIN: "{% translate language, 'common', 'sign-in' %}",
            ERROR: "{% translate language, 'common', 'Error' %}",
            SUCCESS: "{% translate language, 'common', 'Success' %}",
        };
    </script>
    <style>
        #setpassword_form {
            display: flex;
            flex-direction: column;
        }
    </style>
    <div class="span6" style="float: none; margin: 0 auto;">
        <h1>{% translate language, 'common', "set_password" %}</h1>
        <h4>{% translate language, 'common', 'set_password_after_signup' %}</h4>
        <form id="setpassword_form" class="form-horizontal white-box">
            <input type="hidden" value="{{ data }}" name="data" id="login_data">
            <div class="control-group">
                <label for="login_email"
                       class="control-label">{% translate language, 'common', 'login_email' %}</label>
                <div class="controls">
                    <input id="login_email" name="email" class="input-block-level" required readonly
                           autocomplete="username"
                           value="{{ email }}"/>
                </div>
            </div>
            <div class="control-group">
                <label for="password"
                       class="control-label">{% translate language, 'common', 'password' %}</label>
                <div class="controls">
                    <input id="password" type="password" name="password" class="input-block-level"
                           autocomplete="new-password" required/>
                </div>
            </div>
            <div class="control-group">
                <label for="password_confirm"
                       class="control-label">{% translate language, 'common', 'password-confirm' %}</label>
                <div class="controls">
                    <input id="password_confirm" type="password" name="password_confirm" class="input-block-level"
                           autocomplete="new-password"
                           required/>
                </div>
            </div>
            <button class="btn btn-wizard" style="align-self: flex-end;">
                {% translate language , 'common', 'Submit' %}
            </button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/public/signup_set_password.js"></script>
{% endblock %}
