/* You can add global styles to this file, and also import other style files */
@import '~cropperjs/dist/cropper.css';
@import '~simplemde/dist/simplemde.min.css';
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$oca-app-primary: mat-palette($mat-cyan);
$oca-app-accent: mat-palette($mat-deep-purple, A200, A100, A400);
$oca-app-theme: mat-light-theme($oca-app-primary, $oca-app-accent);

// Include the default theme styles.
@include angular-material-theme($oca-app-theme);

html, body {
  font-family: Roboto, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100%;
}

.icons-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.flex-grow {
  display: flex;
  flex-grow: 1;
}

.add-section-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab-bottom-right {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 1000;
}

fieldset {
  border: none;
}

.slide-toggle-margin {
  margin: 16px;
}

.page-margin {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
}

.CodeMirror, .CodeMirror-scroll {
  min-height: 26px;
}

.mat-stepper-vertical {
  // By default this is white, reset to whatever the background of the parent component is.
  background-color: inherit;
}

.mat-menu-panel {
  // By default it's set to 280px which may not be enough
  max-width: none !important;
}

/* <editor-fold defaultstate="collapsed" desc="Mapael">*/
.mapTooltip {
  position: absolute;
  border: 1px solid #dbdbd6;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
  padding: .27778em .83333em;
  z-index: 1000;
  display: none;
  color: #333;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.map {
  position: relative;
}

/* </editor-fold> */

/* <editor-fold description="dialog overlays"> */
.map-panel {
  // important is used because MatDialog applies css to the elements
  max-height: none !important;

  width: calc(100% - 4em) !important;
}

@media (min-width: 1500px) {
  .map-panel {
    width: 1500px;
  }
}

/* </editor-fold> */
