<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stripe {% translate language, "common", "Payment cancelled" %}</title>

  <style>
    html {
      background: #fff;
      color: #222;
      padding: 15px;
      font: 15px/22px arial, sans-serif;
    }

    body {
      margin: 7% auto 0;
      max-width: 390px;
      min-height: 180px;
      padding: 30px 0 15px;
    }

    ins {
      color: #777;
      text-decoration: none;
    }

  </style>
</head>
<body>
	<p>
  		<b>Stripe</b>
  		<ins>{% translate language, "common", "Payment cancelled" %}</ins>
	</p>
	<p>{% translate language, "common", "You can close this window now..." %}</p>
</body>
</html>