<mat-toolbar color="primary">
  <button mat-icon-button [routerLink]="['..']">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 class="flex-grow">{{ 'oca.edit_form' | translate }}</h1>
  <span class="icons-row">
    <button type="button" mat-icon-button [matMenuTriggerFor]="moreMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </span>
</mat-toolbar>
<mat-menu #moreMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="testForm()">
      <mat-icon>visibility</mat-icon>
      <span>{{ 'oca.preview_form' | translate }}</span>
    </button>
    <button mat-menu-item (click)="downloadResponses()">
      <mat-icon>cloud_download</mat-icon>
      <span>{{ 'oca.download_responses' | translate }}</span>
    </button>
    <button mat-menu-item (click)="copyForm()">
      <mat-icon>file_copy</mat-icon>
      <span>{{ 'oca.make_copy' | translate }}</span>
    </button>
    <button mat-menu-item (click)="showDeveloperInfo()">
      <mat-icon>code</mat-icon>
      <span>{{ 'oca.developer_information' | translate }}</span>
    </button>
    <button mat-menu-item (click)="exportForm()">
      <mat-icon>cloud_download</mat-icon>
      <span>{{ 'oca.export_form' | translate }}</span>
    </button>
    <button mat-menu-item (click)="importForm()">
      <mat-icon>cloud_upload</mat-icon>
      <span>{{ 'oca.import_form' | translate }}</span>
    </button>
  </ng-template>
</mat-menu>
<ng-container *ngIf="form$ | async as form">
  <oca-form-detail [form]="form.data" *ngIf="form.data"
                   [statistics]="formStatistics$ | async"
                   [tombolaWinners]="tombolaWinners$ | async"
                   [formResponse]="formResponse$ | async"
                   [activeIntegrations]="activeIntegrations$ | async"
                   (save)="onSave($event)"
                   (tabChanged)="onTabChanged($event)"
                   (menuOptionClicked)="onMenuOptionClicked($event)"
                   (createNews)="createNews()"
                   (testForm)="onTestForm($event)"
                   (nextResponse)="onNextResponse($event)"
                   (removeResponse)="onRemoveResponse($event)"></oca-form-detail>
</ng-container>
