*~
*.bak
*.swp
*.tmp
*.pyc
.project
.pydevproject
.settings
.DAV
setenv.sh
.DS_Store
js-test/gen/*
src-tools/shop/*.xls
.idea
bin/
build/
src-frontend/node_modules
src/static/admin
src/static/libs
src/shop/admin/admin.min.html
src/solution_server_settings/consts.py
src/migrations/
node_modules/
npm-debug.log
