*~
*.bak
*.swp
*.tmp
*.pyc
.project
.pydevproject
.settings
.DAV
setenv.sh
.DS_Store
js-test/gen/*
src-tools/shop/*.xls
.idea
bin/
build/
src/solution_server_settings/consts.py
src/migrations/
node_modules/
npm-debug.log
google-app-credentials.json
.vscode
src/static/oca-forms/
