{% extends "base_base_mobile_simple_no_javascript.html" %}

{% block body %}
<table cellpadding="5" style="background: none !important;">
<tr>
<td colspan="2">
<p class="mob-top">
<label>App met id {{ app_id } kon niet gevonden worden.</label><br><br>
</p></td>
</tr>
</table>
{% endblock %}
