{% extends "base_base_mobile_simple_no_javascript.html" %}

{% block body %}
<p>{{ app.name }} is momenteel enkel ondersteund op iPhone and Android.</p>
<p>Installeer de <b>"{{ app.name }}"</b> app op je toestel en ga verder met stap 2 in uw {{ invitation_kind }}.</p>
<p>
  <a href="{{ app.ios_appstore_web_uri }}" target="_blank"><img src="/static/images/M_2.png" /></a>
  <a href="{{ app.android_market_web_uri }}" target="_blank"><img src="/static/images/M_1.png" /></a>
</p>
{% endblock %}
