<div id="polls" class="page" style="display: none;">
    <div id="polls-list-container" class="polls-container">
        <h2> {% translate language, "common", "polls" %}</h2>

        <div class="span12">
            <div class="pull-right create-poll">
                <a class="btn btn-success" href="#/polls/add"><i class="fa fa-plus"></i>
                    {% translate language, "common", "create_poll" %}
                </a>
            </div>
        </div>

        <div class="polls-list span12">
        </div>
    </div>
    <div id="poll-form-container" class="polls-container"></div>
    <div id="poll-results-container" class="polls-container"></div>
    <div id="polls_loading_indicator"></div>

</div>

<script src="/static/js/solutions/sln-polls-requests.js"></script>
<script src="/static/js/solutions/sln-polls.js"></script>
