{% raw %}
<div class="row poll" style="padding: 5px;">
    <div class="span12">
        <a href="#/polls/edit/${poll.id}">${poll.name}</a>
        {{if poll.is_vote}}
        <span class="label label-info">${t.vote}</span>
        {{/if}}
        <div poll_id="${poll.id}" poll_status="${poll.status}" class="pull-right">
            {{if poll.status === PollStatus.pending}}
            <button class="btn btn-success run-poll"><i class="fa fa-play"></i></button>
            {{/if}}
            {{if poll.status === PollStatus.running}}
            <button class="btn btn-success stop-poll"><i class="fa fa-stop"></i></button>
            {{/if}}
            {{if poll.status === PollStatus.pending}}
            <a class="btn btn-primary" href="#/polls/edit/${poll.id}"><i class="fa fa-edit"></i></a>
            {{/if}}
            {{if poll.status !== PollStatus.running}}
            <a class="btn btn-danger remove-poll"><i class="fa fa-trash"></i></a>
            {{/if}}
            {{if poll.status !== PollStatus.pending}}
            <a class="btn btn-success show-poll-results" href="#/polls/result/${poll.id}">
                <i class="fa fa-list-ul"></i>
            </a>
            {{/if}}
        </div>
    </div>
</div>
{% endraw %}
