{% raw %}
<form class="form-horizontal row" id="poll-form">

    <fieldset class="span12 center">

        <legend><a href="#/polls" class="btn btn-default"><i class="fa fa-arrow-left"></i> ${t.back}</a>
            {{if readonly}}
            ${t.View}
            {{else}}
            {{if edit}}${t.Edit}{{else}}${t.create_poll}{{/if}}
            {{/if}}
        </legend>

        <div class="control-group">
            <label for="poll-name" class="control-label">${t['reservation-name']}</label>

            <div class="controls">
                <input type="text" id="poll-name" name="poll-name" value="${poll.name}" required>
            </div>
        </div>

        <div class="control-group">
            <label for="poll-is-vote" class="control-label">${t.vote}</label>
            <div class="controls">
                <div class="checkbox">
                    <input type="checkbox" id="poll-is-vote" name="poll-is-vote" {{if poll.is_vote}}checked{{/if}} {{if edit}}disabled{{/if}}>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label for="poll-questions" class="control-label">${t.questions}</label>
            <div class="controls">
                <button id="add-question" type="button" class="btn btn-success">
                    <i class="fa fa-plus"></i>
                </button>
                <div id="question-list"></div>
            </div>
        </div>
        <div class="control-group">
                <button type="button" id="poll-submit" class="btn btn-success pull-right"
                        style="margin-top: 10px;">{{if edit}}${t.Save}{{else}}${t.create_poll}{{/if}}
            </div>
        </div>
    </fieldset>
</form>
{% endraw %}
