{% raw %}
{{if questions.length > 0}}
<table class="table" style="padding-top: 10px">
    <thead>
    </thead>
    <tbody>
        {{each(i, question) questions}}
        <tr>
            <td>${question.text}</td>
            <td><button class="btn btn-primary edit-question" type="button" question_id="${i}"><i class="fa fa-edit"></i></button>                </td>
            <td><button class="btn btn-danger remove-question" type="button" question_id="${i}"><i class="fa fa-trash"></i></button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}
{% endraw %}
