{% raw %}
<div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="question-form-modal-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="question-form-modal-label">${t.question}</h3>
    </div>

    <div class="modal-body">
        <form class="form-horizontal row">
            <fieldset class="span6">
                <div class="control-group">
                    <label class="control-label" for="question-text">${t.text}</label>
                    <div class="controls">
                        <textarea rows="2" id="question-text" name="question-text" required>${question.text}</textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="question-type">${t.Type}</label>
                    <div class="controls">
                        <select id="question-type" name="question-type" required>
                            {{each(name, value) QuestionType}}
                            <option value="${value}" {{if value === question.type}}selected{{/if}}>${t[name]}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="control-group" id="question-choices-group">
                    <label class="control-label">${t.choices}</label>
                    <div class="controls">
                        <div id="question-choices"></div>
                        <div>
                            <input type="text" id="new-choice-text" placeholder="${t.new_choice}">
                            <button id="add-choice" type="button" class="btn btn-default">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="modal-footer">
        <button action="cancel" class="btn" data-dismiss="modal" aria-hidden="true">${t.CANCEL}</button>
        <button action="submit" class="btn btn-primary">${t.SAVE}</button>
    </div>
</div>
{%- endraw %}
