{% raw %}
<div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="question-form-modal-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="question-form-modal-label">${t.question}</h3>
    </div>

    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="question-text">${t.text}</label>
            <input type="text" id="question-text" name="question-text">
        </div>
        <div class="control-group">
            <label class="control-label" for="question-text">${t.answer_type}</label>
            <select value="1">
                {{each(name, value) QuestionType}}
                <option value="${value}">${t[name]}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="modal-footer">
        <button action="cancel" class="btn" data-dismiss="modal" aria-hidden="true">${t.CANCEL}</button>
        <button action="submit" class="btn btn-primary">${t.SAVE}</button>
    </div>
</div>
{%- endraw %}
