.mat-icon {
  vertical-align: middle;
}

.mat-card {
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

h1{
  text-align: center;
}

.Horizontal{
  display: flex;
  flex-direction: row;
}

.Vertical{
  display: flex;
  flex-direction: column;
  p{
    font-size: small;
  }
}

.imageDetail{
  width: 100%;
}

.openOrClosed {
  color: green;
}



