<div *ngIf="marker$ | async as marker">
  <mat-card>
    <h1>{{ marker.properties.name }}</h1>
    <ng-container *ngFor="let section of marker.properties.sections" [ngSwitch]="section.type">
      <ng-container *ngSwitchCase="SECTION_TYPE_LIST">
        <mat-list>
          <ng-container [ngSwitch]="section.style">

            <ng-container *ngSwitchCase="HORIZONTAL">
              <div class="Horizontal">
                <ng-container *ngFor="let listItem of section.items">
                  <div class="Vertical">
                    <p>{{convertUrl(listItem.url)}}</p>
                    <a [href]="'http://maps.google.com/?q=' + listItem.url" target="_blank"><mat-icon mat-list-icon fontSet="fa" [fontIcon]="listItem.icon"></mat-icon></a>
                    <p matLine>{{listItem.title}}</p>
                  </div>
                </ng-container>
              </div>
            </ng-container>

            <ng-container *ngSwitchDefault>

              <ng-container *ngFor="let listItem of section.items" [ngSwitch]="listItem.type">
                <ng-container *ngSwitchCase="MAP_LIST_ITEM_TYPE_LINK">
                  <mat-list-item>
                    <mat-icon mat-list-icon fontSet="fa" [fontIcon]="listItem.icon"></mat-icon>
                    <p matLine>{{listItem.title}}</p>
                  </mat-list-item>
                </ng-container>

                <ng-container *ngSwitchCase="MAP_LIST_ITEM_TYPE_EXPANDABLE">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon mat-list-icon fontSet="fa" [fontIcon]="listItem.icon"></mat-icon>
                      </mat-panel-title>
                      <mat-panel-description>
                        Beschrijving
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>{{listItem.title}}</p>
                  </mat-expansion-panel>
                </ng-container>

                <ng-container *ngSwitchCase="MAP_LIST_ITEM_TYPE_DYNAMIC_OPENING_HOURS">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon mat-list-icon fontSet="fa" [fontIcon]="listItem.icon"></mat-icon>
                      </mat-panel-title>
                      <mat-panel-description>
                        {{isOpen(listItem.opening_hours, marker.properties.timezone)}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list>
                      <ng-container *ngFor="let period of listItem.opening_hours.periods">
                        <p>{{showOpening(period)}}</p>
                      </ng-container>
                    </mat-list>
                  </mat-expansion-panel>
                </ng-container>
              </ng-container>
            </ng-container>

          </ng-container>
        </mat-list>
      </ng-container>

      <ng-container *ngSwitchCase="SECTION_TYPE_MEDIA">
        <swiper
          [slidesPerView]="1"
          [pagination]="{ clickable: true }">
          <ng-container *ngFor="let item of section.items">
            <p>{{item.type}}</p>
            <ng-container [ngSwitch]="item.type">
              <ng-container *ngSwitchCase="MEDIA_TYPE_IMAGE">
                <ng-template swiperSlide><img src="{{item.content}}" class="imageDetail"></ng-template>
              </ng-container>
              <ng-container *ngSwitchCase="MEDIA_TYPE_VIDEO">
                <ng-template swiperSlide><a [href]="'https://youtu.be/' + item.content" target="_blank"><img
                  [src]="'https://img.youtube.com/vi/' + item.content + '/hqdefault.jpg'" class="imageDetail"></a>
                </ng-template>
              </ng-container>
            </ng-container>
          </ng-container>
        </swiper>

      </ng-container>


    </ng-container>
  </mat-card>
</div>
