.mat-icon {
  vertical-align: middle;
  horiz-align: center;
}

a{
  horiz-align: center;
}

.mat-card {
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

h1{
  text-align: center;
}

.Horizontal{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Vertical{
  display: flex;
  flex-direction: column;
  p{
    font-size: small;
  }
}

.imageDetail{
  width: 100%;
}

.openOrClosed {
  color: green;
}

swiper{
  width: 100%;
  height: auto;
}



