<oca-loadable [loadable]="statistics">
  <div *ngIf="statistics.data" class="stats-container">
    <h2>{{ 'oca.x_scans' | translate : {amount: statistics.data.total} }}</h2>
    <mat-list>
      <mat-list-item *ngFor="let merchant of statistics.data.results">
        <h4 matLine>{{ merchant.name }}</h4>
        <p matLine>{{ 'oca.x_scans' | translate : {amount: merchant.total} }}</p>
      </mat-list-item>
    </mat-list>
    <div *ngIf="statistics.data.more" class="load-more-button">
      <button (click)="loadMore.emit()" mat-raised-button>{{ 'oca.Load more' | translate }}</button>
    </div>
  </div>
</oca-loadable>
