<mat-form-field class="select-autocomplete-field">
  <mat-label>{{ label }}</mat-label>
  <mat-select (opened)="onSelectOpened()"
              (closed)="selectClosed()"
              [formControl]="formControl"
              [multiple]="multiple"
              [placeholder]="placeholder"
              [sortComparator]="sortOptionsComparator"
              [ocaMaxSelect]="max"
              (selectionChange)="onSelectionChange($event)"
              [required]="required">
    <div class="search-box">
      <input [formControl]="filterFormControl"
             [placeholder]="searchPlaceholder"
             class="search-input"
             #filterInput
             type="text">
      <button (click)="filterFormControl.reset()"
              *ngIf="filterFormControl.value"
              class="search-button"
              mat-icon-button
              type="button">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <mat-option *ngFor="let option of filteredOptions$ | async; trackBy: trackByFn"
                [disabled]="option.disabled"
                [value]="option.value">
      {{ option.label }}
    </mat-option>
  </mat-select>
  <mat-error>
    <ng-container *ngIf="formControl.hasError('required')">
      {{ 'oca.this_field_is_required' | translate }}
    </ng-container>
    <ng-container *ngIf="formControl.hasError('ocaMaxSelect')">
      {{ 'oca.you_may_only_select_x_options' | translate : {max: this.max} }}
    </ng-container>
  </mat-error>
  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
</mat-form-field>
