<mat-tab-group (selectedTabChange)="tabChanged.emit($event.index)">
  <mat-tab [label]="'oca.questions' | translate">
    <oca-edit-form [form]="form" (save)="save.emit($event)"></oca-edit-form>
  </mat-tab>
  <mat-tab [label]="'oca.tombola' | translate">
    <oca-edit-form-tombola [form]="form" [tombolaWinners]="tombolaWinners" (save)="save.emit($event)"></oca-edit-form-tombola>
  </mat-tab>
<!--  <mat-tab [label]="'oca.responses' | translate">-->
<!--    Coming soon™-->
<!--  </mat-tab>-->
  <mat-tab [label]="'oca.statistics' | translate">
    <oca-loadable [loadable]="statistics">
      <oca-form-statistics [form]="form.form" [statistics]="statistics.data"></oca-form-statistics>
    </oca-loadable>
  </mat-tab>
</mat-tab-group>
