<div class="default-component-margin">
  <rcc-api-request-status [status]="deleteStatus$ | async"></rcc-api-request-status>
  <mat-list style="max-width: 400px;">
    <mat-nav-list *ngFor="let app of embeddedApps$| async">
      <a [routerLink]="app.name" mat-list-item>
        <h2 matLine>{{ app.title }}</h2>
        <p matLine>{{ app.modification_date | date : 'medium' }}</p>
        <button type="button" mat-icon-button (click)="confirmRemove($event, app)">
          <mat-icon>delete</mat-icon>
        </button>
      </a>
    </mat-nav-list>
  </mat-list>
  <rcc-api-request-status [status]="listStatus$ | async"></rcc-api-request-status>
  <div class="fab-bottom-right">
    <a mat-fab [routerLink]="['create']">
      <mat-icon>add</mat-icon>
    </a>
  </div>
</div>
