:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.news-item {
  width: auto;
  max-width: 640px;
  margin: 16px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.news-item-avatar {
  background-size: cover;
}

.media-image {
  max-width: 100%;
}

.media-video {
  min-width: 100%;
}


.news-item-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width:450px) {
  .news-item-actions { flex-wrap: wrap;  }
  .news-item-actions button { flex-basis: 100%; }
  .news-item-actions .action-buttons {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .news-item-actions .action-buttons a { flex-basis: 100%; }
}