{% raw %}
<div class="modal hide" tabindex="-1" role="dialog" aria-hidden="true" id="addAttachmentModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">{{if website}}${t.ADD_WEBSITE}{{else}}${t.ADD_ATTACHMENT}{{/if}}</h3>
    </div>
    <div class="modal-body">
        {{if !website }}
        <form method="post" enctype="multipart/form-data" name="attachment-form"
              id="attachment-form" autocomplete="off">
            <div class="form-group">
                <div class="control-group">
                    <label for="attachmentName"><b>${t.NAME}</b></label>
                    <input type="text" id="attachmentName" name="name" value="${t.ATTACHMENT}">
                </div>
            </div>
            <input type="file" class="attachment_images" name="attachment-files" id="attachment-files"
                   accept="application/pdf,video/mp4,image/jpeg,image/png"/>
        </form>
        {{else}}
        <div class="pull-left control-group" id="urlerror">
            <label class="control-label"  for="attachmentUrl" id="attachmentUrlTitle">${t.WEB_ADDRESS} (${t.for_example} <a
                    href="http://www.onzestadapp.be">http://www.onzestadapp.be</a>)</label>
            <input type="text" id="attachmentUrl" style="width: 500px;">

            <div id="attachment-validating" class="alert alert-info" style="display: none;">
                <h4>${t.VALIDATING}</h4>

                <div style="margin-bottom: 0;" class="progress progress-striped active margin-top">
                    <div class="bar" style="width: 100%;"></div>
                </div>
            </div>
            <div id="attachment-error" class="alert alert-warning" style="display: none;">
                <h4>${t.WARNING}</h4>

                <p id="attachment-error-msg"></p>
            </div>
        </div>
        <div class="pull-left control-group" id="nameerror">
            <label class="control-label" for="attachmentName">${t.NAME}</label>
            <input type="text" id="attachmentName" style="width: 300px;">
        </div>
        {{/if}}

    </div>
    <div class="modal-footer">
        <button action="cancel" class="btn" data-dismiss="modal"
                aria-hidden="true">${t.CANCEL}
        </button>
        <button action="submit" class="btn btn-primary">${t.SAVE}</button>
    </div>
</div>
{%- endraw %}
