{% raw %}
<p>${T('current_budget')}: <b>${budget.balance * CONSTS.BUDGET_RATE}</b></p>
<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>${T('Date')}</th>
        <th>${T('amount')}</th>
        <th>${T('description')}</th>
    </tr>
    </thead>
    <tbody>
    {{each(i, transaction) transactions}}
    <tr>
        <td>${transaction.timestamp}</td>
        <td>${transaction.amount}</td>
        <td>${transaction.memo}</td>
    </tr>
    {{/each}}
    </tbody>
</table>
{% endraw %}
