{% raw -%}
<div class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>${header}</h3>
    </div>
    <div class="modal-body">
        {{if creditCard}}
        <div class="credit-card-info">
	        <p>${T('Brand')}: ${creditCard.brand}</p>
	        <p>${T('Expires')}: ${creditCard.exp_month}/${creditCard.exp_year}</p>
	        <p>${T('Card number')}: **** **** **** ${creditCard.last4}<span id="credit-card-info-last4"></span></p>
        </div>
        {{else}}
        <h4>${T('New credit card')}</h4>
            {{if contacts.length}}
            <div class="credit-card-contacts">
                <label for="link_credit_card_contact">${T('Select contact')}: </label>
                <select id="link_credit_card_contact" required>
                    {{each(i, contact) contacts}}
                    <option value="${contact.id}">${contact.first_name + ' ' + contact.last_name}</option>
                    {{/each}}
                </select><br>
            </div>
            {{/if}}
        {{/if}}
        <button id="link_credit_card" class="btn btn-primary">${T('Link credit card')}</button>

    </div>
    <div class="modal-footer">
        <button action="cancel" class="btn" data-dismiss="modal" aria-hidden="true">${cancelBtn}</button>
    </div>
</div>
{%- endraw %}
