<div id="billing_settings">
    <div class="sln-set-iban"><label>IBAN</label><input type="text" placeholder="{% translate language, "common", "enter-dot-dot-dot" %}"></div>
    <div class="sln-set-bic"><label>BIC</label><input type="text" placeholder="{% translate language, "common", "enter-dot-dot-dot" %}"></div>
    <div class="accordion" id="billing-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#billing-accordion"
                   href="#collapse-unsigned-orders">
                    <h3>{% translate language, 'common', 'orders-unsigned' %}</h3>
                </a>
            </div>
            <div id="collapse-unsigned-orders" class="accordion-body collapse">
                <div class="accordion-inner" id="billing_unsigned_orders">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>{% translate language, "common", "Date" %}</th>
                            <th>{% translate language, "common", "Order NR" %}</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#billing-accordion"
                   href="#collapse-orders">
                    <h3>{% translate language, 'common', 'orders-signed' %}</h3>
                </a>
            </div>
            <div id="collapse-orders" class="accordion-body collapse">
                <div class="accordion-inner" id="billing_orders">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>{% translate language, "common", "Date" %}</th>
                            <th>{% translate language, "common", "Order NR" %}</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#billing-accordion"
                   href="#collapse-invoices">
                    <h3>{% translate language, 'common', 'Invoices' %}</h3>
                </a>
            </div>
            <div id="collapse-invoices" class="accordion-body collapse">
                <div class="accordion-inner" id="billing_invoices">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>{% translate language, "common", "Date" %}</th>
                            <th>{% translate language, "common", "Invoice NR" %}</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#billing-accordion"
                   href="#collapse-budget">
                    <h3>{% translate language, 'common', 'budget' %}</h3>
                </a>
            </div>
            <div id="collapse-budget" class="accordion-body collapse">
                <div class="accordion-inner" id="billing_budget">
                </div>
            </div>
        </div>
    </div>

    <div id="sign_order" class="modal hide fade fullscreen-pdf-modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% translate language, "common", "order-view" %}</h3>
        </div>
        <div class="modal-body">
            <div id="pdf-container">
                <iframe id="pdf-viewer" ></iframe>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-success" id="button_sign_order">{% translate language, "common", "Sign" %}</a>
        </div>
    </div>

    <div class="modal hide fade" id="sign_order_form" style="width: 832px; margin-left: -416px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% translate language, "common", "Sign" %}</h3>
        </div>
		<div class="modal-body" style="background-color: #f5f5f5;">
	        <label>{% translate language, "common", "Sign in the box" %}:</label>
			<canvas id="signature_canvas" width="800" height="300" style="background-color: white; width: 800px; height: 300px;"></canvas>
	    </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-warning pull-left" id="button_clear_signature">{% translate language, "common", "Clear" %}</a>
            <a href="#" class="btn btn-info" id="button_write_signature">{% translate language, "common", "Use keyboard" %}</a>
            <a href="#" class="btn btn-success" id="button_add_signature">{% translate language, "common", "Done" %}</a>
        </div>
    </div>
    <script src="/static/js/shop/signature_pad.min.js"></script>
    <script src="/static/js/solutions/sln-billing.js"></script>
</div>
