<style>
    .broadcast-types-sortable-list li {
        margin: 10px 0 10px -20px;
    }
</style>
<section id="section_settings_broadcast" style="display: none;">
    <form class="form-horizontal">
        <label for="service_broadcast_types" class="control-label" style="text-align: left;">{% translate language, "common", "add_broadcast_type" %}</label>
        <div class="control-group">
            <div class="controls">
                <input type="text" id="settings_extra_broadcast_type" placeholder="{% translate language, "common", "enter-dot-dot-dot" %}"
                            style="width: 292px;" required minlength="3">
                <button type="button" id="settings_add_extra_broadcast_type" class="btn btn-default" disabled>
                        <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </form>
    <hr />
    <!-- taken from inbox settings section -->
    <div name="broadcast_types">
    </div>
    <hr />
    {% if sln_i_settings.broadcast_create_news_qrcode %}
    <div class="row">
        <div class="span4">&nbsp;</div>
        <div class="span6">
            <img src="{{ sln_i_settings.broadcast_create_news_qrcode }}" height="150" width="150"/>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="span4">
            <button id="broadcast_add_news_publisher" class="btn btn-primary">
                <i class="fa fa-newspaper-o"></i>
                {% translate language, "common", "broadcast_add_news_publisher" %}
            </button>
        </div>
        {% if sln_i_settings.broadcast_create_news_qrcode %}
            <div class="span6">
                <h5>{% translate language, "common", "or-scan-qr-code-app" %}</h5>
            </div>
        {% endif %}
   </div>
</section>
