<section id="section_settings_broadcast" style="display: none;">
    <hr />
    <!-- taken from inbox settings section -->
    <hr />
    {% if sln_i_settings.broadcast_create_news_qrcode %}
    <div class="row">
        <div class="span4">&nbsp;</div>
        <div class="span6">
            <img src="{{ sln_i_settings.broadcast_create_news_qrcode }}" height="150" width="150"/>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="span4">
            <button id="broadcast_add_news_publisher" class="btn btn-primary">
                <i class="fa fa-newspaper-o"></i>
                {% translate language, "common", "broadcast_add_news_publisher" %}
            </button>
        </div>
        {% if sln_i_settings.broadcast_create_news_qrcode %}
            <div class="span6">
                <h5>{% translate language, "common", "or-scan-qr-code-app" %}</h5>
            </div>
        {% endif %}
    </div>
    <hr/>
    <label style="display: inline-block; margin-right: 8px;">{% translate language, "common", "RSS imports" %}:</label>
    <button id="sln-set-broadcast-add-rss" class="btn btn-success btn-mini" style="display: inline-block;">
        <i class="fa fa-plus"></i>
    </button>
    <div id="sln-set-broadcast-rss-urls"></div>
</section>
