<section id="section_bulk-invite" style="display: none;">
	<label id="blukEmailsLabel">{% translate language, "settings-bulk-invite-paste-here" %}</label>
	<textarea id="blukEmails" class="span12"
		placeholder="{% translate language, "enter-dot-dot-dot" %}"
		rows="7"></textarea>
	<div id="bulkInvite" style="display: none;">
        <label for="bulkInvitationMessage">{% translate language, "settings-bulk-invite-label" %}</label>
        <textarea id="bulkInvitationMessage" rows="3" class="span12">{{ bulk_invite_message }}</textarea>
		<br>
		<button id="sendBulkEmailInvitations" class="btn btn-primary btn-block"></button>
		<h2>{% translate language, "settings-bulk-invite-sent-to" %}</h2>
		<h5>{% translate language, "settings-bulk-invite-click-to-delete" %}</h5>
		<ul id="bulkInviteEmailList" style="cursor: pointer;"></ul>
	</div>
</section>
