{% raw %}
<div id="city_select" class="modal hide fade {{if mapEnabled}}modal-fullscreen{{/if}}" tabindex="-1" role="dialog" aria-labelledby="citySelectModal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="citySelectModal">${T('Select...')}</h3>
    </div>
    <div class="modal-body">
        {{if mapEnabled}}
        <div id="map_container">
            <div class="map"></div>
            <div class="areaLegend"></div>
        </div>
        {{else}}
        <div class="control-group">
            <div class="controls">
                {{each(appName, appId) apps}}
                <label class="checkbox">
                    <input type="checkbox" name="app" value="${appName}" {{if selected.indexOf(appName) !== -1}}checked{{/if}}>
                    ${appName} (${T('broadcast-estimated-reach')}: ${modules.news.getEstimatedReach(stats[apps[appName]])})
                </label>
                {{/each}}
            </div>
        </div>
        {{/if}}
        <p>${T('broadcast-estimated-reach')}: <b id="popup-estimated-reach"></b></p>
    </div>
    <div class="modal-footer">
            <button action="select_all" class="btn pull-left">${T('select_all')}</button>
            <button action="deselect_all" class="btn pull-left">${T('deselect_all')}</button>
            <button action="cancel" class="btn" data-dismiss="modal" aria-hidden="true">${T('CANCEL')}</button>
        <button action="submit" class="btn btn-primary">${T('Save')}</button>
    </div>
</div>
{%- endraw %}
