{% raw %}
<div class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h3 id="myModalLabel">${header}</h3>
	</div>

	<div class="modal-body">
	    <div class="dates"></div>
		<button action="date_add" class="btn" style="margin-bottom: 20px;">
           <i class="fa fa-plus"></i>
        </button>

		<div class="control-group">
            <label class="control-label" for="eventTitle">${CommonTranslations.TITLE}</label>
			<input type="text" id="eventTitle" style="width: 300px;" required>
		</div>

		<div class="control-group">
            <label class="control-label" for="eventDescription">${CommonTranslations.description}</label>
			<textarea rows="3" id="eventDescription" style="width: 300px;"></textarea>
		</div>

        <div class="control-group">
            <label class="control-label" for="eventPlace">${CommonTranslations.EVENT_PLACE}
                ${CommonTranslations.OPTIONAL_BRACES}</label>
            <input type="text" id="eventPlace" style="width: 300px;">
        </div>

        <div class="control-group">
            <label class="control-label" for="eventOrganizer">${CommonTranslations.EVENT_ORGANIZER}
                ${CommonTranslations.OPTIONAL_BRACES}</label>
            <input type="text" id="eventOrganizer" style="width: 300px;">
        </div>
        
        <div class="control-group">
            <label class="control-label" for="eventUrl">${CommonTranslations.URL}
                ${CommonTranslations.OPTIONAL_BRACES}</label>
            <input type="text" id="eventUrl" style="width: 300px;">
        </div>

		<div class="control-group" id="pictureerror">
            <label class="control-label" for="eventPicture">${CommonTranslations.PICTURE}
                ${CommonTranslations.OPTIONAL_BRACES}</label>
			<div id="existingEventPicture"><img style="max-width: 200px; max-height: 200px;"/> <button class="btn btn-warning">${CommonTranslations.REMOVE}</button></div>			
			<input type="file" id="eventPicture" accept="image/*" style="width: 300px;">
		</div>
	</div>

	<div class="modal-footer">
		<button action="cancel" class="btn" data-dismiss="modal"
			aria-hidden="true">${cancelBtn}</button>
		<button action="submit" class="btn btn-primary">${submitBtn}</button>
	</div>
</div>
{%- endraw %}
