<div id="forms" class="page" style="display: none;">
    <iframe id="forms-container" frameborder="none" width="100%" style="height: calc(100vh - 165px);"
            {% if debug %}src="http://localhost:4200"{% endif %}></iframe>
</div>
<script src="/static/js/solutions/sln-forms.js"></script>
