<iframe class="page page-full-width" id="forms" frameborder="none" width="100%" height="100%" style="display: none;"
        {% if debug %}src="http://localhost:4200"{% endif %}></iframe>
<script src="/static/js/solutions/sln-forms.js"></script>
