{% raw %}
<div class="modal hide fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">${header}</h3>
    </div>
    
    <div class="modal-body">
        <p>{{html sln.htmlize(hint.text)}}</p>
    </div>

    <div class="modal-footer">
        <button action="cancel" class="btn" data-dismiss="modal" aria-hidden="true">${cancelBtn}</button>
        <button action="submit" class="btn btn-success" data-dismiss="modal" aria-hidden="true">${submitBtn}</button>
    </div>
</div>
{%- endraw %}