{% raw %}
<div class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h3 id="myModalLabel">${header}</h3>
	</div>
	<div class="modal-body add-holiday">
		<div id="holiday-start" class="input-prepend input-append date span3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
			<span class="add-on">${CommonTranslations.SETTINGS_START}</span>
			<input class="span2" size="16" type="text" value="12-02-2012">
			<span class="add-on"><i class="icon-th"></i></span>
		</div>
		<div id="holiday-end" class="input-prepend input-append date span3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
			<span class="add-on">${CommonTranslations.SETTINGS_END}</span> <input
				class="span2" size="16" type="text" value="12-02-2012"> <span
				class="add-on"><i class="icon-th"></i></span>
		</div>
	</div>
	<div class="modal-footer">
		<button action="cancel" class="btn" data-dismiss="modal"
			aria-hidden="true">${cancelBtn}</button>
		<button action="submit" class="btn btn-primary">${submitBtn}</button>
	</div>
</div>
{%- endraw %}