<section id="section_holidays" style="display: none;">
    <button id="addholiday" class="btn btn-primary">
        {% translate language, "common", "settings-add-holiday" %}
    </button>
    <br><br>
    <div id="holidays"></div>
    <br>
    <div>
        <label>{% translate language, "common", "settings-oof-msg" %}</label>
        <textarea id="oof-message" class="span6" rows="7"
            placeholder="{% translate language, 'common', 'settings-enter-oof-msg' %}">
        </textarea>
    </div>
</section>