<div id="inbox" class="row page" style="display: none;">
    <div id="inbox-overview" class="span12">
        <ul class="nav nav-tabs">
            <li class="active" section="inbox-unread"><a href="#"><i class="fa fa-inbox"></i> {% translate language, "common", "Inbox" %} <span class="badge"></span></a></li>
            <li class="" section="inbox-starred"><a href="#"><i class="fa fa-star"></i> {% translate language, "common", "Starred" %} <span class="badge"></span></a></li>
            <li class="" section="inbox-read"><a href="#"><i class="fa fa-eye"></i> {% translate language, "common", "Read" %} <span class="badge"></span></a></li>
            <li class="" section="inbox-trash"><a href="#"><i class="fa fa-trash"></i> {% translate language, "common", "Trash" %} <span class="badge"></span></a></li>
        </ul>

        <section _count="0" id="inbox-unread">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="span2">{% translate language, "common", "Date" %}</th>
                        <th class="span3">{% translate language, "common", "inbox-from" %}</th>
                        <th>{% translate language, "common", "inbox-message" %}</th>
                        <th style="width: 220px;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="text-center">
                <img class="load-more" src="/static/images/ajax-loader.gif">
            </div>
        </section>

        <section _count="0" id="inbox-starred" style="display: none;">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="span2">{% translate language, "common", "Date" %}</th>
                        <th class="span3">{% translate language, "common", "inbox-from" %}</th>
                        <th>{% translate language, "common", "inbox-message" %}</th>
                        <th style="width: 220px;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="text-center">
                <img class="load-more" src="/static/images/ajax-loader.gif">
            </div>
        </section>

        <section _count="0" id="inbox-read" style="display: none;">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="span2">{% translate language, "common", "Date" %}</th>
                        <th class="span3">{% translate language, "common", "inbox-from" %}</th>
                        <th>{% translate language, "common", "inbox-message" %}</th>
                        <th style="width: 220px;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="text-center">
                <img class="load-more" src="/static/images/ajax-loader.gif">
            </div>
        </section>

        <section _count="0" id="inbox-trash" style="display: none;">
            <button id="inbox-trash-all" class="btn btn-primary" type="button">{% translate language, "common", "Delete all" %}</button>
            <br><br>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="span2">{% translate language, "common", "Date" %}</th>
                        <th class="span3">{% translate language, "common", "inbox-from" %}</th>
                        <th>{% translate language, "common", "inbox-message" %}</th>
                        <th style="width: 220px;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="text-center">
                <img class="load-more" src="/static/images/ajax-loader.gif">
            </div>
        </section>
        <br/><br/>
    </div>
    <div id="inbox-reply" class="span12" style="display: none;">
        <legend class="inbox-reply-title"><i style="width: 35px; height: 35px; font-size: 25px;"></i><span></span></legend>
        <div>
            <button id="inbox-reply-back" style="float: left; margin-right: 20px;" class="btn btn-large"><i class="fa fa-chevron-left "></i> {% translate language, "common", "back" %}</button>

            <div class="btn-toolbar">
              <div class="btn-group">
                  <button class="btn btn-large inbox-message-action-starred"><i class="fa fa-star-o"></i></button>
                  <button class="btn btn-large inbox-message-action-read"><i class="fa fa-eye"></i></button>
                  <button class="btn btn-large inbox-message-action-trash"><i class="fa fa-trash"></i></button>
              </div>
            </div>
        </div>
        
        <table class="table table-striped table-hover table-bordered">
            <thead></thead>
            <tbody>
            </tbody>
        </table>
        <div class="inbox-reply-input" style="display: none;">
            <textarea rows="5" class="span12" placeholder="{% translate language, "common", "enter-dot-dot-dot" %}"></textarea>
            <button class="btn btn-large">{% translate language, "common", "inbox-reply" %}</button>
        </div>
        
        <br><br>
    </div>
    
    <script src="/static/js/solutions/sln-inbox.js"></script>
</div>
