<div id="joyn" class="page" style="display: none;">
	
	<h4>{% translate language, "common", "joyn_description" %}</h4>
	<a id="joyn_become_merchant" class="btn btn-success" href="https://merchants.joyn.be/onzestadapp" target="_blank">{% translate language, "common", "become_a_joyn_merchant" %}</a>
</div>

 <script src="/static/js/solutions/sln-joyn.js"></script>
