<style>
    .loyalty-export {
        margin: 10px 0;
    }

    #loyalty_export_btn {
        margin-top: 20px;
    }

    #load-more-loyalty-exports-container {
        width: 100%;
        display: flex;
    }

    #load-more-loyalty-exports {
        margin: 0 auto;
    }

</style>
<div id="loyalty" class="page" style="display: none;">
{% if SolutionModule.HIDDEN_CITY_WIDE_LOTTERY not in sln_settings.modules %}
	<div id="loyalty_order_now">
	    <p>{% translate language, 'you_do_not_have_tablet_yet_contact_support' %}</p>
	    <button type="button" class="btn btn-default btn-large" id="loyalty_request_device">
	        {% translate language, 'request_loyalty_device' %}
	    </button>
	</div>
{% endif %}
    <div id="loyalty_export" style="display: none;">
    	<a href="#/loyalty" class="btn btn-success pull-left" style="margin-right: 20px; margin-top: 20px;">
    		<i class="fa fa-arrow-left"></i> {% translate language, 'back' %}</a>

    	<div class="span12">
	    	<div class="span5">
	    		<h2>{% translate language, 'loyalty' %}</h2>
	    		<div id="loyalty-export-list"></div>
	    		<div>
				    <a class="btn btn-default" id="load-more-loyalty-exports">{% translate language, 'Load more' %}</a>
				</div>
	    	</div>
    	</div>
    </div>
    <a id="loyalty_export_btn" class="btn btn-success" href="#/loyalty/export" style="display:none;">
        {% translate language, 'export' %}...
    </a>

    <div id="loyalty_lottery" class="clearfix loyalty_filter_show_2 loyalty_filter_hide_1 loyalty_filter_hide_3" style="display:none; margin-top: 20px;">
        <button id="loyalty_add_lottery" type="button" class="btn btn-success" style="margin-bottom: 20px;">
                {% translate language, "Add lottery" %}
        </button>

        <div class="alert alert-danger add-lottery-required" style="display: none;">
            <h4>{% translate language, "loyalty-lottery-configure-title" %}</h4>
            <br/>

            <div>{% translate language, "loyalty-lottery-configure-text" %}</div>
        </div>

        <div id="lottery-history" class="span12" style="display: none; padding: 20px; margin-bottom: 20px; margin-left: 0; background-color: #fff; border: 1px solid #ddd; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;">
            <ul class="nav nav-tabs">
                <li class="active" section="lottery-history-pending"><a href="#/loyalty"><i class="fa fa-inbox"></i> {% translate language, "Pending" %} <span class="badge"></span></a></li>
                <li class="" section="lottery-history-history"><a href="#/loyalty"><i class="fa fa-trash"></i> {% translate language, "Trash" %} <span class="badge"></span></a></li>
            </ul>

            <section id="lottery-history-pending">
            </section>

            <section id="lottery-history-history" style="display: none;">
            </section>
        </div>
    </div>

    <div id="customer_loyalty_visits"></div>
</div>
