{% raw %}
<div class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h3 id="myModalLabel">${header}</h3>
	</div>
	<div class="modal-body">
		<div>
			<textarea rows="6" id="description"
					  placeholder="${CommonTranslations.DESCRIPTION} ${CommonTranslations.OPTIONAL_BRACES}"
					  style="width: 500px;">{{if pre === true}}${category.predescription}{{else}}{{if pre === false}}${category.postdescription}{{/if}}{{/if}}</textarea>
		</div>
	</div>
	<div class="modal-footer">
		<button action="cancel" class="btn" data-dismiss="modal"
			aria-hidden="true">${cancelBtn}</button>
		<button action="submit" class="btn btn-primary">${submitBtn}</button>
	</div>
</div>
{%- endraw %}


