<div id="menu" class="page" style="display: none;">
    <style scoped="scoped">
        .menu-item-content {
            width: 75%;
            float: left;
            margin-left: 20px;
        }

        .menu-item-price {
            font-weight: bold;
            font-size: 1.2em;;
        }

        #menu_test {
            margin-top: 20px;
        }

        .menu-item-image, .image-resize-container {
            max-width: 400px;
            position: relative;
        }

        #remove-menu-item-image {
            position: absolute;
            left: 0;
            top: 0;
        }
    </style>
    <div id="menu_contents">
        <button name="newcat" class="btn btn-success" disabled>{% translate language, "common", "menu-new-category" %}</button>
        <button id="edit_menu_name" class="btn" disabled>{% translate language, "common", "edit-name" %}</button>
        <div id="menu_export_import" class="pull-right">
            <a href="/common/restaurant/menu/export" download class="btn">
                {% translate language, "common", "export" %}
            </a>
            <button id="import_menu" class="btn">{% translate language, "common", "import" %}</button>
        </div>
        <div id="menu_test"></div>
    </div>
    <script src="/static/js/solutions/sln-menu.js"></script>
    <div id="menu-modal-container"></div>
</div>
