<section id="section_settings_order" style="display: none;" xmlns="">
    <style scoped="scoped">
        #order_leaptime_type {
            text-transform: capitalize;
        }

        #order_leaptime {
            width: 75px;
        }

        #order_leaptime_type {
            width: auto;
        }
    </style>

    <h3>{% translate language, 'common', 'order_type' %}</h3>

    <p>{% translate language, 'common', 'order_type_explanation_1' %}</p>
    <ol>
        <li>{% translate language, 'common', 'simple' %}
            <p>{% translate language, 'common', 'order_type_explanation_2' %}</p></li>
        <li>{% translate language, 'common', 'advanced' %}
            <p>{% translate language, 'common', 'order_type_explanation_3' %}</p></li>
    </ol>

    <label for="setting_advanced_order_simple" class="radio">
        <input type="radio" name="setting_advanced_order_fields" id="setting_advanced_order_simple"
               value="{{ CONSTS.ORDER_TYPE_SIMPLE }}"> </input>
        {% translate language, 'common', 'simple_orders' %}
    </label>
    <label for="setting_advanced_order_advanced" class="radio">
        <input type="radio" name="setting_advanced_order_fields" id="setting_advanced_order_advanced"
               value="{{ CONSTS['ORDER_TYPE_ADVANCED']}}"> </input>
        {% translate language, 'common', 'advanced_orders' %}
    </label>

    <div id="intro_text_container">
        <h3>{% translate language, 'common', 'intro-screen-order' %}</h3>
        <textarea id="order_settings_text1" class="span6" rows="3"
                  placeholder="{% translate language, 'common', 'enter-dot-dot-dot' %}">
        </textarea>
    </div>

    <div id="order_timeframes_container" class="order_timeframes_container hide">
        <p class="margin-top">
            <a href="/flex/#/menu">{% translate language, 'common', 'add_menu_items' %}</a>
        </p>

        <h3>{% translate language, 'common' , 'Leaptime' %}</h3>

        <p>{% translate language, 'common', 'leap_time_info' %}</p>

        <input id="order_leaptime" type="number" min="1" step="1"></input>
        <select id="order_leaptime_type">
            <option value="60">{% translate language, 'common', 'minutes' %}</option>
            <option value="3600">{% translate language, 'common', 'hours' %}</option>
            <option value="86400">{% translate language, 'common', 'days' %}</option>
            <option value="604800">{% translate language, 'common', 'weeks' %}</option>
        </select>

        <h3>{% translate language, 'common' , 'takeaway_times' %}</h3>
        <button id="create_order_timeframe" class="btn btn-primary control" href="#orderTimeframeModal"
                data-toggle="modal"> {% translate language, "common", "create_timeframe" %}
        </button>
        <table id="order_timeframes" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>{% translate language, "common", "Day" %}</th>
                <th>{% translate language, "common", "inbox-from" %}</th>
                <th>{% translate language, "common", "Until" %}</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div id="orderTimeframeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header clearfix">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="orderTimeframeModalLabel"></h3>
        </div>
        <div class="modal-body" style="min-height: 200px;">
            <div>
                <select id="dates">
                    {% for day_num, day_name in days %}
                    <option value="{{ day_num }}">{{ day_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-prepend input-append bootstrap-timepicker">
                <span class="add-on">{% translate language, "common", "inbox-from" %}</span>
                <input id="timepickerEnabledFrom" type="text" class="input-small" readonly/>
                <span class="add-on">
                    <i class="icon-time"></i>
                </span>
            </div>
            &nbsp;
            <div class="input-prepend input-append bootstrap-timepicker">
                <span class="add-on">{% translate language, "common", "Until" %}</span>
                <input id="timepickerEnabledUntil" type="text" class="input-small" readonly/>
                <span class="add-on">
                    <i class="icon-time"></i>
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn" data-dismiss="modal" aria-hidden="true">{% translate language, "common", "Close" %}
            </button>
            <button id="save_order_timeframe" class="btn btn-primary" aria-hidden="true">{% translate language,
                "common", "Save" %}
            </button>
        </div>
    </div>
</section>