<div id="order" class="page" style="display: none;">
    <style scoped="scoped">
        .orders-list {
            margin-top: 10px;
        }
    </style>
    <div class="btn-group">
        <button type="button" class="btn" id="ordersShowTodo">&nbsp;</button>
        <button type="button" class="btn btn-success" id="ordersShowAll">&nbsp;</button>
    </div>
    <div id="orders-list" class="orders-list"></div>
    <script src="/static/js/solutions/sln-order.js"></script>
</div>