<h3>Sluit hier uw contract af met Payconiq om uw eindconsumenten met Payconiq te laten betalen</h3>

<div id="payconiq_more_info_nl" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="payconiq_more_info_nl_label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Meer info</h3>
    </div>
    <div class="modal-body">
        <p>Via de bestelling functionaliteit van uw stad/gemeente app, geeft u de mogelijkheid aan uw klanten bepaalde producten te bestellen.</p>
        <p>Dankzij de samenwerking van <b>Onze Stad App</b> met <b>Payconiq</b>, bieden wij jullie de mogelijkheid om jullie producten onmiddellijk te laten betalen.</p>
        <p>Als handelaar krijg je onmiddellijk (realtime) bericht van elke transactie op je eigen toestel: een pc, tablet of smartphone.</p>
        <p><b>Hoe werkt Payconiq?</b></p>
        <p>Payconiq bestaat uit een webportaal voor de handelaar en een app voor de klant. Nadat u het <NOBR>Payconiq-contract</NOBR> getekend hebt, meldt u zich een eerste keer aan in het webportaal <A target="_blank" href="https://portal.payconiq.com/"><span>portal.payconiq.com</span></A>, u drukt op 'registeren' of 'sign up' om uw initieel wachtwoord per mail aan te vragen. Hierna is het enkel nog een kwestie van inloggen om uw betalingen op te volgen.</p>
        <p>De site toont je steeds een lijst van alle inkomende betalingen in realtime. Vanuit het Payconiq-webportaal kun je ook vlot overzichten van je betalingen creëren en exporteren in enkele muisklikken.</p>
        <p><b>Kostenstructuur?</b></p>
        <p>De enige kost die payconiq hanteert is €0,15 per transactie.</p>
        <p>Je betaalt geen opstartkosten of abonnementskosten. Je hoeft geen nieuwe of speciale hardware aan te kopen. Je eigen smartphone, computer of tablet volstaat.</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Sluiten</a>
    </div>
</div>
<div>
    <p><a href="#payconiq_more_info_nl" class="btn btn-primary" data-toggle="modal">Meer info</a></p>
</div>
<div id="payconiq_instructions_nl">
    <p><b>Hoe gaat u te werk?</b></p>
    <p>De volgende stappen zijn nodig om Payconiq bij u te aanvaarden:</p>
    <div>
        <span>1.</span>
        <span>Een overeenkomst + SEPA mandaat invullen en ondertekenen (deze vindt u in bijlage). Let op! We hebben 3 verschillende documenten. Afhankelijk van de bank waar u klant bent. Eentje wanneer u klant bent bij Belfius, een ander voor KBC klanten en een derde voor alle andere banken. Gelieve dus duidelijk aan te geven met welke bank u zakelijk werkt.</span>
        <div class="list-group">
            <ul>
                <li style="margin-bottom: 5px;">
                    <a class="btn downloaded-hint" href="/static/files/payment/payconiq/mandate-nl.pdf" download>SEPA Mandaat</a>
                </li>
                <li>
                    <a class="btn downloaded-hint" href="/static/files/payment/payconiq/agreement-belfius-nl.pdf" download>Belfius</a>
                    <a class="btn downloaded-hint" href="/static/files/payment/payconiq/agreement-kbc-nl.pdf" download>KBC</a>
                    <a class="btn downloaded-hint" href="/static/files/payment/payconiq/agreement-ing-nl.pdf" download>Andere</a>
                </li>
            </ul>
        </div>
    </div>
    <p><span>2.</span> <span>Een foto/scan van uw ID kaart, voor- en achterkant, indien u nog geen Payconiq aanvaardt.</span></p>
    <p><span>3.</span>
        <span>Bovenvernoemde (SEPA Mandaat, overeenkomst met de bank en scans van de ID kaart) mailen naar <a href="mailto:johan.boeckstijns@payconiq.be">johan.boeckstijns@payconiq.be</a></span></p>
    <p>
        <span>4.</span>
        <span>Na verwerking van het contract (1 à 2 dagen) krijgt u een merchant ID en account key toegestuurd die toelaten om uw webshop te activeren op het platform van Onze Stad App.</span>
    </p>
</div>
