{% raw %}
<div id="mobile_payments_container" class="clearfix">
    <h2>${T('mobile_payments')}</h2>
    <div id="mobile_payments_available">
        <span class="help-block">${T('mobile_payments_explanation')}</span>
        <div class="payment-optional">
            <label class="checkbox" for="payments_optional">
                <input type="checkbox" value="payments_optional" id="payments_optional"
                       value="${paymentSettings.min_amount_for_fee}"
                       {{if paymentSettings.optional}}checked{{/if}}/> ${T('Optional')}
            </label>
            <span class="help-block">{{html T('payments_optional_explanation') }}</span>
        </div>
        {{each(i, setting) settings}}
        {{if setting.provider_id === 'payconiq'}}
        <hr>
        <h3>Payconiq</h3>
        <label class="checkbox" for="payconiq_enabled">
            <input type="checkbox" value="payconiq_enabled" id="payconiq_enabled"
                   {{if setting.enabled}}checked{{/if}}/> ${T('Enabled')}
        </label>
        {{html payconiqHtml}}
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="payconicMerchantId">Merchant ID</label>
                <div class="controls">
                    <input id="payconicMerchantId" type="text"
                           value="${setting.settings.merchant_id}" style="width: 95%;"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="payconiqAccessToken">Account Key</label>
                <div class="controls">
                    <textarea id="payconiqAccessToken" type="text" rows="5" style="width: 95%;">${setting.settings.jwt}</textarea>
                </div>
            </div>
            <div class="control-group">
                <span class="help-block">${T('payments_fee_min_amount_explanation')}</span>
                <div class="input-prepend">
                    <span class="add-on">€</span>
                    <input type="number" id="payment_min_amount_for_fee"
                           value="${setting.fee.min_amount / 100}"
                           min="0" step="0.01" class="span2">
                </div>
                <span class="help-block">${T('payments_fee_min_amount_zero_cost')}</span>
           </div>
        </form>
        {{/if}}
        {{if setting.provider_id.indexOf('threefold') > -1}}
        <hr>
        <h3>ThreeFold ${setting.provider_id === 'threefold_testnet' ? '(testnet)': ''}</h3>
        <label class="checkbox" for="threefold_enabled">
            <input type="checkbox" value="threefold_enabled" id="threefold_enabled"
                   {{if setting.enabled}}checked{{/if}}/> ${T('Enabled')}
        </label>
        <p>
            ThreeFold Token a decentralized digital currency backed by the fastest growing commodity in the world — <b>The Internet</b>.
            For more information, please visit <a href="https://threefold.io/tokens/">www.threefold.io/tokens</a>.
            Before you do anything you will need to have a ThreeFold Token wallet to be able to receive ThreeFold Tokens.
            You can find instructions about how to download the ThreeFold wallet on your Android or iOS device
            <a href="https://www.threefold.io/tokens/#section-download-wallet">on the ThreeFold website</a>.
        </p>
        <p><b>How to get your ThreeFold address?</b></p>
        <p>
            1. Once the ThreeFold app is installed, click "Wallets" in the side bar, choose the ThreeFold currency and
            press 'Receive'. A page with a QR code will be displayed.
        </p>
        <p>
            2. Your address is displayed underneath this QR code. Click on the address or the QR code to copy it. 
            Eventually paste the address in an e-mail to yourself, so you can later access it on your computer. 
        </p>
        <p>3. Paste this address in the "Address" field below.</p>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="threefold_address">Address</label>
                <div class="controls">
                    <input name="threefold_address" id="threefold_address" type="text" minlength="78"
                        maxlength="78" value="${setting.settings.address}" style="width: 95%;">
                </div>
            </div>
        </form>
        {{/if}}
        {{/each}}
    </div>
    <div id="mobile_payments_unavailable" style="display: none;">
        ${T('mobile_payments_only_available_with_adv_order')}
    </div>
    <hr>
</div>
{% endraw %}
