<div id="pharmacy_orders" class="page" style="display: none;">
    <div class="btn-group">
        <button type="button" class="btn" id="pharmacyOrdersShowTodo">&nbsp;</button>
        <button type="button" class="btn btn-success" id="pharmacyOrdersShowAll">&nbsp;</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="span2">{% translate language, "Date" %}</th>
                <th class="span2">{% translate language, "inbox-from" %}</th>
                <th>{% translate language, "order-remarks" %}</th>
                <th class="span4">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script src="/static/js/solutions/sln-pharmacy_orders.js"></script>
</div>
