<div class="broken">
<h2>{% translate language, "broken-reservations" %}</h2>
{% translate language, "broken-comment" %}<br>
<b>{% translate language, "broken-comment-instruction" %}</b>{% raw %}
{{if via_rogerthat > 0}}
<br><button class="btn btn-success via-rogerthat">{% endraw %}{% translate language, "send-cancel-notification-via-rogerthat" %}{% raw %} (${via_rogerthat})</button>
{{/if}}
<table class="table table-striped">
    <thead>
        <tr>
{%- endraw %}
            <th>{% translate language, "Date" %}</th>
            <th>#</th>
            <th>{% translate language, "reservation-name" %}</th>
            <th>{% translate language, "phone" %}</th>
{% raw %}
        </tr>
    </thead>
    <tbody>
        {{each reservations}}
        <tr key="${$value.key}" via-rogerthat="${$value.via_rogerthat}">
            <td>${$value.time}</td>
            <td>${$value.people}</td>
            <td>${$value.name}</td>
            <td>${$value.phone}</td>
            <td>
            	{{each $value.alternative_shifts}}
            	<button class="btn btn-primary move-shift" shift="${$value}">&rarr; ${$value}</button>&nbsp;
                {{/each}}
            	<button class="btn btn-success notified" shift="${$value}">{% endraw %}{% translate language, "reservation-notified" %}{% raw %}</button>&nbsp;
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
{%- endraw %}
