<section id="section_restaurant-reservation" style="display: none;">
    <button class="btn btn-primary" id="addshiftbutton" type="button">
        {% translate language, "settings-add-shift" %}
    </button>
    <br><br>
    <div id="shift_rendering"></div>
    <hr />
    <button id="addtable" class="btn btn-primary">
        {% translate language, "settings-add-table" %}
    </button>
    <br><br>
    <div id="tables"></div>
</section>
