<section id="section_shifts" style="display: none;">
    <button class="btn btn-primary" id="addshiftbutton" type="button">
        {% translate language, "common", "settings-add-shift" %}
    </button>
    <br><br>
    <div id="shift_rendering"></div>
</section>

<section id="section_tables" style="display: none;">
    <button id="addtable" class="btn btn-primary">
        {% translate language, "common", "settings-add-table" %}
    </button>
    <br><br>
    <div id="tables"></div>
</section>
