{% raw %}
{{each(i,sandwich) sandwiches}}
<tr id="${sandwich.id}"
    class="{{if sandwich.status == STATUS_READY}}success{{/if}} {{if sandwich.status == STATUS_REPLIED}}info{{/if}}"
    sandwich_id="${sandwich.id}">
    <td>${sandwich.date_time}</td>
    <td><img class="avatar" src="${sandwich.sender_avatar_url}">${sandwich.sender_name}</td>
    <td class="sandwich-details-cell">
	    <table class="table table-striped table-bordered">
	        <thead>
	            <tr>
	                <th>${T('Type')}</th>
	                <th>${T('Topping')}</th>
	                <th>${T('Options')}</th>
	            </tr>
	        </thead>
	        <tbody>
	        {{each(j,detail) sandwich.details}}
	        	<tr>
			        <td>${detail.type.description} {{if detail.type.price != 0}}(${CURRENCY}
				        ${detail.type.price_in_euro}){{/if}}</td>
				    <td>{{if detail.topping}}${detail.topping.description} {{if detail.topping.price != 0}}(${CURRENCY}
				        ${detail.topping.price_in_euro}){{/if}}{{/if}}</td>
				    <td>
				        <ul>{{each(ii,option) detail.options}}
				            <li>${option.description} {{if option.price != 0}}(${CURRENCY} ${option.price_in_euro}){{/if}}</li>
				            {{/each}}</ul>
				    </td>
			    </tr>
	        {{/each}}
	        </tbody>
	    </table>
    </td>
    
    <td>${sandwich.remark}
        {{if sandwich.takeaway_time_formatted}}
        <br>${T('takeaway_time')}: ${sandwich.takeaway_time_formatted}
        {{/if}}
    </td>
    <td>${CURRENCY} ${sandwich.price_in_euro}
        {{if sandwich.transaction.id}}
        <br />
        <p>${ T('paid_via_app') }</p>
        <button type="button" action="transaction" sandwich_id="${sandwich.id}" class="btn btn-primary control">
            ${T('view_transaction')}
        </button>
        {{/if}}
    </td>
    <td>
        {{if sandwich.status != STATUS_READY}}
        <button action="reply" sandwich_id="${sandwich.id}" class="btn btn-primary control">
            ${CommonTranslations.REPLY}
        </button>
        <button action="ready" sandwich_id="${sandwich.id}" class="btn btn-success control">
            ${CommonTranslations.READY}
        </button>
        <button action="delete" sandwich_id="${sandwich.id}" class="btn btn-warning control">
            ${CommonTranslations.DELETE}
        </button>
        {{/if}}
    </td>
</tr>
{{/each}}
{% endraw %}
