{% if not loyalty %}
<script src="/static/js/solutions/sln-settings.js"></script>
{% endif %}
{%- if SolutionModule.CITY_APP in sln_settings.modules and not loyalty %}
<script src="/static/js/solutions/cityapp.js"></script>
{% endif %}
