<script language="javascript">

   var DEBUG = {% if debug %}true{% else %}false{% endif %};

   var CURRENCY = "{{ currency }}";

   var LANGUAGE = "{{ language }}";
   
   var LOGO_LANGUAGES = [{% for lang in logo_languages %}"{{ lang }}",{% endfor %}];

   var MONTHS = [{% for m in months %}"{{ m }}",{% endfor %}];

   var MONTHS_SHORT = [{% for m in months_short %}"{{ m }}",{% endfor %}];

   var WEEK_DAYS = [{% for m in week_days %}"{{ m }}", {% endfor %}];

   var DAYS_STR = { {% for day_num, day_name in days %}
        {{ day_num }} : "{{ day_name }}",{% endfor %}
   };

   var CommonTranslations = {{ translations }};
   function T(translationKey, args) {
       var translation = CommonTranslations[translationKey];
       if (!translation) {
           var msg = 'Missing translation for key \''+ translationKey + '\'';
           console.warn(msg);
           if(!DEBUG) {
               sln.logError(msg, new Error(msg));
           }
           return translationKey;
       }
       if (args) {
           for (var key in args) {
               if (args.hasOwnProperty(key)) {
                   translation = replaceAll(translation, '%(' + key + ')s', args[key]);
               }
           }
       }
       return translation.replace(/\n/g, '<br />');
   }
   function replaceAll(string, str1, str2, ignore) {
       return string.replace(new RegExp(str1.replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&])/ig, "\\$&"), (ignore ? "g" : "g")), (typeof(str2) == "string") ? str2.replace(/\$/g, "$$$$") : str2);
   }
</script>
