{% set quick_translations = [
'discussion_groups',
'new_discussion_group',
'edit_discussion_group',
'confirm_delete_discussion_group',
'topic',
'could_not_find_discussion_group',
'created',
'no_discussion_groups_yet',
'new_group',
'sent',
'received',
'Read',
'connected',
'connected-users',
'not_connected_users',
'amount_of_users',
'status',
'no-data-gathered',
'events-title',
'Label',
'Send',
'action_button',
'image_optional',
'promotions',
'actions',
'promote_news_post_explanation',
'promotion_duration',
'days_amount',
'prices_exclusive_vat',
'this_field_is_required',
'Next',
'Date',
'create_news',
'update_news',
'previous_news_items',
'Remove',
'Save',
'Load more',
'no_previous_news_items',
'error_while_loading_news_try_again_later',
'Broadcast type',
'news_type_explanation',
'news_content_explanation',
'news_image_explanation',
'news_label_explanation',
'news_action_button_explanation',
'news_target_audience_explanation',
'news_checkout_explanation',
'promotion',
'Type',
'normal',
'please_enter_at_least_x_characters',
'please_enter_no_more_than_x_characters',
'this_field_is_required',
'Broadcast',
'news_type',
'create_news',
'update_news',
'target_audience',
'coupon_content',
'Content',
'checkout',
'Roger that',
'follow',
'not_connected_users',
'broadcast-reach',
'successfully_published_news_item',
'could_not_publish_newsitem',
'coupon',
'inbox-message',
'promote',
'read_more',
'show_less',
'sample_service',
'sample_newsitem_title',
'sample_newsitem_text',
'avatar_visible',
'news_items',
'bread_type',
'Toppings',
'Options',
'sample_newsitem_coupon_content',
'sample_newsitem_coupon_text',
'promoted',
'phone_number',
'email_address',
'Call',
'send_email',
'open_website'
] %}
<script language="javascript">

   var DEBUG = {% if debug %}true{% else %}false{% endif %};

   var CURRENCY = "{{ currency }}";

   var LANGUAGE = "{{ language }}";

   var LOGO_LANGUAGES = [{% for lang in logo_languages %}"{{ lang }}",{% endfor %}];

   var MONTHS = [{% for m in months %}"{{ m }}",{% endfor %}];

   var MONTHS_SHORT = [{% for m in months_short %}"{{ m }}",{% endfor %}];

   var WEEK_DAYS = [{% for m in week_days %}"{{ m }}", {% endfor %}];

   var DAYS_STR = { {% for day_num, day_name in days %}
        {{ day_num }} : "{{ day_name }}",{% endfor %}
   };

   var CommonTranslations = {
        ABUSE : '{% translate language, "common", "Abuse", "_duplicate_backslashes=true" %}',
        ADD : '{% translate language, "common", "reservation-add", "_duplicate_backslashes=true" %}',
        ADD_ATTACHMENT : '{% translate language, "common", "add-attachment", "_duplicate_backslashes=true" %}',
        ADD_HOLIDAY : '{% translate language, "common", "settings-add-holiday", "_duplicate_backslashes=true" %}',
        ADD_MOBILE_INBOX_FORWARDERS : '{% translate language, "common", "add-mobile-inbox-forwarders", "_duplicate_backslashes=true" %}',
        ADD_SHIFT : '{% translate language, "common", "settings-add-shift", "_duplicate_backslashes=true" %}',
        ADD_TABLE : '{% translate language, "common", "settings-add-table", "_duplicate_backslashes=true" %}',
        ADD_URL : '{% translate language, "common", "add-url", "_duplicate_backslashes=true" %}',
        ADD_WEBSITE : '{% translate language, "common", "add-website", "_duplicate_backslashes=true" %}',
        ADDRESS : '{% translate language, "common", "address", "_duplicate_backslashes=true" %}',
        AGE : '{% translate language, "common", "age", "_duplicate_backslashes=true" %}',
        AGE_MIN_MAX_LESS : '{% translate language, "common", "age-min-max-less", "_duplicate_backslashes=true" %}',
        AGENDA_DISABLED : '{% translate language, "common", "agenda-disabled", "_duplicate_backslashes=true" %}',
        AGENDA_ENABLED : '{% translate language, "common", "agenda-enabled", "_duplicate_backslashes=true" %}',
        AJAX_ERROR_MESSAGE : '{% translate language, "common", "ajax-error-message", "_duplicate_backslashes=true" %}',
        ALERT : '{% translate language, "common", "Alert", "_duplicate_backslashes=true" %}',
        ALL : '{% translate language, "common", "All", "_duplicate_backslashes=true" %}',
        ALL_INVITES_WERE_SENT_SUCCESSFULLY : '{% translate language, "common", "All invites were sent successfully", "_duplicate_backslashes=true" %}',
        APP : '{% translate language, "common", "app", "_duplicate_backslashes=true" %}',
        ASSIGN_REDEEM_LOYALTY_POINTS : '{% translate language, "common", "assign-redeem-loyalty-points", "_duplicate_backslashes=true" %}',
        ATTACHMENT : '{% translate language, "common", "Attachment", "_duplicate_backslashes=true" %}',
        ATTACHMENTS : '{% translate language, "common", "Attachments", "_duplicate_backslashes=true" %}',
        AUTO_IMPORT : '{% translate language, "common", "Auto import", "_duplicate_backslashes=true" %}',
        AUTHORIZE : '{% translate language, "common", "Authorize", "_duplicate_backslashes=true" %}',
        AVATAR : '{% translate language, "common", "Avatar", "_duplicate_backslashes=true" %}',
        BACKGROUND_COLOR_IS_REQUIRED : '{% translate language, "common", "Background color is required", "_duplicate_backslashes=true" %}',
        BOOKING_THRESHOLD : '{% translate language, "common", "Booking Threshold", "_duplicate_backslashes=true" %}',
        BRAND : '{% translate language, "common", "Brand", "_duplicate_backslashes=true" %}',
        BROADCAST_DISABLED : '{% translate language, "common", "broadcast-disabled", "_duplicate_backslashes=true" %}',
        BROADCAST_ENABLED : '{% translate language, "common", "broadcast-enabled", "_duplicate_backslashes=true" %}',
        BROADCAST_PLANNED_SUCCESSFULLY : '{% translate language, "common", "broadcast-planned-successfully", "_duplicate_backslashes=true" %}',
        BROADCAST_SEND_SUCCESSFULLY : '{% translate language, "common", "broadcast-send-successfully", "_duplicate_backslashes=true" %}',
        BROADCAST_TYPE : '{% translate language, "common", "Broadcast type", "_duplicate_backslashes=true" %}',
        BROADCAST_TYPE_REQUIRED : '{% translate language, "common", "broadcast-type-required", "_duplicate_backslashes=true" %}',
        BROWSER_NOT_FULLY_SUPPORTED : '{% translate language, "common", "browser-not-fully-supported", "_duplicate_backslashes=true" %}',
        BROWSER_NOT_SUPPORT_ORDER_SIGNING : '{% translate language, "common", "browser-not-support-order-signing", "_duplicate_backslashes=true" %}',
        BROWSER_SWITCH_TO_CHROME : '{% translate language, "common", "browser-switch-to-chrome", "_duplicate_backslashes=true" %}',
        BY : '{% translate language, "common", "By", "_duplicate_backslashes=true" %}',
        CALENDAR_ADMIN_ADD : '{% translate language, "common", "calendar-admin-add", "_duplicate_backslashes=true" %}',
        CALENDAR_ADMINS : '{% translate language, "common", "calendar-admins", "_duplicate_backslashes=true" %}',
        CALENDAR_REMOVE_FAILED_HAS_EVENTS : '{% translate language, "common", "calendar-remove-failed-has-events", "_duplicate_backslashes=true" %}',
        CANCEL : '{% translate language, "common", "Cancel", "_duplicate_backslashes=true" %}',
        CAPACITY : '{% translate language, "common", "Capacity", "_duplicate_backslashes=true" %}',
        CAPACITY_IS_REQUIRED : '{% translate language, "common", "Capacity is required", "_duplicate_backslashes=true" %}',
        CARD_NUMBER : '{% translate language, "common", "Card number", "_duplicate_backslashes=true" %}',
        CATEGORY_DUPLICATE_NAME : '{% translate language, "common", "category_duplicate_name", "_duplicate_backslashes=true" %}',
        CHANGE_AVATAR : '{% translate language, "common", "Change avatar", "_duplicate_backslashes=true" %}',
        CHANGE_LOGO : '{% translate language, "common", "Change logo", "_duplicate_backslashes=true" %}',
        CHANNEL_DISCONNECTED_RELOAD_BROWSER : '{% translate language, "common", "channel-disconnected-reload-browser", "_duplicate_backslashes=true" %}',
        CLICK_TO_CHANGE : '{% translate language, "common", "(Click to change)", "_duplicate_backslashes=true" %}',
        CLICK_TO_ENLARGE: '{% translate language, "common", "click-to-enlarge", "_duplicate_backslashes=true" %}',
        CLOSE : '{% translate language, "common", "Close", "_duplicate_backslashes=true" %}',
        CONFIGURE : '{% translate language, "common", "Configure", "_duplicate_backslashes=true" %}',
        CONFIRM : '{% translate language, "common", "Confirm", "_duplicate_backslashes=true" %}',
        CONFIRM_DELETE_STATIC_CONTENT : '{% translate language, "common", "confirm-delete-static-content", "_duplicate_backslashes=true" %}',
        CONTACT_PARTICIPANTS: '{% translate language, "common", "participants-contact", "_duplicate_backslashes=true" %}',
        CONTACT_YOUR_X_FOR_MORE_INFO : '{% translate language, "common", "contact-your-x-for-more-info", "_duplicate_backslashes=true" %}',
        CONTENT_IS_REQUIRED : '{% translate language, "common", "Content is required", "_duplicate_backslashes=true" %}',
        CONTINUE_WITHOUT_FACEBOOK_POST : '{% translate language, "common", "continue-without-facebook-post", "_duplicate_backslashes=true" %}',
        CREATE_GROUP_PURCHASE: '{% translate language, "common", "group-purchase-create", "_duplicate_backslashes=true" %}',
        CREATE_NEW_CALENDAR : '{% translate language, "common", "create-new-calendar", "_duplicate_backslashes=true" %}',
        CURRENCY : '{% translate language, "common", "Currency", "_duplicate_backslashes=true" %}',
        CUSTOMERS : '{% translate language, "common", "Customers", "_duplicate_backslashes=true" %}',
        DEFAULT_MENU_NAME : '{% translate language, "common", "menu", "_duplicate_backslashes=true" %}',
        DELETE : '{% translate language, "common", "inbox-delete", "_duplicate_backslashes=true" %}',
        DELETE_ADMIN_CONFIRMATION : '{% translate language, "common", "delete-admin-confirm", "_duplicate_backslashes=true" %}',
        DELETE_SLIDE_CONFIRM : '{% translate language, "common", "delete-slide-confirm", "_duplicate_backslashes=true" %}',
        DELETE_TABLE : '{% translate language, "common", "Delete table", "_duplicate_backslashes=true" %}',
        DELETE_VISIT_TOOLTIP : '{% translate language, "common", "delete-visit-tooltip", "_duplicate_backslashes=true" %}',
        DELETE_WITHOUT_NOTICE : '{% translate language, "common", "delete-without-notice", "_duplicate_backslashes=true" %}',
        DESCRIPTION : '{% translate language, "common", "events-description", "_duplicate_backslashes=true" %}',
        DESCRIPTION_IS_REQUIRED : '{% translate language, "common", "Description is required", "_duplicate_backslashes=true" %}',
        DETAILS : '{% translate language, "common", "usage-detail", "_duplicate_backslashes=true" %}',
        DISABLED : '{% translate language, "common", "Disabled", "_duplicate_backslashes=true" %}',
        DISCOUNT : '{% translate language, "common", "Discount", "_duplicate_backslashes=true" %}',
        DISCOUNT_IS_AN_INVALID_NUMBER : '{% translate language, "common", "Discount is an invalid number", "_duplicate_backslashes=true" %}',
        DISCOUNT_NEEDS_TO_BE_BETWEEN_0_AND_100 : '{% translate language, "common", "Discount needs to be between 0 and 100", "_duplicate_backslashes=true" %}',
        DONE : '{% translate language, "common", "Done", "_duplicate_backslashes=true" %}',
        DOWNLOAD : '{% translate language, "common", "Download", "_duplicate_backslashes=true" %}',
        DOWNLOAD_GOOGLE_CHROME : '{% translate language, "common", "Download Google Chrome", "_duplicate_backslashes=true" %}',
        EDIT: '{% translate language, "common", "Edit", "_duplicate_backslashes=true" %}',
        EDIT_DESCRIPTION : '{% translate language, "common", "edit-description", "_duplicate_backslashes=true" %}',
        EDIT_SHIFT : '{% translate language, "common", "settings-edit-shift", "_duplicate_backslashes=true" %}',
        EDIT_TABLE : '{% translate language, "common", "settings-edit-table", "_duplicate_backslashes=true" %}',
        EMAIL : '{% translate language, "common", "Email", "_duplicate_backslashes=true" %}',
        EMAIL_ADDRESS : '{% translate language, "common", "E-mail address", "_duplicate_backslashes=true" %}',
        EMAIL_REMINDERS_ENABLED : '{% translate language, "common", "Email reminders enabled", "_duplicate_backslashes=true" %}',
        EMAIL_REMINDERS_DISABLED : '{% translate language, "common", "Email reminders disabled", "_duplicate_backslashes=true" %}',
        ENABLED : '{% translate language, "common", "Enabled", "_duplicate_backslashes=true" %}',
        END : '{% translate language, "common", "End", "_duplicate_backslashes=true" %}',
        END_DATE_24H_IN_FUTURE : '{% translate language, "common", "end-date-24h-in-future", "_duplicate_backslashes=true" %}',
        END_TIME : '{% translate language, "common", "End time", "_duplicate_backslashes=true" %}',
        ENTER_DOT_DOT_DOT : '{% translate language, "common", "enter-dot-dot-dot", "_duplicate_backslashes=true" %}',
        ENTER_NAME_OR_EMAIL : '{% translate language, "common", "enter-name-or-email", "_duplicate_backslashes=true" %}',
        ERROR : '{% translate language, "common", "Error", "_duplicate_backslashes=true" %}',
        ERROR_OCCURED_UNKNOWN : '{% translate language, "common", "error-occured-unknown", "_duplicate_backslashes=true" %}',
        ERROR_OCCURED_CREDIT_CARD_LINKING : '{% translate language, "common", "error-occured-credit-card-linking", "_duplicate_backslashes=true" %}',
        EVENT_ADD : '{% translate language, "common", "events-add", "_duplicate_backslashes=true" %}',
        EVENT_EDIT : '{% translate language, "common", "event-edit", "_duplicate_backslashes=true" %}',
        EVENT_DATE : '{% translate language, "common", "Date", "_duplicate_backslashes=true" %}',
        EVENT_REMIND_ME : '{% translate language, "common", "events-reminder", "_duplicate_backslashes=true" %}',
        EVENT_ORGANIZER : '{% translate language, "common", "events-organizer", "_duplicate_backslashes=true" %}',
        EVENT_PLACE : '{% translate language, "common", "events-place", "_duplicate_backslashes=true" %}',
        EVENTS_UIT_ACTOR : '{% translate language, "common", "event-uit-actor", "_duplicate_backslashes=true" %}',
        EXPIRES : '{% translate language, "common", "Expires", "_duplicate_backslashes=true" %}',
        FACEBOOK_ADMIN_PERMISSIONS_REQUIRED : '{% translate language, "common", "facebook-admin-permissions-required", "_duplicate_backslashes=true" %}',
        FACEBOOK_ADMIN_REQUIRED : '{% translate language, "common", "facebook-admin-required", "_duplicate_backslashes=true" %}',
        FACEBOOK_PAGE : '{% translate language, "common", "Facebook page", "_duplicate_backslashes=true" %}',
        FACEBOOK_PLACE_REQUIRED : '{% translate language, "common", "facebook-place-required", "_duplicate_backslashes=true" %}',
        FACEBOOK_VISIBILITY_APP : '{% translate language, "common", "facebook-visibility-app", "_duplicate_backslashes=true" %}',
        FAILED : '{% translate language, "common", "Failed", "_duplicate_backslashes=true" %}',
        FEATURE_DISABLED : '{% translate language, "common", "feature-disabled", "_duplicate_backslashes=true" %}',
        FEATURE_NOT_ENABLED_ACCOUNT : '{% translate language, "common", "feature-not-enabled-account", "_duplicate_backslashes=true" %}',
        FROM : '{% translate language, "common", "inbox-from", "_duplicate_backslashes=true" %}',
        FROM_X_TO_Y_ON_Z : '{% translate language, "common", "from-x-to-y-on-z", "_duplicate_backslashes=true" %}',
        GATHER_EVENTS_DISABLED : '{% translate language, "common", "Hide events of merchants and associations", "_duplicate_backslashes=true" %}',
        GATHER_EVENTS_ENABLED : '{% translate language, "common", "Show events of merchants and associations", "_duplicate_backslashes=true" %}',
        GENDER : '{% translate language, "common", "gender", "_duplicate_backslashes=true" %}',
        GENDER_MALE : '{% translate language, "common", "gender-male", "_duplicate_backslashes=true" %}',
        GENDER_FEMALE : '{% translate language, "common", "gender-female", "_duplicate_backslashes=true" %}',
        GOING : '{% translate language, "common", "Going", "_duplicate_backslashes=true" %}',
        GOOGLE_CALENDAR : '{% translate language, "common", "Google calendar", "_duplicate_backslashes=true" %}',
        GROUP_SIZE : '{% translate language, "common", "Group Size", "_duplicate_backslashes=true" %}',
        GROUP_PURCHASE_DELETE_CONFIRMATION : '{% translate language, "common", "grouppurchase-delete-confirmation", "_duplicate_backslashes=true" %}',
        GROUP_PURCHASE_DISABLED : '{% translate language, "common", "group-purchase-disabled", "_duplicate_backslashes=true" %}',
        GROUP_PURCHASE_ENABLED : '{% translate language, "common", "group-purchase-enabled", "_duplicate_backslashes=true" %}',
        GUESTS : '{% translate language, "common", "Guests", "_duplicate_backslashes=true" %}',
        HELP : '{% translate language, "common", "Help", "_duplicate_backslashes=true" %}',
        HIDE_PRICES : '{% translate language, "common", "Hide prices", "_duplicate_backslashes=true" %}',
        HINT : '{% translate language, "common", "Hint", "_duplicate_backslashes=true" %}',
        HISTORY: '{% translate language, "common", "History", "_duplicate_backslashes=true" %}',
        HOLIDAY_REMOVE_CONFIRMATION : '{% translate language, "common", "holiday-remove-confirmation", "_duplicate_backslashes=true" %}',
        ICON_IS_REQUIRED : '{% translate language, "common", "Icon is required", "_duplicate_backslashes=true" %}',
        INBOX_DELETE_MESSAGE_CONFIRMATION : '{% translate language, "common", "inbox-delete-message-confirmation", "_duplicate_backslashes=true" %}',
        INBOX_MESSAGE : '{% translate language, "common", "inbox-message", "_duplicate_backslashes=true" %}',
        INSUFFICIENT_PERMISSIONS : '{% translate language, "common", "insufficient-permissions", "_duplicate_backslashes=true" %}',
        INPUT : '{% translate language, "common", "Input", "_duplicate_backslashes=true" %}',
        INVALID_COLOR : '{% translate language, "common", "Invalid color", "_duplicate_backslashes=true" %}',
        INVISIBLE : '{% translate language, "common", "invisible", "_duplicate_backslashes=true" %}',
        INVITES_SENT : '{% translate language, "common", "Invites sent", "_duplicate_backslashes=true" %}',
        INVOICE_VIEW : '{% translate language, "common", "invoice-view", "_duplicate_backslashes=true" %}',
        KEY : '{% translate language, "common", "Key", "_duplicate_backslashes=true" %}',
        LABEL_IS_REQUIRED : '{% translate language, "common", "Label is required", "_duplicate_backslashes=true" %}',
        LANGUAGE: '{% translate language, "common", "Language", "_duplicate_backslashes=true" %}',
        LEAPTIME : '{% translate language, "common", "Leaptime", "_duplicate_backslashes=true" %}',
        LINK_CREDIT_CARD : '{% translate language, "common", "Link credit card", "_duplicate_backslashes=true" %}',
        LOADING_DOT_DOT_DOT : '{% translate language, "common", "loading-dot-dot-dot", "_duplicate_backslashes=true" %}',
        LOGIN_WITH_FACEBOOK_FIRST : '{% translate language, "common", "Login with facebook first", "_duplicate_backslashes=true" %}',
        LOGO : '{% translate language, "common", "Logo", "_duplicate_backslashes=true" %}',
        LOGOUT : '{% translate language, "common", "Logout", "_duplicate_backslashes=true" %}',
        LOTTERY_NOT_REDEEMED : '{% translate language, "common", "lottery-not-redeemed", "_duplicate_backslashes=true" %}',
        LOTTERY_NOT_REDEEMED_NEXT_WINNER : '{% translate language, "common", "lottery-not-redeemed-next-winner", "_duplicate_backslashes=true" %}',
        LOTTERY_TEXT_DISCOUNT : '{% translate language, "common", "lottery-text-discount", "_duplicate_backslashes=true" %}',
        LOTTERY_WITH_DATE : '{% translate language, "common", "Lottery with date", "_duplicate_backslashes=true" %}',
        MANAGE_CREDIT_CARD : '{% translate language, "common", "manage-credit-card", "_duplicate_backslashes=true" %}',
        MAXIMUM_UNITS_IS_AN_INVALID_NUMBER : '{% translate language, "common", "Maximum units is an invalid number", "_duplicate_backslashes=true" %}',
        MAXIMUM_UNITS_IS_REQUIRED : '{% translate language, "common", "Maximum units is required", "_duplicate_backslashes=true" %}',
        MAYBE : '{% translate language, "common", "Maybe", "_duplicate_backslashes=true" %}',
        MENU_CATEGORY_NEW : '{% translate language, "common", "menu-category-new", "_duplicate_backslashes=true" %}',
        MENU_CATEGORY_DELETE_CONFIRMATION : '{% translate language, "common", "menu-category-delete-confirmation", "_duplicate_backslashes=true" %}',
        MENU_CATEGORY_ITEM_DELETE_CONFIRMATION : '{% translate language, "common", "menu-category-item-delete-confirmation", "_duplicate_backslashes=true" %}',
        MENU_ITEM_NAME : '{% translate language, "common", "menu-item-name", "_duplicate_backslashes=true" %}',
        MENU_NAME : '{% translate language, "common", "menu-name", "_duplicate_backslashes=true" %}',
        MINIMUM_UNITS_IS_AN_INVALID_NUMBER : '{% translate language, "common", "Minimum units is an invalid number", "_duplicate_backslashes=true" %}',
        MINIMUM_UNITS_IS_REQUIRED : '{% translate language, "common", "Minimum units is required", "_duplicate_backslashes=true" %}',
        NAME : '{% translate language, "common", "reservation-name", "_duplicate_backslashes=true" %}',
        NAME_AT_TIME : '{% translate language, "common", "name-at-time", "_duplicate_backslashes=true" %}',
        NAME_REQUIRED : '{% translate language, "common", "name-required", "_duplicate_backslashes=true" %}',
        NAME_IS_REQUIRED : '{% translate language, "common", "Name is required", "_duplicate_backslashes=true" %}',
        NEW_CREDIT_CARD : '{% translate language, "common", "New credit card", "_duplicate_backslashes=true" %}',
        NO : '{% translate language, "common", "No", "_duplicate_backslashes=true" %}',
        NO_CALENDARS_FOUND : '{% translate language, "common", "No calendars found", "_duplicate_backslashes=true" %}',
        NO_DAYS_SELECTED_FOR_THIS_SHIFT : '{% translate language, "common", "No days selected for this shift", "_duplicate_backslashes=true" %}',
        NO_IMAGE_SELECTED_YET : '{% translate language, "common", "No image selected yet", "_duplicate_backslashes=true" %}',
        NO_MORE_SANDWICHES : '{% translate language, "common", "no-more-sandwiches", "_duplicate_backslashes=true" %}',
        NO_SHIFST_FOR_THIS_TIME : '{% translate language, "common", "no-shifts-for-this-time", "_duplicate_backslashes=true" %}',
        NOT_GOING : '{% translate language, "common", "Not going", "_duplicate_backslashes=true" %}',
        NOTE : '{% translate language, "common", "Note", "_duplicate_backslashes=true" %}',
        NUMBER_OF_STAMPS : '{% translate language, "common", "Number of stamps", "_duplicate_backslashes=true" %}',
        NUMBER_OF_STAMPS_IS_AN_INVALID_NUMBER : '{% translate language, "common", "Number of stamps is an invalid number", "_duplicate_backslashes=true" %}',
        NUMBER_OF_STAMPS_NEEDS_TO_BE_AT_LEAST_1 : '{% translate language, "common", "Number of stamps needs to be at least 1", "_duplicate_backslashes=true" %}',
        NUMBER_OF_WINNERS_IS_AN_INVALID_NUMBER : '{% translate language, "common", "Number of winners is an invalid number", "_duplicate_backslashes=true" %}',
        OKAY_I_GOT_IT : '{% translate language, "common", "okay-i-got-it", "_duplicate_backslashes=true" %}',
        OR_SCAN_QRCODE_APP : '{% translate language, "common", "or-scan-qr-code-app", "_duplicate_backslashes=true" %}',
        ORDER_CANCEL : '{% translate language, "common", "Cancel order", "_duplicate_backslashes=true" %}',
        ORDER_DELETE_CONFIRMATION : '{% translate language, "common", "order-delete-confirmation", "_duplicate_backslashes=true" %}',
        OPENING_HOURS : '{% translate language, "common", "opening-hours", "_duplicate_backslashes=true" %}',
        OPTIONAL_BRACES : '{% translate language, "common", "(optional)", "_duplicate_backslashes=true" %}',
        OPTIONS : '{% translate language, "common", "Options", "_duplicate_backslashes=true" %}',
        OUR_CITY_APP : '{% translate language, "common", "our-city-app", "_duplicate_backslashes=true" %}',
        OUR_CITY_APP_SUBSCRIPTION : '{% translate language, "common", "our-city-app-subscription", "_duplicate_backslashes=true" %}',
        PARSING_DOT_DOT_DOT : '{% translate language, "common", "parsing-dot-dot-dot", "_duplicate_backslashes=true" %}',
        PARTICIPANTS: '{% translate language, "common", "participants", "_duplicate_backslashes=true" %}',
        PDF_IS_REQUIRED : '{% translate language, "common", "PDF is required", "_duplicate_backslashes=true" %}',
        REDEEMED : '{% translate language, "common", "Redeemed", "_duplicate_backslashes=true" %}',
        PERSONS : '{% translate language, "common", "persons", "_duplicate_backslashes=true" %}',
        PHONE_NUMBER : '{% translate language, "common", "Phone number", "_duplicate_backslashes=true" %}',
        PHONE_REQUIRED : '{% translate language, "common", "phone-required", "_duplicate_backslashes=true" %}',
        PICTURE : '{% translate language, "common", "picture", "_duplicate_backslashes=true" %}',
        PICTURE_SIZE_TOO_LARGE_20MB : '{% translate language, "common", "picture-size-too-large-20mb", "_duplicate_backslashes=true" %}',
        PLEASE_ENTER_A_MESSAGE : '{% translate language, "common", "please-enter-a-message", "_duplicate_backslashes=true" %}',
        PLEASE_ENTER_THE_WINNINGS : '{% translate language, "common", "please-enter-the-winnings", "_duplicate_backslashes=true" %}',
        PLEASE_SELECT_A_PICTURE : '{% translate language, "common", "Please select a picture", "_duplicate_backslashes=true" %}',
        POSITION_IS_REQUIRED : '{% translate language, "common", "Position is required", "_duplicate_backslashes=true" %}',
        PREVIEW : '{% translate language, "common", "Preview", "_duplicate_backslashes=true" %}',
        PRICE : '{% translate language, "common", "Price", "_duplicate_backslashes=true" %}',
        PRICE_IS_AN_INVALID_NUMBER : '{% translate language, "common", "Price is an invalid number", "_duplicate_backslashes=true" %}',
        PRICE_P_UNIT: '{% translate language, "common", "price-p-unit", "_duplicate_backslashes=true" %}',
        PRICE_REQUIRED : '{% translate language, "common", "Price required", "_duplicate_backslashes=true" %}',
        PRODUCT_DUPLICATE_NAME : '{% translate language, "common", "product_duplicate_name", "_duplicate_backslashes=true" %}',
        PUBLISH_CHANGES : '{% translate language, "common", "publish-changes", "_duplicate_backslashes=true" %}',
        PUBLISHING_DOT_DOT_DOT : '{% translate language, "common", "publishing-dot-dot-dot", "_duplicate_backslashes=true" %}',
        QANDA_SUCCESS_FORWARDED : '{% translate language, "common", "qanda-success-forwarded", "_duplicate_backslashes=true" %}',
        READY: '{% translate language, "common", "ready", "_duplicate_backslashes=true" %}',
        READY_FOR_COLLECTION : '{% translate language, "common", "ready-for-collection", "_duplicate_backslashes=true" %}',
        READY_WITHOUT_NOTICE : '{% translate language, "common", "ready-without-notice", "_duplicate_backslashes=true" %}',
        REDEEM : '{% translate language, "common", "Redeem", "_duplicate_backslashes=true" %}',
        REDEEM_CONFIRMATION : '{% translate language, "common", "redeem-confirmation", "_duplicate_backslashes=true" %}',
        REGION : '{% translate language, "common", "Region", "_duplicate_backslashes=true" %}',
        REMARKS: '{% translate language, "common", "order-remarks", "_duplicate_backslashes=true" %}',
        REMOVE : '{% translate language, "common", "Remove", "_duplicate_backslashes=true" %}',
        REMOVE_FAILED : '{% translate language, "common", "remove-failed", "_duplicate_backslashes=true" %}',
        REPAIR_DELETE_CONFIRMATION : '{% translate language, "common", "repair-delete-confirmation", "_duplicate_backslashes=true" %}',
        REQUIRED : '{% translate language, "common", "required", "_duplicate_backslashes=true" %}',
        REQUIRED_LOWER : '{% translate language, "common", "required-lower", "_duplicate_backslashes=true" %}',
        RESERVATION_IN_CONNECTION_WITH : '{% translate language, "common", "reservation-in-connection-with", "_duplicate_backslashes=true" %}',
        RESERVATION_REPLY_ON : '{% translate language, "common", "reservation-reply-on", "_duplicate_backslashes=true" %}',
        RESERVATIONS_OF_TABLE : '{% translate language, "common", "Reservations of table", "_duplicate_backslashes=true" %}',
        RESTAURANT_RESERVATIONS_CANCEL_BROKEN : '{% translate language, "common", "restaurant-reservations-cancel-broken", "_duplicate_backslashes=true" %}',
        REPLY : '{% translate language, "common", "inbox-reply", "_duplicate_backslashes=true" %}',
        REPLY_ORDER_CANCEL : '{% translate language, "common", "order-cancel", "_duplicate_backslashes=true" %}',
        REPLY_ORDER_READY : '{% translate language, "common", "order-ready", "_duplicate_backslashes=true" %}',
        REPLY_REPAIR_CANCEL : '{% translate language, "common", "repair-cancel", "_duplicate_backslashes=true" %}',
        REPLY_REPAIR_READY : '{% translate language, "common", "repair-ready", "_duplicate_backslashes=true" %}',
        REPLY_TO_MORE_INFO : '{% translate language, "common", "reply-to-more-info", "_duplicate_backslashes=true" %}',
        RETRY : '{% translate language, "common", "Retry", "_duplicate_backslashes=true" %}',
        SANDWICHES_DELETE_CONFIRMATION : '{% translate language, "common", "sandwiches-delete-confirmation", "_duplicate_backslashes=true" %}',
        SAVE : '{% translate language, "common", "Save", "_duplicate_backslashes=true" %}',
        SAVING_DOT_DOT_DOT : '{% translate language, "common", "saving-dot-dot-dot", "_duplicate_backslashes=true" %}',
        SCAN : '{% translate language, "common", "Scan", "_duplicate_backslashes=true" %}',
        SCHEDULE_BROADCAST : '{% translate language, "common", "Schedule broadcast", "_duplicate_backslashes=true" %}',
        SCHEDULED_BROADCAST_NOTE : '{% translate language, "common", "scheduled-broadcast-note", "_duplicate_backslashes=true" %}',
        SEARCH_DOT_DOT_DOT : '{% translate language, "common", "search-dot-dot-dot", "_duplicate_backslashes=true" %}',
        SEARCH_KEYWORDS_HINT : '{% translate language, "common", "search-keywords-hint", "_duplicate_backslashes=true" %}',
        SELECT_CONTACT : '{% translate language, "common", "Select contact", "_duplicate_backslashes=true" %}',
        SELECT_CURRENCY : '{% translate language, "common", "Select currency", "_duplicate_backslashes=true" %}',
        SELECT_ICON : '{% translate language, "common", "select-icon", "_duplicate_backslashes=true" %}',
        SELECT_TIMEZONE : '{% translate language, "common", "select-timezone", "_duplicate_backslashes=true" %}',
        SEND : '{% translate language, "common", "Send", "_duplicate_backslashes=true" %}',
        SEND_INVITATION_TO_X_EMAILS : '{% translate language, "common", "send-invitation-to-x-emails", "_duplicate_backslashes=true" %}',
        SENDING_DOT_DOT_DOT : '{% translate language, "common", "sending-dot-dot-dot", "_duplicate_backslashes=true" %}',
        SERVICE_VISIBLE : '{% translate language, "common", "service-visible", "_duplicate_backslashes=true" %}',
        SERVICE_INVISIBLE : '{% translate language, "common", "service-invisible", "_duplicate_backslashes=true" %}',
        SET_NOW : '{% translate language, "common", "Set now", "_duplicate_backslashes=true" %}',
        SET_FACEBOOK_PAGE_AND_START_SHARING : '{% translate language, "common", "set-facebook-page-start-sharing", "_duplicate_backslashes=true" %}',
        SETTINGS : '{% translate language, "common", "Settings", "_duplicate_backslashes=true" %}',
        SETTINGS_END : '{% translate language, "common", "settings-end", "_duplicate_backslashes=true" %}',
        SETTINGS_START : '{% translate language, "common", "settings-start", "_duplicate_backslashes=true" %}',
        SHIFT_BOOKING_THRESHOLD : '{% translate language, "common", "shift-booking-threshold", "_duplicate_backslashes=true" %}',
        SHIFT_LEAP_TIME : '{% translate language, "common", "shift-leap-time", "_duplicate_backslashes=true" %}',
        SHIFT_MAX_PEOPLE : '{% translate language, "common", "shift-max-people", "_duplicate_backslashes=true" %}',
        SHIFT_MAX_GROUP_SIZE : '{% translate language, "common", "shift-max-group-size", "_duplicate_backslashes=true" %}',
        SHIFT_REMOVE_CONFIRMATION : '{% translate language, "common", "shift-remove-confirmation", "_duplicate_backslashes=true" %}',
        SHOW_PRICES : '{% translate language, "common", "Show prices", "_duplicate_backslashes=true" %}',
        SIGN_USING_KEYBOARD : '{% translate language, "common", "Sign using keyboard", "_duplicate_backslashes=true" %}',
        SLIDESHOW : '{% translate language, "common", "Slideshow", "_duplicate_backslashes=true" %}',
        STAFF : '{% translate language, "common", "Staff", "_duplicate_backslashes=true" %}',
        START : '{% translate language, "common", "Start", "_duplicate_backslashes=true" %}',
        STARTING_AT : '{% translate language, "common", "starting_at", "_duplicate_backslashes=true" %}',
        STATIC_CONTENT_CREATE : '{% translate language, "common", "static-content-create", "_duplicate_backslashes=true" %}',
        STATIC_CONTENT_UPDATE : '{% translate language, "common", "static-content-update", "_duplicate_backslashes=true" %}',
        STATUS_DISABLED : '{% translate language, "common", "Status disabled", "_duplicate_backslashes=true" %}',
        STATUS_ENABLED : '{% translate language, "common", "Status enabled", "_duplicate_backslashes=true" %}',
        SUBMIT : '{% translate language, "common", "Submit", "_duplicate_backslashes=true" %}',
        SUBSCRIBE : '{% translate language, "common", "Subscribe", "_duplicate_backslashes=true" %}',
        SUCCESS : '{% translate language, "common", "Success", "_duplicate_backslashes=true" %}',
        SPENT : '{% translate language, "common", "Spent", "_duplicate_backslashes=true" %}',
        TABLE_REMOVE_CONFIRMATION : '{% translate language, "common", "table-remove-confirmation", "_duplicate_backslashes=true" %}',
        TABLE_REMOVE_REPLACE_BY_OTHER : '{% translate language, "common", "table-remove-replace-by-other", "_duplicate_backslashes=true" %}',
        TABLES_STILL_HAS_REVERVATIONS : '{% translate language, "common", "tables-still-has-revervations", "_duplicate_backslashes=true" %}',
        TEXT_COLOR_IS_REQUIRED : '{% translate language, "common", "Text color is required", "_duplicate_backslashes=true" %}',
        THERE_ARE_NOT_ENOUGH_UNITS : '{% translate language, "common", "new-group-subscription-failure-insufficient-units", "_duplicate_backslashes=true" %}',
        TIME : '{% translate language, "common", "Time", "_duplicate_backslashes=true" %}',
        TIME_IN_SECONDS : '{% translate language, "common", "time-in-seconds", "_duplicate_backslashes=true" %}',
        TIME_START_END_EQUAL : '{% translate language, "common", "time-start-end-equal", "_duplicate_backslashes=true" %}',
        TIME_START_END_SMALLER : '{% translate language, "common", "time-start-end-smaller", "_duplicate_backslashes=true" %}',
        TIMEFRAME_CREATE : '{% translate language, "common", "appointment-create", "_duplicate_backslashes=true" %}',
        TIMEFRAME_UPDATE : '{% translate language, "common", "appointment-update", "_duplicate_backslashes=true" %}',
        TITLE : '{% translate language, "common", "events-title", "_duplicate_backslashes=true" %}',
        TITLE_IS_REQUIRED : '{% translate language, "common", "Title is required", "_duplicate_backslashes=true" %}',
        TODO : '{% translate language, "common", "Todo", "_duplicate_backslashes=true" %}',
        TOPPING : '{% translate language, "common", "Topping", "_duplicate_backslashes=true" %}',
        TOTAL_NUMBER_OF_CUSTOMERS : '{% translate language, "common", "Total number of customers:", "_duplicate_backslashes=true" %}',
        TOTAL_NUMBER_OF_PARTICIPANTS : '{% translate language, "common", "Total number of participants:", "_duplicate_backslashes=true" %}',
        TOTAL_NUMBER_OF_UNITS_IS_REQUIRED : '{% translate language, "common", "Total number of units is required", "_duplicate_backslashes=true" %}',
        TOTAL_UNITS_IS_AN_INVALID_NUMBER : '{% translate language, "common", "Total units is an invalid number", "_duplicate_backslashes=true" %}',
        TWITTER_PAGE : '{% translate language, "common", "Twitter page", "_duplicate_backslashes=true" %}',
        TWITTER_PAGE_REQUIRED : '{% translate language, "common", "twitter-place-required", "_duplicate_backslashes=true" %}',
        TYPE : '{% translate language, "common", "Type", "_duplicate_backslashes=true" %}',
        UNASSIGN_TABLE_FROM_ALL_RESERVATIONS : '{% translate language, "common", "Unassign table from all reservations", "_duplicate_backslashes=true" %}',
        UNIT_DESCRIPTION_IS_REQUIRED : '{% translate language, "common", "Unit description is required", "_duplicate_backslashes=true" %}',
        UNIT_PRICE_IS_AN_INVALID_NUMBER : '{% translate language, "common", "Unit price is an invalid number", "_duplicate_backslashes=true" %}',
        UNIT_PRICE_IS_REQUIRED : '{% translate language, "common", "Unit price is required", "_duplicate_backslashes=true" %}',
        UNITS: '{% translate language, "common", "Units", "_duplicate_backslashes=true" %}',
        UNITS_IS_AN_INVALID_NUMBER : '{% translate language, "common", "units-is-an-invalid-number", "_duplicate_backslashes=true" %}',
        UNKNOWN : '{% translate language, "common", "unknown", "_duplicate_backslashes=true" %}',
        UNPERSISTED_CHANGES : '{% translate language, "common", "unpersisted-changes", "_duplicate_backslashes=true" %}',
        UNTIL : '{% translate language, "common", "Until", "_duplicate_backslashes=true" %}',
        UPDATE_GROUP_PURCHASE: '{% translate language, "common", "group-purchase-update", "_duplicate_backslashes=true" %}',
        UPDATE : '{% translate language, "common", "Update", "_duplicate_backslashes=true" %}',
        UPLOAD_IMAGE_1 : '{% translate language, "common", "upload-image-1", "_duplicate_backslashes=true" %}',
        UPLOAD_IMAGE_2 : '{% translate language, "common", "upload-image-2", "_duplicate_backslashes=true" %}',
        UPLOADING_TAKE_A_FEW_SECONDS : '{% translate language, "common", "uploading-take-a-few-seconds", "_duplicate_backslashes=true" %}',
        URL : '{% translate language, "common", "Url", "_duplicate_backslashes=true" %}',
        URL_IS_REQUIRED : '{% translate language, "common", "Url is required", "_duplicate_backslashes=true" %}',
        URLS : '{% translate language, "common", "Urls", "_duplicate_backslashes=true" %}',
        USE_THIS_LOCATION : '{% translate language, "common", "Use this location", "_duplicate_backslashes=true" %}',
        USED : '{% translate language, "common", "Used", "_duplicate_backslashes=true" %}',
        USER : '{% translate language, "common", "User", "_duplicate_backslashes=true" %}',
        USERS : '{% translate language, "common", "users", "_duplicate_backslashes=true" %}',
        VALIDATING : '{% translate language, "common", "Validating", "_duplicate_backslashes=true" %}',
        VIEW : '{% translate language, "common", "View", "_duplicate_backslashes=true" %}',
        VIEW_ORDER: '{% translate language, "common", "order-view", "_duplicate_backslashes=true" %}',
        VIEW_REPAIR_ORDER: '{% translate language, "common", "repair-order-view", "_duplicate_backslashes=true" %}',
        VISIBLE : '{% translate language, "common", "visible", "_duplicate_backslashes=true" %}',
        VISITS_IS_AN_INVALID_NUMBER : '{% translate language, "common", "Visits is an invalid number", "_duplicate_backslashes=true" %}',
        VISITS_NEEDS_TO_BE_AT_LEAST_1 : '{% translate language, "common", "Visits needs to be at least 1", "_duplicate_backslashes=true" %}',
        WARNING : '{% translate language, "common", "warning", "_duplicate_backslashes=true" %}',
        WEB_ADDRESS : '{% translate language, "common", "web-address", "_duplicate_backslashes=true" %}',
        WEBSITE : '{% translate language, "common", "Website", "_duplicate_backslashes=true" %}',
        WHAT_CAN_YOU_WIN : '{% translate language, "common", "What can you win", "_duplicate_backslashes=true" %}',
        WINNER : '{% translate language, "common", "Winner", "_duplicate_backslashes=true" %}',
        YES : '{% translate language, "common", "Yes", "_duplicate_backslashes=true" %}',
        YOU_CANNOT_MAKE_A_GROUP_PURCHASE_IN_THE_PAST : '{% translate language, "common", "You cannot make a group purchase in the past", "_duplicate_backslashes=true" %}',
        YOU_NEED_TO_PURCHASE_AT_LEAST_1_UNIT : '{% translate language, "common", "You need to purchase at least 1 unit", "_duplicate_backslashes=true" %}',
        service_visible_in : '{% translate language, "common", "service_visible_in", "_duplicate_backslashes=true" %}',
        unsubscribe_to_apps : '{% translate language, "common", "unsubscribe_to_apps", "_duplicate_backslashes=true" %}',
        cart : '{% translate language, "common", "cart", "_duplicate_backslashes=true" %}',
        in_cart : '{% translate language, "common", "in_cart", "_duplicate_backslashes=true" %}',
        to_cart : '{% translate language, "common", "to_cart", "_duplicate_backslashes=true" %}',
        cart_empty : '{% translate language, "common", "cart_empty", "_duplicate_backslashes=true" %}',
        add_service_to : '{% translate language, "common", "add_service_to", "_duplicate_backslashes=true" %}',
        apps : '{% translate language, "common", "apps", "_duplicate_backslashes=true" %}',
        product_added : '{% translate language, "common", "product_added", "_duplicate_backslashes=true" %}',
        product : '{% translate language, "common", "product", "_duplicate_backslashes=true" %}',
        amount : '{% translate language, "common", "amount", "_duplicate_backslashes=true" %}',
        total : '{% translate language, "common", "total", "_duplicate_backslashes=true" %}',
        service_visible_in_app : '{% translate language, "common", "service_visible_in_app", "_duplicate_backslashes=true" %}',
        vat : '{% translate language, "common", "vat", "_duplicate_backslashes=true" %}',
        total_with_vat : '{% translate language, "common", "total_with_vat", "_duplicate_backslashes=true" %}',
        continue_shopping : '{% translate language, "common", "continue_shopping", "_duplicate_backslashes=true" %}',
        continue_order : '{% translate language, "common", "continue_order", "_duplicate_backslashes=true" %}',
        pay_with_cc : '{% translate language, "common", "pay_with_cc", "_duplicate_backslashes=true" %}',
        to_store : '{% translate language, "common", "to_store", "_duplicate_backslashes=true" %}',
        credit_card : '{% translate language, "common", "credit_card", "_duplicate_backslashes=true" %}',
        no_cc_linked : '{% translate language, "common", "no_cc_linked", "_duplicate_backslashes=true" %}',
        adjust : '{% translate language, "common", "adjust", "_duplicate_backslashes=true" %}',
        link_cc : '{% translate language, "common", "Link credit card", "_duplicate_backslashes=true" %}',
        info : '{% translate language, "common", "info", "_duplicate_backslashes=true" %}',
        order_complete : '{% translate language, "common", "order_complete", "_duplicate_backslashes=true" %}',
        process_asap : '{% translate language, "common", "process_asap", "_duplicate_backslashes=true" %}',
        order_failed_contact_cs : '{% translate language, "common", "order_failed_contact_cs", "_duplicate_backslashes=true" %}',
        overview_order : '{% translate language, "common", "overview_order", "_duplicate_backslashes=true" %}',
        back : '{% translate language, "common", "back", "_duplicate_backslashes=true" %}',
        month : '{% translate language, "common", "month", "_duplicate_backslashes=true" %}',
        beacon : '{% translate language, "common", "beacon", "_duplicate_backslashes=true" %}',
        flyers : '{% translate language, "common", "flyers", "_duplicate_backslashes=true" %}',
        order_now : '{% translate language, "common", "order_now", "_duplicate_backslashes=true" %}',
        price: '{% translate language, "common", "Price", "_duplicate_backslashes=true" %}',
        unit: '{% translate language, "common", "unit", "_duplicate_backslashes=true" %}',
        association_created: '{% translate language, "common", "association_created", "_duplicate_backslashes=true" %}',
        association_updated: '{% translate language, "common", "association_updated", "_duplicate_backslashes=true" %}',
        zip_code: '{% translate language, "common", "zip_code", "_duplicate_backslashes=true" %}',
        city: '{% translate language, "common", "city", "_duplicate_backslashes=true" %}',
        association: '{% translate language, "common", "association", "_duplicate_backslashes=true" %}',
        associations: '{% translate language, "common", "associations", "_duplicate_backslashes=true" %}',
        module_disabled: '{% translate language, "common", "module_disabled", "_duplicate_backslashes=true" %}',
        no_associations_create_here: '{% translate language, "common", "no_associations_create_here", "_duplicate_backslashes=true" %}',
        planned_events: '{% translate language, "common", "planned_events", "_duplicate_backslashes=true" %}',
        broadcasts_last_30: '{% translate language, "common", "broadcasts_last_30", "_duplicate_backslashes=true" %}',
        static_content_items: '{% translate language, "common", "static_content_items", "_duplicate_backslashes=true" %}',
        no_unanswered_questions: '{% translate language, "common", "no_unanswered_questions", "_duplicate_backslashes=true" %}',
        min_one_question_unanswered: '{% translate language, "common", "min_one_question_unanswered", "_duplicate_backslashes=true" %}',
        create_association: '{% translate language, "common", "create_association", "_duplicate_backslashes=true" %}',
        update_association: '{% translate language, "common", "update_association", "_duplicate_backslashes=true" %}',
        association_name: '{% translate language, "common", "association_name", "_duplicate_backslashes=true" %}',
        no_permission: '{% translate language, "common", "no_permission", "_duplicate_backslashes=true" %}',
        edit_association_email_warning: '{% translate language, "common", "edit_association_email_warning", "_duplicate_backslashes=true" %}',
        association_email_info: '{% translate language, "common", "association_email_info", "_duplicate_backslashes=true" %}',
        modules: '{% translate language, "common", "modules", "_duplicate_backslashes=true" %}',
        broadcast_types: '{% translate language, "common", "broadcast_types", "_duplicate_backslashes=true" %}',
        add_custom_broadcast_type: '{% translate language, "common", "add_custom_broadcast_type", "_duplicate_backslashes=true" %}',
        rollup_banner: '{% translate language, "common", "rollup_banner", "_duplicate_backslashes=true" %}',
        load_more: '{% translate language, "common", "Load more", "_duplicate_backslashes=true" %}',
        exporting_started: '{% translate language, "common", "exporting_started", "_duplicate_backslashes=true" %}',
        data_generated_on: '{% translate language, "common", "data_generated_on", "_duplicate_backslashes=true" %}',
        visible_in: '{% translate language, "common", "visible_in", "_duplicate_backslashes=true" %}',
        piece: '{% translate language, "common", "piece", "_duplicate_backslashes=true" %}',
        piece_short: '{% translate language, "common", "piece_short", "_duplicate_backslashes=true" %}',
        day: '{% translate language, "common", "day", "_duplicate_backslashes=true" %}',
        person: '{% translate language, "common", "person", "_duplicate_backslashes=true" %}',
        person_short: '{% translate language, "common", "person_short", "_duplicate_backslashes=true" %}',
        session: '{% translate language, "common", "session", "_duplicate_backslashes=true" %}',
        platter: '{% translate language, "common", "platter", "_duplicate_backslashes=true" %}',
        gram: '{% translate language, "common", "gram", "_duplicate_backslashes=true" %}',
        kilogram: '{% translate language, "common", "kilogram", "_duplicate_backslashes=true" %}',
        liter: '{% translate language, "common", "liter", "_duplicate_backslashes=true" %}',
        hour: '{% translate language, "common", "hour", "_duplicate_backslashes=true" %}',
        minute: '{% translate language, "common", "minute", "_duplicate_backslashes=true" %}',
        orderable_per: '{% translate language, "common", "orderable_per", "_duplicate_backslashes=true" %}',
        order_unit: '{% translate language, "common", "order_unit", "_duplicate_backslashes=true" %}',
        order: '{% translate language, "common", "order", "_duplicate_backslashes=true" %}',
        takeaway_time: '{% translate language, "common", "takeaway_time", "_duplicate_backslashes=true" %}',
        none: '{% translate language, "common", "none", "_duplicate_backslashes=true" %}',
        browser_does_not_support_function: '{% translate language, "common", "browser_does_not_support_function", "_duplicate_backslashes=true" %}',
        edit_image: '{% translate language, "common", "edit_image", "_duplicate_backslashes=true" %}',
        current_image: '{% translate language, "common", "current_image", "_duplicate_backslashes=true" %}',
        upload_image_for_item: '{% translate language, "common", "upload_image_for_item", "_duplicate_backslashes=true" %}',
        scroll_to_zoom: '{% translate language, "common", "scroll_to_zoom", "_duplicate_backslashes=true" %}',
        upload_picture_here: '{% translate language, "common", "Upload a picture here", "_duplicate_backslashes=true" %}',
        use_your_smartphone: '{% translate language, "common", "Use your smartphone", "_duplicate_backslashes=true" %}',
        scan_to_take_picture: '{% translate language, "common", "scan_to_take_picture", "_duplicate_backslashes=true" %}',
        option: '{% translate language, "common", "Option", "_duplicate_backslashes=true" %}',
        there_are_no_orders: '{% translate language, "common", "there_are_no_orders", "_duplicate_backslashes=true" %}',
        dont_send_message: '{% translate language, "common", "dont_send_message", "_duplicate_backslashes=true" %}',
        name_visible: '{% translate language, "common", "Name visible", "_duplicate_backslashes=true" %}',
        color_scheme: '{% translate language, "common", "Color scheme", "_duplicate_backslashes=true" %}',
        text_color: '{% translate language, "common", "Text color", "_duplicate_backslashes=true" %}',
        background_color: '{% translate language, "common", "Background color", "_duplicate_backslashes=true" %}',
        light: '{% translate language, "common", "Light", "_duplicate_backslashes=true" %}',
        dark: '{% translate language, "common", "Dark", "_duplicate_backslashes=true" %}',
        menu_item_color: '{% translate language, "common", "Menu item color", "_duplicate_backslashes=true" %}',
        show_price: '{% translate language, "common", "show_price", "_duplicate_backslashes=true" %}',
        page: '{% translate language, "common", "page", "_duplicate_backslashes=true" %}',
        row: '{% translate language, "common", "row", "_duplicate_backslashes=true" %}',
        column: '{% translate language, "common", "column", "_duplicate_backslashes=true" %}',
        confirm_delete_association: '{% translate language, "common", "confirm_delete_association", "_duplicate_backslashes=true" %}',
        add_product: '{% translate language, "common", "add_product", "_duplicate_backslashes=true" %}',
        loyalty_cards: '{% translate language, "common", "loyalty_cards", "_duplicate_backslashes=true" %}',
       loyalty_device_requested: '{% translate language, "common", "loyalty_device_requested", "_duplicate_backslashes=true" %}',
   {% for key in quick_translations %}
       '{{ key }}': '{% translate language, "common", key, "_duplicate_backslashes=true" %}',
   {% endfor %}
    };
   function T(translationKey, args) {
       var translation = CommonTranslations[translationKey];
       if (!translation) {
           var msg = 'Missing translation for key \''+ translationKey + '\'';
           console.warn(msg);
           if(!DEBUG) {
               sln.logError(msg, new Error(msg));
           }
           return translationKey;
       }
       if (args) {
           for (var key in args) {
               if (args.hasOwnProperty(key)) {
                   translation = replaceAll(translation, '%(' + key + ')s', args[key]);
               }
           }
       }
       return translation.replace(/\n/g, '<br />');
   }
   function replaceAll(string, str1, str2, ignore) {
       return string.replace(new RegExp(str1.replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&])/ig, "\\$&"), (ignore ? "g" : "g")), (typeof(str2) == "string") ? str2.replace(/\$/g, "$$$$") : str2);
   }
</script>
