<script src="https://cdn.jsdelivr.net/npm/raphael@2.2.7"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-mapael@2.1.0"></script>
<link rel="stylesheet" href="/static/css/solutions/vector-map.css">
<script src="/static/js/solutions/vector-map.js"></script>
