<mat-tab-group (selectedTabChange)="changeTab($event)" mat-align-tabs="center">
  <mat-tab [label]="'oca.questions' | translate">
    <oca-edit-form [value]="form" (save)="save.emit($event)" (createNews)="createNews.emit()"
                   (testForm)="testForm.emit($event)"></oca-edit-form>
  </mat-tab>
  <mat-tab [label]="'oca.tombola_winners' | translate" *ngIf="showTombolaWinners">
    <oca-form-tombola-winners [tombolaWinners]="tombolaWinners"></oca-form-tombola-winners>
  </mat-tab>
  <mat-tab [label]="'oca.responses' | translate">
    <oca-form-responses [response]="formResponse" (nextResponse)="nextResponse.emit($event)"
                        (removeResponse)="removeResponse.emit($event)"></oca-form-responses>
  </mat-tab>
  <mat-tab [label]="'oca.statistics' | translate">
    <oca-loadable [loadable]="statistics">
      <oca-form-statistics [statistics]="statistics.data"
                           [formActive]="form.settings.visible"
                           (menuOptionClicked)="menuOptionClicked.emit($event)"></oca-form-statistics>
    </oca-loadable>
  </mat-tab>
</mat-tab-group>
