<div style="display: flex; column-gap: 8px;">
  <button mat-stroked-button (click)="selectAll()" [disabled]="allChecked">
    <mat-icon>done</mat-icon>
    {{ 'rcc.select_all' | translate }}
  </button>
  <button mat-stroked-button (click)="deselectAll()" [disabled]="allUnchecked">
    <mat-icon>clear</mat-icon>
    {{ 'rcc.deselect_all' | translate }}
  </button>
</div>
<mat-selection-list [formControl]="formControl" (selectionChange)="selectionChange($event)">
  <mat-list-option *ngFor="let item of options" [value]="item.value">
    {{ item.label | async }}
  </mat-list-option>
</mat-selection-list>
