<ion-list>
  <ion-item *ngFor="let merchant of merchants?.results; trackBy: trackById"
            [routerLink]="merchant.id"
            detail target="_blank">
    <ion-label>
      <h3>{{ merchant.name }}</h3>
      <ng-container *ngIf="merchant.opening_hours">
        <div class="open-until">
          <span [class.closed]="!merchant.opening_hours.open_now" [class.open]="merchant.opening_hours.open_now">
            {{ merchant.opening_hours.open_until }}
          </span>
        </div>
      </ng-container>
    </ion-label>
  </ion-item>
</ion-list>
<ion-infinite-scroll (ionInfinite)="loadMore.emit()" [disabled]="!merchants?.more" threshold="100px">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
