<mat-menu #sectionSettingsMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="moveSection.emit()" *ngIf="canMove">
      <mat-icon>import_export</mat-icon>
      <span>{{ 'oca.move_section' | translate }}</span>
    </button>
    <button mat-menu-item (click)="toggleDescription()">
      <mat-icon>{{ showDescription ? 'check' : 'description'}}</mat-icon>
      <span>{{ 'oca.description' | translate }}</span>
    </button>
    <button mat-menu-item (click)="deleteSection.emit()" *ngIf="canDelete">
      <mat-icon>delete</mat-icon>
      <span>{{ 'oca.delete_section' | translate }}</span>
    </button>
  </ng-template>
</mat-menu>
<mat-toolbar color="primary">
  <span class="flex-grow">{{ headerTitle }}</span>
  <span class="icons-row">
  <button type="button" mat-icon-button (click)="openHeaderImageDialog()">
    <mat-icon>image</mat-icon>
  </button>
  <button type="button" mat-icon-button [matMenuTriggerFor]="sectionSettingsMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</span>
</mat-toolbar>
<fieldset *ngIf="section">
  <mat-card *ngIf="formId && section.branding" class="header-card">
    <mat-card-header>
      <mat-card-title>{{ 'oca.header_image' | translate }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="section.branding.logo_url">
    <mat-card-actions align="end">
      <button mat-button type="button" color="warn" (click)="removeHeaderImage()">
        {{ 'oca.delete' | translate }}
      </button>
      <button mat-button type="button" (click)="openHeaderImageDialog()">
        {{ 'oca.modify' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-form-field class="field">
    <mat-label>{{ 'oca.page_title' | translate }}</mat-label>
    <input [name]="name + '_title'" matInput [ngModel]="section.title"
           (ngModelChange)="changed('title', $event)" maxlength="80">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'oca.next_page_button_label' | translate }}</mat-label>
    <input matInput [(ngModel)]="section.next_button_caption" [name]="name + '_next_button_caption'">
  </mat-form-field>
  <div class="field" *ngIf="showDescription">
    <p>{{ 'oca.description' | translate }}</p>
    <div class="description-editor">
      <td-text-editor (ngModelChange)="changed('description', $event)"
                      [(ngModel)]="section.description"
                      [name]="name + '_description'"
      [options]="EASYMDE_OPTIONS"></td-text-editor>
    </div>
  </div>
  <div class="component-container" cdkDropList (cdkDropListDropped)="dropped($event)">
    <div *ngFor="let component of section.components; let i = index; trackBy: trackByIndex"
         class="component dashboard-app-background mat-elevation-z8" cdkDrag>
      <div class="drag-handle" cdkDragHandle>
        <mat-icon [matTooltip]="'oca.drag_to_change_order' | translate">drag_handle</mat-icon>
      </div>
      <oca-form-field [formId]="formId"
                      [value]="component"
                      [name]="section.id + '_component_' + i"
                      [nextActions]="nextActions"
                      (componentChange)="componentChanged($event, i)"
                      (removeComponent)="onRemoveComponent(i)"></oca-form-field>
    </div>
  </div>
  <div class="after-section" *ngIf="canAddComponents">
    <button type="button" mat-raised-button (click)="addComponent()">
      {{ 'oca.add_question' | translate }}
    </button>
    <oca-next-action-editor [name]="name + '_next_action'"
                            [label]="'oca.after_section_x' | translate : {section: sectionNumber}"
                            [nextActions]="nextActions"
                            [value]="section.next_action"
                            (changed)="changed('next_action', $event)"
                            *ngIf="showNextAction">
    </oca-next-action-editor>
  </div>
</fieldset>
