.exceptions-info {
  font-size: 13px;
  font-style: italic;
  color: grey;
}

.end-date {
  margin: 0 16px;
}

.exception-fields {
  display: flex;
  align-items: center;
}

.exception-description {
  flex: 1;
}

.add-hours-button {
  margin: 16px;
  display: flex;
  justify-content: center;
}

.tab-margin {
  margin-left: 2px;
  margin-right: 2px;
}

.not-relevant-hours {
  display: block;
  margin: 16px 0;
}
