<mat-tab-group mat-align-tabs="center">
  <mat-tab *ngFor="let tab of tabs" [label]="tab.label | translate">
    <mat-card class="form-card create-card" color="primary" (click)="createForm.emit()">
      <mat-card-header>
        <mat-card-title>{{ 'oca.create_form' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-actions align="end">
        <a mat-button (click)="createForm.emit()">{{ 'oca.create' | translate }}</a>
      </mat-card-actions>
    </mat-card>
    <a *ngFor="let form of tab.list; trackBy: trackById" [routerLink]="[form.id]" #link>
      <mat-card class="form-card">
        <mat-card-title>{{ form.title }}</mat-card-title>
        <mat-card-content>
          <mat-chip-list>
            <!-- For some reason the page gets reloaded when clicking the chip. Prevent that by using preventDefault -->
            <mat-chip [color]="form.visible ? 'primary': 'warn'" selected
                      (click)="$event.preventDefault(); link.click()">
              {{ (form.visible ? 'oca.active' : 'oca.inactive') | translate }}
            </mat-chip>
          </mat-chip-list>
          <ng-container *ngIf="form.visible_until">
            <p *ngIf="form.visible_until > now">
              {{ 'oca.ends_on_date' | translate : {date: form.visible_until | date : 'medium'} }}
            </p>
            <p *ngIf="form.visible_until < now">
              {{ 'oca.ended_on_date' | translate : {date: form.visible_until | date : 'medium'} }}
            </p>
          </ng-container>
        </mat-card-content>
        <mat-card-actions align="end">
          <a mat-icon-button [routerLink]="[form.id]">
            <mat-icon>edit</mat-icon>
          </a>
          <button type="button" mat-icon-button color="warn"
                  (click)="$event.stopPropagation(); $event.preventDefault(); deleteForm.emit(form)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </a>
  </mat-tab>
  <mat-tab [label]="'oca.integrations' | translate">
    <oca-forms-settings-page></oca-forms-settings-page>
  </mat-tab>
</mat-tab-group>
