$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
@import '~@angular/material/theming';

.fab-bottom-right {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.default-component-margin {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.default-component-margin-full {
  padding: 24px;
}

.error-message {
  color: mat-color($mat-red, 500, 1) !important;
}

.hint-text {
  font-size: 0.8em;
}

.form-row {
  margin-top: 16px;
}

.color-preview {
  height: 16px;
  border-radius: 8px;
  width: 16px;
  display: inline-block;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

.full-width {
  width: 100% !important;
}

.mat-form-field {
  min-width: 250px;
}

.mat-card {
  margin: 16px;
}

// todo: rename to something more appropriate
.default-field-margin .mat-form-field {
  margin: 8px 0;
  width: 250px;
}

.text-capitalize {
  text-transform: capitalize;
}
