<div class="page" id="associations" style="display:none">
    <style>
    .association {
        height: 40px;
        width: 100%;
        margin-top: 10px;
        float: left;
        position: relative;
    }

    .association a {
        text-transform: capitalize;
    }

    #association-form input:not([type=checkbox]), #association-form textarea {
        width: 333px;
    }

    #association-form select {
        width: 347px;
    }

    #association-form .form-horizontal .control-label {
        width: 110px;
    }

    #association-form .form-horizontal .controls {
        margin-left: 130px;
    }

    #create-association {
        margin-top: -40px;
    }

    .association-icons {
        display: inline-block;
        position: absolute;
        right: 0;
    }

    .association-icons > div {
        min-width: 40px;
        display: inline-block;
    }

    .association-icons > div[disabled], .association-icons > div[disabled] i {
        color: #cccccc !important;
    }
</style>
<h2> {% translate language, "common", "associations" %}</h2>

<div id="associations-content"></div>
<script src="/static/js/solutions/sln-associations.js"></script>
</div>
