<ng-container *ngIf="!timeStatistics; else statsTemplate" [ngTemplateOutlet]="noStats"></ng-container>
<ng-template #statsTemplate>
  <mat-form-field>
    <mat-label>{{ 'oca.measurement' | translate }}</mat-label>
    <mat-select (ngModelChange)="updateCurrentMetric($event)" [ngModel]="selectedMetric" name="metric">
      <mat-option *ngFor="let metric of possibleMetrics" [value]="metric.value">
        {{ metric.label | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="charts && hasData" class="charts">
    <div class="row">
      <google-chart *ngIf="charts.age.dataTable.length"
                    [columns]="charts.age.columnNames"
                    [data]="charts.age.dataTable"
                    [options]="charts.age.options"
                    [type]="charts.age.chartType"></google-chart>
      <google-chart *ngIf="charts.gender.dataTable.length"
                    [columns]="charts.gender.columnNames"
                    [data]="charts.gender.dataTable"
                    [options]="charts.gender.options"
                    [type]="charts.gender.chartType"></google-chart>
    </div>
    <google-chart *ngIf="charts.time.dataTable.length > 1"
                  [columns]="charts.time.columnNames"
                  [data]="charts.time.dataTable"
                  [options]="charts.time.options"
                  [type]="charts.time.chartType"></google-chart>
  </div>
  <ng-container *ngIf="!hasData" [ngTemplateOutlet]="noStats"></ng-container>
</ng-template>
<ng-template #noStats>
  <p><i>{{ 'oca.no_stats_available_yet' | translate }}</i></p>
</ng-template>
