<div id="city_vouchers" class="page" style="display: none;">

    <div id="city_vouchers-tab" class="span12" style="padding: 20px; margin-bottom: 20px; margin-left: 0; background-color: #fff; border: 1px solid #ddd; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;"">
        <ul class="nav nav-tabs">
            <li class="active" section="city_vouchers-search"><a href="#"><i class="fa fa-gift"></i> {% translate language, "common", "Vouchers" %} <span class="badge"></span></a></li>
            <li class="" section="city_vouchers-qrcode_export"><a href="#"><i class="fa fa-qrcode"></i> {% translate language, "common", "settings-qr-codes" %} <span class="badge"></span></a></li>
            <li class="" section="city_vouchers-export"><a href="#"><i class="fa fa-download"></i> {% translate language, "common", "export" %} <span class="badge"></span></a></li>
        </ul>

        <section id="city_vouchers-search">
            <div class="input-prepend input-append">
                <span class="add-on">{% translate language, "common", "Search" %}</span>
                <input class="span6" id="city_vouchers-search_input" type="text" placeholder="{% translate language, "common", "enter-dot-dot-dot" %}" autofocus="">
            </div>
            <div id="city_vouchers-search_results" style="display: none;">
                <table class="table table-striped table-bordered">
                    <tbody>
                    </tbody>
                </table>
                <div class="text-center">
                    <img class="load-more" src="/static/images/ajax-loader.gif">
                </div>
            </div>
        </section>

        <section id="city_vouchers-qrcode_export" style="display: none;">
            <button class="addqrcodes btn btn-primary">{% translate language, "common", "Create 100 QR Codes" %}</button>
            <br> <br>
            <table class="table table-striped table-bordered">
                <tbody>
                </tbody>
            </table>

            <div class="text-center">
                <img class="load-more" src="/static/images/ajax-loader.gif">
            </div>
        </section>

        <section id="city_vouchers-export" style="display: none;">
            <br> <br>
            <div id="city_vouchers-export_data" class="clearfix"></div>

            <div class="text-center">
                <img class="load-more" src="/static/images/ajax-loader.gif">
            </div>
        </section>
    </div>

</div>
 <script src="/static/js/solutions/sln-city_vouchers.js"></script>
