{% raw %}
{{each(i, voucher) vouchers}}
<tr>
    <td style="position: relative;">
        <div class="span9">
            <h4>${voucher.uid}</h4>
            {{if voucher.redeemed }}
        		<span class="label"style="margin-right: 10px;" >${CommonTranslations.REDEEMED}</span>
        	{{else}}
            	{{if voucher.activated }}
                    <p>
                        {{if voucher.expired}}
                            <span class="label label-warning">${CommonTranslations.expired}: ${voucher.expiration_date}</span>
                            <strong><span>${CommonTranslations['Remaining value']}: ${CURRENCY} ${((voucher.value - voucher.redeemed_value) / 100.0).toFixed(2)}</span></strong>
                            {{if voucher.owner_name}}
                                <span>(${voucher.owner_name})</span>
                            {{/if}}
                        {{else}}
                            <span class="label label-success">${CommonTranslations.ENABLED}</span>
                        {{/if}}
                    </p>
	         	{{else}}
	            	<p><span class="label">${CommonTranslations.DISABLED}</span></p>
                {{/if}}
	        {{/if}}
        </div>
        <div class="span2">
            <div class="btn-group item-controls">
                <button action="voucherHistory" voucher_id="${voucher.id}" class="btn">
                    <i class="fa fa-history"></i>
                </button>
            </div>
        </div>
    </td>
</tr>
{{/each}}
{%- endraw %}
