{% raw %}
{{each(i, qr) data}}
<tr>
    <td style="position: relative;">
        <div class="span9">
            <h4>${qr.date}</h4>
        </div>
        <div class="span2">
        {{if qr.ready}}
            <div class="btn-group item-controls">
	           <a class="btn btn-success" target="_blank" href="/common/city/vouchers/qr/download/${qr.id}">
	               <i class="fa fa-download"></i>
	           </a>
            </div>
        {{else}}
            <i class="fa fa-spinner fa-spin fa-2x"></i>
        {{/if}}
        </div>
    </td>
</tr>
{{/each}}
{%- endraw %}
