<form (ngSubmit)="confirm(form)" #form="ngForm">
  <ion-list>
    <ion-item>
      <ion-label>{{ 'app.oca.service' | translate }}</ion-label>
      <ion-select ngModel name="service" (ionChange)="onServiceSelected(serviceSelect.value)" required #serviceSelect>
        <ion-select-option *ngFor="let service of services" [value]="service.publicId">
          {{ service.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="showLocation">
      <ion-label>{{ 'app.oca.location' | translate }}</ion-label>
      <ion-select ngModel name="branch" (ionChange)="branchSelected.emit(branchSelect.value)" required #branchSelect>
        <ion-select-option *ngFor="let branch of branches" [value]="branch.publicId">
          {{ branch.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="showDates">
      <ion-label>{{ 'app.oca.date' | translate }}</ion-label>
      <ion-select ngModel name="date" (ionChange)="dateSelected.emit(dateSelect.value)" required #dateSelect>
        <ion-select-option *ngFor="let date of dates" [value]="date.value">
          {{ date.date | date }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ng-container *ngIf="showTimes">
      <ion-item>
        <ion-label>{{ 'app.oca.time' | translate }}</ion-label>
        <ion-select ngModel name="time" (ionChange)="timeSelected.emit(timeSelect.value)" required #timeSelect>
          <ion-select-option *ngFor="let time of times" [value]="time">{{ time }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'app.oca.first_name' | translate }}</ion-label>
        <ion-input type="text" name="first_name" required [(ngModel)]="customer.firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'app.oca.last_name' | translate }}</ion-label>
        <ion-input type="text" name="last_name" required [(ngModel)]="customer.lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'app.oca.email' | translate }}</ion-label>
        <ion-input type="email" name="email" required [(ngModel)]="customer.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'app.oca.phone' | translate }}</ion-label>
        <ion-input type="phone" name="phone" required [(ngModel)]="customer.phone"></ion-input>
      </ion-item>
    </ng-container>
    <div class="spinner-container" *ngIf="showLoading">
      <ion-spinner></ion-spinner>
    </div>
    <div class="ion-padding" *ngIf="showTimes">
      <ion-button type="submit" expand="block" [disabled]="showLoading">
        {{ 'app.oca.confirm_appointment' | translate }}
      </ion-button>
    </div>
  </ion-list>
</form>
