<form #form="ngForm" (ngSubmit)="confirm(form)">
  <ion-list>
    <ion-item>
      <ion-label>{{ 'app.oca.service' | translate }}</ion-label>
      <ion-select (ionChange)="onServiceSelected($event.detail.value)"
                  [cancelText]="'app.oca.cancel' | translate"
                  [okText]="'app.oca.ok' | translate"
                  name="service"
                  ngModel
                  required>
        <ion-select-option *ngFor="let service of services" [value]="service.publicId">
          {{ service.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="showLocation">
      <ion-label>{{ 'app.oca.location' | translate }}</ion-label>
      <ion-select (ionChange)="branchSelected.emit($event.detail.value)"
                  [cancelText]="'app.oca.cancel' | translate"
                  [okText]="'app.oca.ok' | translate"
                  name="branch"
                  ngModel
                  required>
        <ion-select-option *ngFor="let branch of branches" [value]="branch.publicId">
          {{ branch.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="showDates">
      <ion-label>{{ 'app.oca.date' | translate }}</ion-label>
      <ion-select (ionChange)="dateSelected.emit($event.detail.value)"
                  [cancelText]="'app.oca.cancel' | translate"
                  [okText]="'app.oca.ok' | translate"
                  name="date"
                  ngModel
                  required>
        <ion-select-option *ngFor="let date of dates" [value]="date.value">
          {{ date.date | date }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ng-container *ngIf="showTimes">
      <ion-item>
        <ion-label>{{ 'app.oca.time' | translate }}</ion-label>
        <ion-select (ionChange)="timeSelected.emit($event.detail.value)"
                    [cancelText]="'app.oca.cancel' | translate"
                    [okText]="'app.oca.ok' | translate"
                    name="time"
                    ngModel
                    required>
          <ion-select-option *ngFor="let time of times" [value]="time">{{ time }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'app.oca.first_name' | translate }}</ion-label>
        <ion-input [(ngModel)]="customer.firstName" name="first_name" required type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'app.oca.last_name' | translate }}</ion-label>
        <ion-input [(ngModel)]="customer.lastName" name="last_name" required type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'app.oca.email' | translate }}</ion-label>
        <ion-input [(ngModel)]="customer.email" name="email" required type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'app.oca.phone' | translate }}</ion-label>
        <ion-input [(ngModel)]="customer.phone" name="phone" required type="phone"></ion-input>
      </ion-item>
    </ng-container>
    <div *ngIf="showLoading" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="showTimes" class="ion-padding">
      <ion-button [disabled]="showLoading" expand="block" type="submit">
        {{ 'app.oca.confirm_appointment' | translate }}
      </ion-button>
    </div>
  </ion-list>
</form>
