<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'app.cirklo.buy_voucher' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/vouchers"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card class="fake-voucher">
  <div class="gradient-container">
    <img [src]="logoUrl$ | async" alt="Logo" class="voucher-logo">
  </div>
  <div [innerHTML]="infoText$ | async | markdown" class="info-description"></div>
  <div class="buttons-list">
    <ion-button *ngFor="let button of buttons$ | async"
                [href]="button.url"
                class="info-button"
                target="_blank"
                type="button">
      <ion-icon name="add" slot="start"></ion-icon>
      <ion-label>{{ button.label }}</ion-label>
    </ion-button>
  </div>
</ion-card>
</ion-content>
