<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>
      {{ title || ('app.oca.appointments' | translate) }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading$ | async" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="showNoResults$ | async" class="ion-padding no-results">
    <p>{{ 'app.oca.no_upcoming_appointments_yet' | translate }}</p>
    <ion-button routerLink="/jcc-appointments/new-appointment">
      {{ 'app.oca.create_appointment' | translate }}
    </ion-button>
  </div>
  <ion-card *ngFor="let item of appointments$ | async">
    <ion-card-header>
      <ion-card-title>{{ item.appointment.appStartTime | date : 'EEEE d MMMM y, h:mm a' }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngIf="item.location" class="summary-item">
          <ion-label>{{ 'app.oca.location' | translate }}</ion-label>
          <ion-note color="contrast" slot="end">{{ item.location.locationDesc }}</ion-note>
        </ion-item>
      </ion-list>
      <app-appointment-products-overview [selectedProducts]="item.products"></app-appointment-products-overview>
      <ng-container>
        <ion-button (click)="cancelAppointment(item.appointment)" color="danger" size="small">
          {{ 'app.oca.cancel' | translate }}
        </ion-button>
        <ion-button (click)="addToCalendar(item.appointment)" color="primary" size="small">
          {{ 'app.oca.add_to_calendar' | translate }}
        </ion-button>
      </ng-container>
    </ion-card-content>
  </ion-card>

  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button routerLink="/jcc-appointments/new-appointment">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
