.summary-item {

  ion-label {
    font-size: 14px;
    font-weight: bold;
  }

  ion-note {
    font-size: 14px;
  }

}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}
