<div *ngFor="let value of values; let i = index; trackBy: trackValues" class="option-container">
  <ng-container [ngSwitch]="multiple">
    <mat-radio-button checked="false" disabled="true" *ngSwitchCase="false"></mat-radio-button>
    <mat-checkbox checked="false" disabled="true" *ngSwitchCase="true"></mat-checkbox>
  </ng-container>
  <mat-form-field appearance="legacy" *ngIf="readonlyIds" class="option-value">
    <mat-label>{{ 'oca.value' | translate }}</mat-label>
    <input [name]="name + 'value_' + i" matInput [(ngModel)]="value.value"
           (ngModelChange)="valueUpdated($event, i)" (keydown.enter)="selectNext(i)">
  </mat-form-field>
  <mat-form-field appearance="legacy" class="option-label">
    <input [name]="name + 'label_' + i" matInput [(ngModel)]="value.label"
           (ngModelChange)="labelUpdated($event, i)" #labelInput (keydown.enter)="selectNext(i)">
  </mat-form-field>
  <button type="button" mat-icon-button *ngIf="values.length !== 1" (click)="removeValue(values[i])">
    <mat-icon>close</mat-icon>
  </button>
  <oca-next-action-editor [name]="name + 'next_action' + i"
                          [nextActions]="nextActions"
                          [value]="value.next_action"
                          (changed)="actionUpdated($event, i)">
  </oca-next-action-editor>
</div>
<div>
  <ng-container [ngSwitch]="multiple">
    <mat-radio-button checked="false" disabled="true" *ngSwitchCase="false"></mat-radio-button>
    <mat-checkbox checked="false" disabled="true" *ngSwitchCase="true"></mat-checkbox>
  </ng-container>
  <mat-form-field appearance="legacy" (click)="addChoice()">
    <mat-label>{{ 'oca.add_option' | translate }}</mat-label>
    <input matInput #newInput autocomplete="off" [(ngModel)]="temporaryValue" [ngModelOptions]="{standalone: true}"
           (keydown.enter)="addChoice()" (keydown.tab)="addChoice()">
  </mat-form-field>
</div>
