{% raw %}
<div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modules_modal" aria-hidden="true" style="position: absolute">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="modules_modal">${T('functionality')}</h3>
    </div>

    <div class="modal-body" style="overflow-y: visible; max-height: 100%">
        <!-- from service_form template -->
        <form class="form-horizontal">
            <label for="service_modules" class="control-label">${T('modules')}</label>
            <div id="service_modules" class="control-group">
                <div class="controls">
                    {{each(i, module) modules}}
                    <label class="checkbox">
                        <input name="service_module" value="${module.key}" type="checkbox" {{if module.is_default}}checked{{/if}}/>
                        ${module.label}
                    </label>
                    {{/each}}
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button action="cancel" type="button" class="btn" data-dismiss="modal" aria-hidden="true">${T('CANCEL')}</button>
        <button action="submit" type="button" class="btn btn-primary">${T('create')}</button>
    </div>
</div>
{%- endraw %}
