<div class="page" id="services" style="display:none">
    <style>
    .service {
        height: 40px;
        width: 100%;
        margin-top: 10px;
        float: left;
        position: relative;
    }

    .service a {
        text-transform: capitalize;
    }

    #service-form input:not([type=checkbox]), #service-form textarea {
        width: 333px;
    }

    #service-form select {
        width: 347px;
    }

    #service-form .form-horizontal .control-label {
        width: 110px;
    }

    #service-form .form-horizontal .controls {
        margin-left: 130px;
    }

    .create-service {
        margin-top: -40px;
    }

    .service-icons {
        display: inline-block;
        position: absolute;
        right: 0;
    }

    .service-icons > div {
        min-width: 40px;
        display: inline-block;
    }

    .service-icons > div[disabled], .service-icons > div[disabled] i {
        color: #cccccc !important;
    }

    .center {
         float: none;
         margin-left: auto;
         margin-right: auto;
    }
</style>

<div id="services-list-container">
    <h2> {% translate language, "services" %}</h2>

    <div class="span12">
        <div class="pull-right create-service">
            <a class="btn search-services"><i class="fa fa-search"></i>
                {% translate language, "Search" %}
            </a>
            <a class="btn btn-success" href="#/services/add"><i class="fa fa-plus"></i>
                {% translate language, "create_service" %}
            </a>
        </div>
    </div>

    <p class="pull-right"><small id="generated_on"></small></p>

    <ul id="services_tab" class="nav nav-tabs">
        {% for org_type, label in organization_types %}
        <li {% if loop.index == 1 %}class="active"{% endif %} organization_type="{{ org_type }}">
          <a href="#services-content-{{org_type}}" data-toggle="tab">{{ label }}</a>
        </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for org_type, label in organization_types %}
        <div id="services-content-{{org_type}}"
             class="services-list tab-pane {% if loop.index == 1%}active{% endif %}"
             organization_type="{{ org_type }}">
        </div>
        {% endfor %}
    </div>

    <div id="services_loading_indicator" style="display: block"></div>
</div>

<div id="service-form-container" class="span8 center">

</div>

<script src="/static/js/solutions/sln-services-list.js"></script>
<script src="/static/js/solutions/sln-services.js"></script>
</div>
