{% raw %}
<div class="service pull-left" service_email="${service.service_email}">
    <a href="#/services/edit/${service.service_email}">${service.name}</a>

    <div class="service-icons">
        <a class="btn btn-small btn-default" href="/common/login_as?customer_id=${service.customer_id}" title="${T('dashboard')}">
            <i class="fa fa-dashboard"></i>
        </a>
        <a class="btn btn-small btn-default" href="#/services/edit/${service.service_email}"><i
                class="fa fa-edit"></i></a>
        <button class="btn btn-small btn-danger delete-service" service_email="${service.service_email}"
                service_name="${service.name}"><i class="fa fa-times"></i></button>
    </div>
</div>
{% endraw %}
