{% raw %}
<a class="btn btn-success pull-right" id="create-service" href="#/services/add"><i class="fa fa-plus"></i>
    ${t.create_service}</a>
    {{if generatedOn}}
    <p class="pull-right"><small>${t.data_generated_on.replace('%(generated_on_date)s', generatedOn)}</small></p>
    {{/if}}
{{each(i, a ) services}}
<div class="service pull-left">
    <a href="#/services/edit/${a.service_email}">${a.name}</a>

    <div class="service-icons">
        <div data-placement="top" data-original-title="${t.planned_events}" {{if !a.hasAgenda}}disabled="true" {{/if}}
        style="color:{{if a.statistics.future_events_count === 0 }}#da4f49{{else}}{{if a.statistics.future_events_count < 5}}#faa732{{else}}#5bb75b{{/if}}{{/if}};">
        {{if a.statistics.future_events_count >9 }}9+{{else}}${a.statistics.future_events_count}{{/if}} <i class="fa fa-calendar"></i></div>
        
	    <div data-placement="top" {{if !a.hasQA}}disabled="true" {{/if}}
	    data-original-title="{{if a.statistics.last_unanswered_question_timestamp === 0}}${t.no_unanswered_questions}{{else}}${t.min_one_question_unanswered} ${a.statistics.lastQuestionAnsweredDate}{{/if}}"
	    style="color:{{if a.statistics.last_unanswered_question_timestamp === 0 }}#5bb75b{{else}}#da4f49{{/if}};">
	    <i class="fa fa-question-circle" style="margin-left: 6px;"></i></div>
    
		<div data-placement="top" data-original-title="${t.broadcasts_last_30}" {{if !a.hasBroadcast}}disabled="true" {{/if}}
		style="color:{{if a.statistics.broadcasts_last_month === 0 }}#da4f49{{else}}{{if a.statistics.broadcasts_last_month < 2}}#faa732{{else}}#5bb75b{{/if}}{{/if}};">
		{{if a.statistics.broadcasts_last_month >9}}9+{{else}}${a.statistics.broadcasts_last_month}{{/if}} <i class="fa fa-bullhorn"></i></div>
	
        <div data-placement="top" data-original-title="${t.static_content_items}" {{if !a.hasStaticContent}}disabled="true"{{/if}} 
        style="color:{{if a.statistics.static_content_count === 0 }}#da4f49{{else}}#5bb75b{{/if}};"> ${a.statistics.static_content_count} <i class="fa fa-file-text-o"></i></div>
        <a class="btn btn-small btn-default" href="#/services/edit/${a.service_email}"><i
                class="fa fa-edit"></i></a>
        <button class="btn btn-small btn-danger delete-service" service_email="${a.service_email}"
                service_name="${a.name}"><i class="fa fa-times"></i></button>
    </div>
</div>
{{/each}}
{{if !services.length}}
<p>${t.no_services_create_here}: <a class="btn btn-success" href="#/services/add"><i class="fa fa-plus"></i> ${t.create_service}</a>
</p>
{{/if}}
{% endraw %}