<fieldset *ngIf="section">
  <mat-form-field class="field">
    <mat-label>{{ 'oca.title' | translate }}</mat-label>
    <input [name]="name + '_title'" matInput [(ngModel)]="section.title" required
           #title="ngModel">
    <mat-error *ngIf="title.errors?.required">{{ 'oca.this_field_is_required' | translate }}</mat-error>
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>{{ 'oca.description' | translate }}</mat-label>
    <textarea [name]="name + '_description'" matInput [(ngModel)]="section.description" matTextareaAutosize></textarea>
  </mat-form-field>
  <div class="component-container" cdkDropList (cdkDropListDropped)="dropped($event)">
    <div *ngFor="let component of section.components; let i = index; trackBy: trackByIndex"
         class="component mat-app-background mat-elevation-z8" cdkDrag>
      <div class="drag-handle" cdkDragHandle>
        <mat-icon [matTooltip]="'oca.drag_to_change_order' | translate">drag_handle</mat-icon>
      </div>
      <oca-form-field [component]="component" [name]="section.id + '_component_' + i"
                      (componentChange)="componentChanged($event, i)"
                      (removeComponent)="onRemoveComponent(i)"></oca-form-field>
    </div>
  </div>
  <div class="add-button" *ngIf="canAddComponents">
    <button type="button" mat-raised-button (click)="addComponent()">{{ 'oca.add_question' | translate }}</button>
  </div>
</fieldset>
