<ng-container *ngIf="(newsItemWithStats$ | async)?.data as newsItem">
  <mat-progress-bar *ngIf="timeStatsLoading$ | async"></mat-progress-bar>
  <mat-chip-list *ngIf="newsItem.statistics" class="totals-list">
    <mat-chip>
      {{ newsItem.statistics.reached.total }} {{ 'oca.reached' | translate }}
    </mat-chip>
    <mat-chip>
      {{ newsItem.statistics.action.total }} {{ 'oca.action' | translate }}
    </mat-chip>
  </mat-chip-list>
  <oca-news-statistics-graphs
    [basicStatistics]="newsItem.statistics"
    [timeStatistics]="timeStats$ | async"
    [selectedMetric]="selectedMetric$ | async"></oca-news-statistics-graphs>
</ng-container>
