<h4>New order</h4>
<form id="new_order" class="form-inline">
    <fieldset>
        <div class="alert alert-error hide" id="new_order_error">
            <strong>Error!</strong> <span></span>
        </div>
        <div>
            <label for="new_order_contact">Contact: </label>
            <select id="new_order_contact">
                {{each(i, contact) contacts}}
                <option value="${contact.id}">${contact.first_name} ${contact.last_name}</option>
                {{/each}}
            </select><br>
        </div>
        <div>
            <label for="new_order_charge_interval">Charge interval</label>
            <select id="new_order_charge_interval">
                <option value="1">Every month</option>
                <option value="12" selected>Every 12 months</option>
            </select>
        </div>
        <div class="sub-buttons" id="subscription-buttons" style="display:none;">
            <button type="button" class="btn" data-sub="city">City / Municipality</button>
            <button type="button" class="btn" data-sub="gold">News Gold</button>
            <button type="button" class="btn" data-sub="platinum">News Platinum</button>
        </div>
        <div id="duplicate_error">
            <i class="fa fa-exclamation-triangle"></i>
            <span></span>
        </div>
        <div id="order-item-list"></div>
    </fieldset>
</form>
