{{if orderItems.length}}
<table class="table">
    <thead>
    <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Price</th>
        <th>Count</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    {{each(i, item) orderItems}}
        <tr data-product-code="${item.product}" class="order-item-row">
            <td class="product_code">${item.product}</td>
            <td>
                <span class="description">${item.description}</span><br>
                <span class="comment">${item.comment}</span>
            </td>
            <td class="price">${legalEntity.currency} ${item.price.toFixed(2) }</td>
            <td class="count">${item.count}</td>
            <td class="total right">${legalEntity.currency} ${item.total.toFixed(2) }</td>
        </tr>
    {{/each}}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4" class="right">Total VAT excl:</td>
        <td id="new_order_total_excl_vat" class="right">${legalEntity.currency} ${ order.total }</td>
    </tr>
    <tr>
        <td colspan="4" class="right">VAT (<span id="new_order_vat_percentage">${ legalEntity.getVatPercent() }</span>%):
        </td>
        <td id="new_order_vat" class="right">${legalEntity.currency} ${ order.vatTotal }</td>
    </tr>
    <tr>
        <td colspan="4" class="right">Total VAT incl:</td>
        <td id="new_order_total_incl_vat" class="right">${legalEntity.currency} ${ order.totalWithVat }</td>
    </tr>
    </tfoot>
</table>
{{else}}
<p>
    <i>No products selected</i>
</p>
{{/if}}
