{% raw %}
<h3>${t.apps}</h3>
<div class="span6">
    {{if error}}
    <div class="alert alert-error row">${error}</div>
    {{/if}}
    <div id="active-apps" class="row">
        <h4>${t.service_visible_in}</h4>
        <ul class="unstyled app-list">
    {{each(i, app) ACTIVE_APPS}}
            <span>${app.name}{{if i !== ACTIVE_APPS.length -1}},{{/if}}</span>
    {{/each}}
        </ul>
    {{if ACTIVE_APPS.length > 1}}
        <small>${t.unsubscribe_to_apps}</small>
    {{/if}}
    </div>
    <form>
        {{if orderedApps.length}}
            <div id="ordered-apps" class="row">
                <div class="bottom-margin">
                    <h4 class="pull-left">${t.in_cart} <span class="cart-item-count-apps"></span></h4>
                    <a href="#/shop/cart" class="btn btn-success pull-right"><i class="fa fa-shopping-cart"></i> ${t.to_cart}</a>
                </div>
                <ul class="unstyled app-list">
            {{each(i, app) orderedApps}}
                    <li><button data-app-id="${app.id}" type="button" class="btn btn-danger">
                        <i class="fa fa-remove"></i></button> ${app.name}</li>
            {{/each}}
                </ul>
            </div>
        {{/if}}
        {{if availableApps.length}}
            <div id="available-apps" class="row">
                <h4>${t.add_service_to}</h4>
                <ul class="unstyled app-list">
            {{each(i, app) availableApps}}
                    <li><button data-app-id="${app.id}" type="button" class="btn btn-success">
                        <i class="fa fa-plus"></i></button> ${app.name}
                        <small>(${LEGAL_ENTITY_CURRENCY} ${app.price} / ${t.month})</small>
                    </li>
            {{/each}}
                </ul>
            </div>
        {{/if}}
    </form>
</div>
{% endraw %}