<div id="shoppage" class="page" style="display: none;">
    <div class="shop-top-bar">
        <h2 class="pull-left">{% translate language, "shop" %}</h2>
        <a href="#/shop/cart" class="btn btn-success pull-right" id="btn-cart"><i class="fa fa-shopping-cart"></i> <span class="cart-item-count"></span></a>
    </div>
    <ul class="nav nav-tabs" id="shop-tabs">
    </ul>
    <div class="tab-content">
        <div id="store-current-page"></div>
    </div>
</div>
<script src="/static/js/solutions/sln-shop.js"></script>
