<ion-card>
  <ion-card-header>
    <ion-card-title>{{ appointment.title }}</ion-card-title>
    <ion-card-subtitle>{{ appointment.start | date : 'medium' }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ng-container *ngIf="appointment.branch">
      <p *ngIf="appointment.branch.addressLine1">{{ appointment.branch.addressLine1 }}</p>
      <p *ngIf="appointment.branch.addressLine2">{{ appointment.branch.addressLine2 }}</p>
      <p>{{ appointment.branch.addressZip }} {{ appointment.branch.addressCity }}</p>
    </ng-container>
    <p *ngIf="appointment.notes">{{ 'app.qm.remarks' | translate }}: {{ appointment.notes }}</p>
    <ng-container *ngIf="appointment.status === AppointmentStatus.BOOKED && !past">
      <ion-button (click)="cancelClicked.emit(appointment)" color="danger" size="small">
        {{ 'app.qm.cancel' | translate }}
      </ion-button>
      <ion-button (click)="addToCalendarClicked.emit(appointment)" size="small">
        {{ 'app.qm.add_to_calendar' | translate }}
      </ion-button>
    </ng-container>
  </ion-card-content>
</ion-card>
