<mat-sidenav-container class="full-height">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a *ngFor="let item of navItems"
         [routerLinkActive]="['link-active']"
         [routerLink]="item.route"
         [title]="item.label | translate"
         mat-list-item>
        <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
        <p>{{ item.label | translate }}</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
