html {
    font-family: sans-serif;
}

.mapTooltip {
    position: absolute;
    border: 1px solid #dbdbd6;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.95);
    padding: .27778em .83333em;
    z-index: 1000;
    display: none;
    color: #333;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.map {
    position: relative;
}
