{% raw %}
    <section class="mobile_preview">
        <div class="news_preview_container">
            <article class="news_preview">
                {{if newsItem.type === 2}}
                <div class="news_coupon"><span>${T('coupon')}</span></div>
                {{/if}}
                <div class="news_image" {{if !newsItem.image && ! newsItem.image_url}}style="display:none;"{{/if}}>
                    <img src="${newsItem.image || newsItem.image_url}"/>
                </div>
                {{if newsItem.type === 2}}
                <div class="news_qr">
                    <img src="/static/images/solutions/flex/news_sample_qr.png"/>
                    <p>${newsItem.qr_code_caption}</p>
                </div>
                {{/if}}
                <div class="news_title">
                    <div class="avatar">
                        <img src="/common/settings/my_avatar"/>
                    </div>
                    <div class="news_title_user_info">
                        {{if newsItem.type !== 2}}
                        <h4>${newsItem.title}</h4>
                        {{/if}}
                        <span class="user_info">${settings.name} - ${currentDatetime}</span>
                    </div>
                </div>
                <div class="news_content" id="news_content">
                    <p class="news_message">{{html htmlize(newsItem.message)}}</p>
                </div>
                <div class="news_read_more_text" id="news_read_more_text" style="display: none;">
                    <label class="read_more_trigger">
                        <i class="read_more_text">${T('read_more')}</i>
                        <i class="read_less_text">${T('show_less')}</i>
                    </label>
                </div>
                <div class="news_info">
                    <div class="news_reach">${T('broadcast-reach')}: <b>${reach}</b></div>
                    <div class="news_label">[${newsItem.broadcast_type}]</div>
                </div>
                <div class="news_bottom_row">
                    <span class="news_button">${T('Roger that')}</span>
                    <span class="news_button">${T('follow')}</span>
                    {{if newsItem.action_button}}
                    <span class="news_button news_button_action">${newsItem.action_button.caption}</span>
                    {{/if}}
                </div>
            </article>

            {{if newsItem.type !== 2}}
            <article class="news_preview news_preview_sample">
                <div class="news_title">
                    <div class="avatar">
                        <img src="/static/images/rogerthat_logo.png"/>
                    </div>
                    <div class="news_title_user_info">
                        <h4>${T('sample_newsitem_title')}</h4>
                        <span class="user_info">${T('sample_service')} - ${currentDatetime}</span>
                    </div>
                </div>
                <div class="news_content">
                    <p class="read_more_wrap">${T('sample_newsitem_text')}</p>
                </div>
                <div class="news_info">
                    <div class="news_reach">${T('broadcast-reach')}: <strong>421</strong></div>
                    <div class="news_label">[${T('inbox-message')}]</div>
                </div>
                <div class="news_bottom_row">
                    <span class="news_button">${T('Roger that')}</span>
                    <span class="news_button">${T('follow')}</span>
                </div>
            </article>
            {{else}}
            <article class="news_preview news_preview_sample">
                <div class="news_coupon"><span>${T('coupon')}</span></div>
                <div class="news_qr">
                    <img src="/static/images/solutions/flex/news_sample_qr.png"/>
                    <p>${T('sample_newsitem_coupon_content')}</p>
                </div>
                <div class="news_title">
                    <div class="avatar">
                        <img src="/static/images/rogerthat_logo.png"/>
                    </div>
                    <div class="news_title_user_info">
                        <span class="user_info">${T('sample_service')} - ${currentDatetime}</span>
                    </div>
                </div>
                <div class="news_content">
                    <p class="read_more_wrap">${T('sample_newsitem_coupon_text')}</p>
                </div>
                <div class="news_info">
                    <div class="news_reach">${T('broadcast-reach')}: <b>421</b></div>
                    <div class="news_label">[${T('promotions')}]</div>
                </div>
                <div class="news_bottom_row">
                    <span class="news_button">${T('Roger that')}</span>
                    <span class="news_button">${T('follow')}</span>
                </div>
            </article>
            {{/if}}
        </div>
    </section>
{% endraw %}
