{% raw %}
    <div class="layout-row layout-align-space-between-center" style="margin-left: 8px;">
        <h2>${T('previous_news_items')}</h2>
        <a href="#/broadcast/add" class="md-button md-raised md-primary">
            <i class="fa fa-plus"></i> ${T('create_news')}
        </a>
    </div>
    <div class="layout-column">
        {{if !newsItems.length}}
        <p>${T('no_previous_news_items')}</p>
        {{else}}
        {{each(i, newsItem) newsItems}}
        <md-card class="news-card" id="news_item_${newsItem.id}">
            <md-card-title>
                <md-card-title-text class="card-title-text">
                    <span class="md-headline">${newsItem.title || newsItem.qr_code_caption}</span>
                    {{if newsItem.published}}
                    <span class="md-subhead">${newsItem.broadcast_type} - ${newsItem.datetime}</span>
                    {{else}}
                    <span class="md-subhead">${newsItem.broadcast_type} - ${scheduledAt(newsItem.scheduled_at)}</span>
                    {{/if}}
                    <span class="card-title-text-right">${T(newsItem.sticky ? 'promoted' : 'not_promoted')}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div class="layout-row layout-align-space-between-center">
                    {{if newsItem.published}}
                    <div class="layout-row layout-align-start-center card-stats-container">
                        <div class="statistics_chip">
                            <a class="md-button md-raised show_more_stats_button" news_id="${newsItem.id}" property_name="reached">${T('broadcast-reach')} <span class="badge">${newsItem.reach}</span></a>
                        </div>
                        <div class="statistics_chip">
                            <a class="md-button md-raised show_more_stats_button" news_id="${newsItem.id}" property_name="rogered">${T('rogered')} <span class="badge">${newsItem.users_that_rogered.length}</span></a>
                        </div>
                        <div class="statistics_chip" {{if newsItem.action_count < 0}}style="display: none;"{{/if}}>
                            <a class="md-button md-raised show_more_stats_button" news_id="${newsItem.id}" property_name="action">${T('action')} <span class="badge">${newsItem.action_count}</span></a>
                        </div>
                        <div class="statistics_chip" {{if newsItem.action_count < 0}}style="display: none;"{{/if}}>
                            <a class="md-button md-raised show_more_stats_button" news_id="${newsItem.id}" property_name="followed">${T('followed')} <span class="badge">${newsItem.follow_count}</a>
                        </div>
                    </div>
                    {{/if}}
                    <div class="layout-align-end-center">
                        <a href="#/broadcast/edit/${newsItem.id}" class="md-button md-raised">
                            <i class="fa fa-pencil-square-o"></i> ${T('EDIT')}
                        </a>
                        {{if !newsItem.published}}
                        <a news_id="${newsItem.id}" class="md-button md-warn delete_news_button md-raised" type="button">
                            <i class="fa fa-times"></i> ${T('CANCEL')}
                        </a>
                        {{/if}}
                    </div>
                </div>
                <div class="news_more_stats layout-column" id="show_more_stats_${newsItem.id}"
                     style="display:none;"></div>
            </md-card-content>
        </md-card>
    </div>
    {{/each}}
    <div class="text_align_center">
        <button type="button" id="load_more_news" class="md-button md-primary">${T('Load more')}</button>
    </div>
    {{/if}}
{% endraw %}
