{% raw %}
{{if showReach}}
<div class="layout-row stats-row layout-align-space-around-center" style="width: 100%">
    <p><b>${T('regional_reach')}: ${reach}</b></p>
</div>
{{/if}}
<div class="layout-row layout-align-space-around-center">
    <select id="stats_app_selector_${news_id}">
    {{each(i, app) apps}}
        <option value="${app.id}" {{if selectedApp === app.id}}selected{{/if}}>${app.name}</option>
    {{/each}}
    </select>
</div>
<div class="layout-row stats-row layout-align-space-around-center" style="width: 100%">
    <div id="stats_age_graph_${news_id}"></div>
    <div id="stats_gender_graph_${news_id}"></div>
</div>
<div class="layout-row stats-row layout-align-space-around-center" style="width: 100%">
    <div id="stats_time_graph_${news_id}" style="width: 900px;">
  </div>
</div>
{% endraw %}
