{% raw %}
<div class="control-group">
    <label>${T('city_apps')}</label>
    <div class="controls" id="city_apps">
        {{each(i, app) apps}}
        <label class="checkbox">
            <input type="checkbox" value="${app.app_id}" checked disabled>
            ${app.name} - ${T('users_count').replace('%(amount)s', stats[app.app_id])}
        </label>
        {{/each}}
    </div>
</div>
<div class="control-group">
    <button id="select_city_apps" class="btn btn-small btn-success" type="button">
        <i class="fa fa-plus"></i> ${T('select_city_apps')}
    </button>
</div>
{% endraw %}
