{% raw %}
<div class="layout-row stats-row layout-align-space-around-center" style="width: 100%">
    <b><p class="stats_regional_total_reach_${news_id}"></p></b>
</div>
<div class="layout-row stats-row layout-align-space-around-center" style="width: 100%">
  <div class="stats_age_graph_${news_id}"></div>
    <div class="stats_gender_graph_${news_id}"></div>
</div>
<div class="layout-row stats-row layout-align-space-around-center" style="width: 100%">
  <div class="stats_time_graph_${news_id}" style="width: 800px;">
  </div>
</div>
{% endraw %}
