<html><body>{% translate language, 'dear_name', 'name=' + name %},<br>
<br>
{% translate language, "received_password_reset_request_for_app", "app_name=" + app_name %}<br>
<br>
<span style="font-size: large;"><a href="{{ link }}">{% translate language, "click_here_to_reset_your_app_password", "app_name=" + app_name%}</a></span><br>
<br>
{% translate language, "To reset your password, please enter your password twice on the page that opens." %}<br>
<br>
{% translate language, "If you cannot access the link above, you can paste the following address into your browser:" %}<br>
{{ link }}<br>
<br>
{% translate language, "thank_you_for_using_app", "app_name=" + app_name %}<br>
<br>
- {% translate language, "the_app_team", "app_name=" + app_name %}<br>
<a href="{{ app_website }}">{{ app_website }}</a><br>
</body></html>
