{% translate language, "dear_name", "name=" + name %},

{% translate language, "received_password_reset_request_for_app", "app_name=" + app_name %} {% translate language, "Please use this secure URL to reset your password within 5 days." %}

{{ link|safe }}

{% translate language, "To reset your password, please enter your password twice on the page that opens." %}

{% translate language, "thank_you_for_using_app", "app_name=" + app_name %}

- {% translate language, "the_app_team", "app_name=" + app_name %}
{{ app_website }}
