<ng-container [formGroup]="formGroup">
  <ng-container formGroupName="header">
    <h4>Header</h4>
    <rcc-home-screen-translation-select (addTranslation)="addTranslation.emit()"
                                        [control]="headerControls.title"
                                        [required]="true"
                                        [translations]="translations"
                                        label="Title"></rcc-home-screen-translation-select>
    <rcc-home-screen-translation-select (addTranslation)="addTranslation.emit()"
                                        [control]="headerControls.subtitle"
                                        [required]="false"
                                        [translations]="translations"
                                        label="Subtitle"></rcc-home-screen-translation-select>
  </ng-container>
  <h4>Rows</h4>
  <rcc-home-screen-section-array [formArray]="formGroup.controls.rows"
                                 [newsGroups]="newsGroups"
                                 [translations]="translations"
                                 [translationsMapping]="translationsMapping"
                                 (addTranslation)="addTranslation.emit($event)"></rcc-home-screen-section-array>
</ng-container>
