<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'app.oca.appointments' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading$ | async" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <p class="ion-padding" *ngIf="showNoResults$ | async">
    {{ 'app.oca.no_upcoming_appointments_yet' | translate }}
  </p>
  <ion-card *ngFor="let item of appointments$ | async">
    <ion-card-header>
      <ion-card-title>{{ item.appointment.appStartTime | date : 'EEEE d MMMM y, h:mm a' }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item class="summary-item" *ngIf="item.location">
          <ion-label>{{ 'app.oca.location' | translate }}</ion-label>
          <ion-note color="contrast" slot="end">{{ item.location.locationDesc }}</ion-note>
        </ion-item>
      </ion-list>
      <app-appointment-products-overview [selectedProducts]="item.products"></app-appointment-products-overview>
      <ng-container>
        <ion-button color="danger" size="small" (click)="cancelAppointment(item.appointment)">
          {{ 'app.oca.cancel' | translate }}
        </ion-button>
        <ion-button color="primary" size="small" (click)="addToCalendar(item.appointment)">
          {{ 'app.oca.add_to_calendar' | translate }}
        </ion-button>
      </ng-container>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/jcc-appointments/new-appointment">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
