<html>
  <head>
  	<title>Rogerthat</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="google" value="notranslate">
	<link href="/static/css/jquery.mobile-1.0rc1.min.css" rel="stylesheet" type="text/css" />
	{% block html_header %}{% endblock %}
<script type="text/javascript">
<!--
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24017291-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
-->
</script>
  </head>
  <body>
  	<noscript>Your browser does not support JavaScript! Please use a JavaScript enabled browser.</noscript>
	<script src="/static/js/jquery-1.6.1.min.js"></script>
	<script src="/static/js/jquery.mobile-1.0rc1.min.js"></script>
	<script type="text/javascript" src="/static/js/stacktrace.js"></script>
	<script type="text/javascript" src="/static/js/mc.js"></script>
	
	
<div data-role="page">

	{% block header %}
	<div data-role="header">
		Rogerthat
	</div><!-- /header -->
	{% endblock %}

	<div data-role="content">
	    {% block body %}&nbsp;{% endblock %}
	</div><!-- /content -->
	
	{% block footer %}
	<div data-role="footer" data-position="fixed" style="text-align: center;">
		&copy; 2011-2017  <a href="mailto:info@mobicage.com">MOBICAGE NV</a> All&nbsp;rights&nbsp;reserved&nbsp;worldwide.
	</div><!-- /footer -->
	{% endblock %}
	
</div><!-- /page -->

  </body>
</html>
