{% extends "base_base.html" %}

{% block body %}
<div class="note2">
	<span>
		Forgot your password?<br>
		Rogerthat will send password reset instructions to the email address associated with your account.
	</span>
	<br>
	<br>
	<table id="resetpassword">
		<tr>
			<td>
				<input id="email" type="text" placeholder="Enter email address" value="{{ email }}" autocapitalize="off" autocorrect="off"/>
			</td>
		</tr>
		<tr>
			<td>
				<button id="submit">Send instructions</button>
			</td>
		</tr>
	</table>
</div>
<div id="emailSentDialog" style="display: none;">
	An email with instructions has been sent.
</div>
<div id="accountNotFoundDialog" style="display: none;">
	This account was not found. Check the email address you entered!
</div>
<style>
    #resetpassword td { width: 300px; color: #fff; }
	#resetpassword { font-size: 15px; margin-left: auto; margin-right: auto; }
	#resetpassword button { margin-top: 5px; width:100%; }
	#resetpassword input[type=text] { 
		margin: 0px; margin-top: 3px; padding: 4px; font-size: 15px; -webkit-border-radius: 3px; 
		-moz-border-radius: 3px; width: 300px; }
	#resetpassword span { font-size: 11px; color: red; }
	#submit span { margin-top: 0px; font-size: 15px; float: none; color: #fff; line-height: 1; }
</style>
<script type="text/javascript">
<!--
$(window).load(function () {
	var cont = "{{ continue|safe }}";
	var accountNotFoundDialog = $("#accountNotFoundDialog").dialog({
		title: 'Reset password',
		modal: true,
		autoOpen: false,
		close: function () {
			$("#email").focus();
		},
		buttons: {
			'Try again': function () {
				accountNotFoundDialog.dialog('close');
			}
		}
	});
	$("#submit").button().click(function (event) {
		var email = $("#email").val();
		mctracker.call({
			url: '/mobi/rest/user/reset_password',
			type: 'POST',
			data: {
				data: JSON.stringify ({
					email: email
				})
			},
			success: function (data) {
				if (data) {
					var dialog = $("#emailSentDialog").dialog({
						title: 'Reset password',
						modal: true,
						close: function () {
							window.location = cont;
						},
						buttons: {
							Continue: function () {
								dialog.dialog('close');
							}
						}
					});
				} else {
					accountNotFoundDialog.dialog('open');
				}
			}
		});
	});
	$("#email").keypress(function (event) {
		if (event.which == 13) {
			$("#submit").button().click();
		}
	});
});
-->
</script>
{% endblock %}
