{% extends "base.html" %}
{% block content %}
    <style>
        #mainContainer {
            color: #ffffff;
        }

        #mainContainer h2 {
            color: rgb(142, 190, 45);
        }

        #mainContainer a {
            color: #00a0ff !important;
        }
    </style>
    <div class="span-18" id="mainContainer">
        <h2>Your service has been disabled</h2>
        <p>Please contact Mobicage to re-activate or extend your service.</p>
        <p>Email: <a href="mailto:support@mobicage.com">support@mobicage.com</a></p>
        <p>Phone: <a href="tel:003293242564">+32 9 324 25 64</a></p>
    </div>
{% endblock %}