{% extends "base_base.html" %}

{% block body %}
<div class="note2">
	<span>
		Dear {{ service_identity.name }},<br>
		this is your interaction page.<br>
		<br>
	</span>
	<label>
		Distribute the link to this page to your users for them to get in touch with you on {{ app.name }}.<br>
		Short link to this page: <a href="{{ short_link }}" style="color: #9c3;" class="link">{{ short_link }}</a><br>
		<br>
		You can also distribute your id in {{ app.name }} shown below. Let people scan this with a barcode reader and they will get in touch with you!<br>
	</label>
	<img src="/si/{{ user_code }}/{{ service_interaction_id }}" alt="{{ service_identity.name }}'s id in {{ app.name }} passport"/>
</div>
{% endblock %}

