{% extends "base_base.html" %}

{% block body %}
<div class="note2">
	<span>
		Dear {{ name }},<br>
		complete the {{ action }} process by entering a new password:
	</span>
	<br>
	<br>
	<form id="setpasswordform" method="post">
		<input type="hidden" name="continue" value="{{ continue }}" />
		<input type="hidden" name="email" value="{{ email }}" />
		<input type="hidden" id="password" name="password" />
	</form>
	<table id="setpassword">
		<tr>
			<td>
				<input id="password1" name="password1" type="password" placeholder="Enter password" />
			</td>
			<td>
				<span id="password_not_strong_enough" style="display: none;">Password should contain minimal 5 characters!</span>
			</td>
		</tr>
		<tr>
			<td>
				<input id="password2" name="password2" type="password" placeholder="Confirm password" />
			</td>
			<td>
				<span id="passwords_do_not_match" style="display: none;">Passwords do not match!</span>
			</td>
		</tr>
		<tr>
			<td>
				<button id="submit">Sign up</button>
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
	</table>
</div>
<style>
	#setpassword a { color: #fff; }
    #setpassword td:first-child { width: 200px; color: #fff; }
	#setpassword { font-size: 15px; width: 500px; margin-left: auto; margin-right: auto; }
	#setpassword button { float: right; margin-top: 5px; }
	#setpassword input[type=password] { 
		margin: 0px; margin-top: 3px; padding: 4px; font-size: 15px; -webkit-border-radius: 3px; 
		-moz-border-radius: 3px; width: 200px; }
	#setpassword span { font-size: 11px; color: red; }
	#submit span { margin-top: 0px; font-size: 15px; float: none; color: #fff; line-height: 1; }
</style>
<script type="text/javascript">
<!--
$(window).load(function () {
	$("#password1").change(function(event) {
		if ($(this).val().length < 5) {
			$("#password_not_strong_enough").fadeIn();
		} else {
			$("#password_not_strong_enough").fadeOut();
		}
	});
	$("#password2").change(function(event) {
		if ( $(this).val() != $("#password1").val() ) {
			$("#passwords_do_not_match").fadeIn();
		} else {
			$("#passwords_do_not_match").fadeOut();
		}
	});
	$("#submit").button().click(function (event) {
		var password = $("#password1").val();
		if (password.length >= 5 && $("#password2").val() == $("#password1").val()) {
			$("#password").val(password);
			$("#setpasswordform").submit();
		} else {
			if ($("#password1").val().length < 5) {
				$("#password_not_strong_enough").fadeIn();
			} else {
				$("#passwords_do_not_match").fadeIn();
			}			
		}
	});
	$("#password1").keypress(function(event) {
		if (event.which == 13) {
			$("#password2").focus();
		}
	});
	$("#password2").keypress(function(event) {
		if (event.which == 13) {
			$("#submit").button().click();
		}
	});
});
-->
</script>
{% endblock %}
