<mat-toolbar>
  <a mat-icon-button routerLink="..">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <h1 class="flex-grow">{{ 'oca.cirklo_light' | translate }}</h1>
</mat-toolbar>
<mat-progress-bar *ngIf="cirkloSettingsLoading$ | async" mode="indeterminate"></mat-progress-bar>
<form (ngSubmit)="save()" [formGroup]="formGroup" class="settings-form">
  <mat-form-field class="full-width">
    <mat-label>Cirklo city id</mat-label>
    <input formControlName="city_id" matInput>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Logo url</mat-label>
    <input formControlName="logo_url" matInput>
    <mat-hint>This logo is the one shown on vouchers in the app</mat-hint>
  </mat-form-field>
  <h2>Signup</h2>
  <mat-slide-toggle formControlName="signup_enabled" style="margin-bottom: 8px">Signup enabled</mat-slide-toggle>
  <mat-form-field class="full-width">
    <mat-label>Signup Logo url</mat-label>
    <input formControlName="signup_logo_url" matInput>
    <mat-hint>Logo shown on the cirklo-only signup page</mat-hint>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Signup name NL</mat-label>
    <input formControlName="signup_name_nl" matInput>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Signup name FR</mat-label>
    <input formControlName="signup_name_fr" matInput>
  </mat-form-field>
  <h3>Signup emails</h3>
  <ng-container formGroupName="signup_mail">
    <ng-container *ngFor="let language of languages">
      <ng-container formGroupName="accepted">
        <mat-form-field class="full-width">
          <mat-label>Accepted id {{ language }}</mat-label>
          <input [formControlName]="language" matInput>
        </mat-form-field>
      </ng-container>
      <ng-container formGroupName="denied">
        <mat-form-field class="full-width">
          <mat-label>Denied id {{ language }}</mat-label>
          <input [formControlName]="language" matInput>
        </mat-form-field>
      </ng-container>
    </ng-container>
  </ng-container>
  <button [disabled]="cirkloSettingsLoading$ | async" mat-stroked-button>{{ 'oca.Save' | translate }}</button>
</form>
