.settings-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
}

.full-width {
  width: 100%;
}

.image-container {
  display: flex;
  align-items: center;
  row-gap: 16px;
  flex-direction: column;
  margin-bottom: 16px;

  img {
    height: 100px;
  }
}

button {
  margin: 8px 0;
}
