<mat-toolbar>
  <h1 class="flex-grow">{{ 'oca.cirklo_light' | translate }}</h1>
  <mat-form-field class="flex-grow">
    <mat-label>{{ 'oca.Search' | translate }}</mat-label>
    <input matInput (keyup)="applyFilter(search.value)" #search>
  </mat-form-field>
  <button (click)="refresh()" [disabled]="loading$ | async" mat-icon-button [matTooltip]="'oca.refresh' | translate">
    <mat-icon>refresh</mat-icon>
  </button>
  <button (click)="exportMerchants()"
          [disabled]="isExporting$ | async"
          [matTooltip]="'oca.download_merchants_list' | translate"
          mat-icon-button>
    <mat-icon>download</mat-icon>
  </button>
  <a mat-icon-button routerLink="settings" *ngIf="isShopUser$ | async">
    <mat-icon>settings</mat-icon>
  </a>
</mat-toolbar>
<mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>
<table (matSortChange)="sortData($event)"
       [dataSource]="dataSource"
       class="vouchers-table"
       mat-table matSort
       matSortActive="creation_date"
       matSortDirection="desc"
       matSortDisableClear>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'oca.reservation-name' | translate }}</th>
    <td *matCellDef="let row" mat-cell>{{ row.name }}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'oca.Email' | translate }}</th>
    <td *matCellDef="let row" mat-cell>{{ row.email }}</td>
  </ng-container>
  <ng-container matColumnDef="creation_date">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'oca.created' | translate }}</th>
    <td *matCellDef="let row" mat-cell>{{ row.creation_date | date }}</td>
  </ng-container>
  <ng-container matColumnDef="address">
    <th *matHeaderCellDef mat-header-cell>{{ 'oca.address' | translate }}</th>
    <td *matCellDef="let row" mat-cell>{{ row.address }}</td>
  </ng-container>
  <ng-container matColumnDef="whitelist_date">
    <th *matHeaderCellDef mat-header-cell>{{ 'oca.whitelist' | translate }}</th>
    <td *matCellDef="let row" mat-cell>
      <div *ngIf="!row.whitelist_date">
      	  <ng-container *ngIf="row.denied">{{ 'oca.denied' | translate }}</ng-container>
	      <button *ngIf="!row.denied" mat-raised-button color="primary" (click)="whitelistService(row)">{{ 'oca.whitelist' | translate }}</button>
      </div>
      <ng-container *ngIf="row.whitelist_date as date">{{ date | date }}</ng-container>
    </td>
  </ng-container>
  <ng-container matColumnDef="merchant_registered">
    <th *matHeaderCellDef mat-header-cell>{{ 'oca.merchant_registered' | translate }}</th>
    <td *matCellDef="let row" mat-cell>
      <ng-container *ngIf="row.merchant_registered">{{ 'oca.Yes' | translate }}</ng-container>
      <ng-container *ngIf="!row.merchant_registered">{{ 'oca.No' | translate }}</ng-container>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>
