{% extends "base_base_mobile_simple_no_javascript.html" %}

{% block body %}
<table cellpadding="5" style="background: none !important;">
<tr>
<td colspan="2">
<p class="mob-top">
<img src="/unauthenticated/mobi/avatar/{{ profile_info.avatarId }}" width="50px" height="50px" style="float: left; margin-right: 10px;">
<b>{{ profile_info.name }}</b><br> <label>
Salut, vous venez de numériser mon id dans l'application {{ app.name }}.</label><br> <br>
<span>{{ app.name }} est actuellement soutenu sur Android et iPhone. Suivez ces étapes pour se connecter avec moi:</span>
</p></td>
</tr>
<tr>
<td width="10px">
<h2>Etape 1:</h2></td>
<td width="100%">Installez l'application {{ app.name }} gratuite.</td>
</tr>
<tr><td width="10px">&nbsp;</td><td><a href="{{ app.ios_appstore_web_uri }}" target="_blank"><img src="/static/images/M_2.png" /></a></td></tr>
<tr><td width="10px">&nbsp;</td><td><a href="{{ app.android_market_web_uri }}" target="_blank"><img src="/static/images/M_1.png" /></a></td></tr>
<tr>
<td>
<h2>Etape 2:</h2></td>
<td>Numérisez mon id à nouveau en utilisant l'application {{ app.name }}.</td>
</tr>
</table>
{% endblock %}
