<form (ngSubmit)="submit()" [formGroup]="formGroup">
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  <mat-horizontal-stepper (selectionChange)="stepChanged($event)"
                          (animationDone)="stepAnimationDone.next($event)"
                          [linear]="true"
                          labelPosition="bottom"
                          #stepper>
    <ng-template matStepperIcon="edit">
      <ion-icon color="light" name="pencil" class="stepper-icon"></ion-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <ion-icon color="light" name="checkmark" class="stepper-icon"></ion-icon>
    </ng-template>
    <ng-template let-index="index" matStepperIcon="number">
      <ion-text color="light">{{ index + 1 }}</ion-text>
    </ng-template>
    <mat-step [label]="'app.timeblockr.services' | translate" [stepControl]="formGroup.controls.product">
      <ion-item class="ion-item-no-padding">
        <ion-label>{{ 'app.timeblockr.service' | translate }}</ion-label>
        <ionic-selectable
          #productSelect
          [canSearch]="true"
          [clearButtonText]="'app.timeblockr.cancel' | translate"
          [closeButtonText]="'app.timeblockr.close' | translate"
          [items]="products"
          [searchFailText]="'app.timeblockr.no_services_found' | translate"
          [searchPlaceholder]="'app.timeblockr.search' | translate"
          formControlName="product"
          itemTextField="Name"
          itemValueField="Guid"
        ></ionic-selectable>
      </ion-item>
      <div *ngIf="formGroup.controls.product.value?.Description as selectedProductDescription"
           [innerHTML]="selectedProductDescription" class="product-description">
      </div>
      <div class="first-step-button">
        <ion-button type="button" (click)="stepper.next()" [disabled]="formGroup.controls.product.invalid">
          {{ 'app.timeblockr.next' | translate }}
        </ion-button>
      </div>
    </mat-step>
    <mat-step [label]="'app.timeblockr.location_date_and_time' | translate" [stepControl]="formGroup.controls.time">
      <ion-list>
        <ion-item class="ion-item-no-padding">
          <ion-label>{{ 'app.timeblockr.location' | translate }}</ion-label>
          <ion-select #locationSelect
                      [cancelText]="'app.timeblockr.cancel' | translate"
                      [okText]="'app.timeblockr.ok' | translate"
                      formControlName="location"
                      required>
            <ion-select-option *ngFor="let location of locations" [value]="location">
              {{ location.Name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="ion-item-no-padding">
          <ion-label>{{ 'app.timeblockr.date' | translate }}</ion-label>
          <mat-form-field>
            <input (click)="datePicker.open()"
                   [matDatepickerFilter]="dateFilter"
                   [matDatepicker]="datePicker"
                   formControlName="date"
                   matInput
                   readonly
                   required>
            <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
          </mat-form-field>
        </ion-item>
        <ion-item [class.hidden]="formGroup.controls.date.invalid" class="ion-item-no-padding">
          <ion-label>{{ 'app.timeblockr.time' | translate }}</ion-label>
          <ion-select #timePicker
                      [cancelText]="'app.timeblockr.cancel' | translate"
                      [okText]="'app.timeblockr.ok' | translate"
                      formControlName="time"
                      required>
            <ion-select-option *ngFor="let time of timeSlots" [value]="time.value">
              {{ time.date | date : 'HH:mm' }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <div class="step-nav-buttons">
        <ion-button type="button" (click)="stepper.previous()"
                    color="light">{{ 'app.timeblockr.back' | translate }}</ion-button>
        <ion-button type="button" (click)="stepper.next()" [disabled]="formGroup.controls.time.invalid">
          {{ 'app.timeblockr.next' | translate }}
        </ion-button>
      </div>
    </mat-step>
    <mat-step [label]="'app.timeblockr.data' | translate" [stepControl]="formGroup.controls.dynamicFields">
      <ion-list>
        <ng-container formGroupName="dynamicFields">
          <ng-container *ngFor="let field of templateDynamicFields">
            <ion-item>
              <ion-label>{{ field.field.Name }}<span *ngIf="field.field.IsRequired" aria-hidden="true">&#32;*</span>
              </ion-label>
              <ng-container [ngSwitch]="field.type">
                <ion-input *ngSwitchCase="'input'"
                           [formControlName]="field.field.Key"
                           [maxlength]="field.field.MaxLength"
                           [required]="field.field.IsRequired"
                           [type]="field.inputType"></ion-input>
                <ion-select *ngSwitchCase="'select'"
                            [formControlName]="field.field.Key"
                            [required]="field.field.IsRequired">
                  <ion-select-option *ngFor="let option of field.field.OptionValuesList" [value]="option.Value">
                    {{ option.Text }}
                  </ion-select-option>
                </ion-select>
              </ng-container>
            </ion-item>
            <span *ngIf="getErrorMessage(field) as errorMsg" class="validation-error">{{ errorMsg }}</span>
          </ng-container>
        </ng-container>
      </ion-list>
      <div class="step-nav-buttons">
        <ion-button type="button" (click)="stepper.previous()"
                    color="light">{{ 'app.timeblockr.back' | translate }}</ion-button>
        <ion-button type="button" (click)="stepper.next()" [disabled]="formGroup.controls.dynamicFields.invalid">
          {{ 'app.timeblockr.next' | translate }}
        </ion-button>
      </div>
    </mat-step>
    <mat-step [label]="'app.timeblockr.confirm' | translate" class="last-step">
      <h3>{{ 'app.timeblockr.services' | translate }}</h3>
      <ng-container *ngIf="formGroup.controls.product.value as product">
        <p>{{ product.Name }}</p>
        <div *ngIf="product.Description" [innerHTML]="product.Description" class="product-description"></div>
      </ng-container>
      <ng-container *ngIf="formGroup.controls.location.value as location">
        <h2>{{ 'app.timeblockr.location' | translate }}</h2>
        <p>{{ location.Name }}</p>
        <p>{{ location.Street }} {{ location.StreetNumber || '' }} {{ location.StreetNumberAddition || '' }}</p>
        <p>{{ location.PostalCode}} {{ location.City }}</p>
      </ng-container>
      <h3>{{ 'app.timeblockr.date' | translate }}</h3>
      <p *ngIf="formGroup.controls.time.value as selectedTime">{{ selectedTime | date : 'medium' }}</p>
      <h3>{{ 'app.timeblockr.data' | translate }}</h3>
      <ion-list>
        <ion-item *ngFor="let field of templateDynamicFields" class="ion-item-no-padding">
          <ion-label>{{ field.field.Name}}</ion-label>
          <ion-note color="contrast" slot="end">{{ getFieldValue(field) }}</ion-note>
        </ion-item>
      </ion-list>
      <div class="step-nav-buttons">
        <ion-button type="button" (click)="stepper.previous()"
                    color="light">{{ 'app.timeblockr.back' | translate }}</ion-button>
        <ion-button [disabled]="isLoading"
                    type="submit">{{ 'app.timeblockr.book_appointment' | translate }}</ion-button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
