.hidden {
  display: none;
}

.location-first {
  display: flex;
  flex-direction: column;
}

.item-service {
  order: 1;
}

.item-service-info {
  order: 2;
}

.item-branch {
  order: 3;
}

.location-first {
  .item-branch {
    order: 1;
  }

  .item-service {
    order: 2;
  }

  .item-service-info {
    order: 3;
  }
}
