{% raw %}
	{{each(i, djmatic_profile) djmatic_profiles}}
	
	<tr player="${djmatic_profile.player_id}">
	    <td>${djmatic_profile.player_id} (${djmatic_profile.type} | ${djmatic_profile.connected_users} users)
	        <br>${djmatic_profile.name}
	    </td>
	    <td>${djmatic_profile.days_date}
	       <br>(${djmatic_profile.days} days)
	    </td>
	    <td>
	        <select class="djmatic_status">
	            <option value="2" {{if djmatic_profile.status == 2}}checked="checked"{{/if}}>Demo</option>
	            <option value="3" {{if djmatic_profile.status == 3}}checked="checked"{{/if}}>Full</option>
	            <option value="4" {{if djmatic_profile.status == 4}}checked="checked"{{/if}}>Limited</option>
	        </select>
	    </td>
	    <td>
	        <button type="button" class="btn btn-success btn-block djmatic_update">Update</button>
	    </td>
	</tr>
	{{/each}}
{%- endraw %}