mat-checkbox {
  margin-right: 8px;
}

.option-container {
  display: flex;
  align-items: center;
}

.option-value {
  width: 350px;
  flex-grow: 1;
  font-size: 14px;
}

.option-action {
  margin-left: 16px;
  width: 250px;
  font-size: 14px;
}
