<div *ngFor="let value of values; let i = index; trackBy: trackValues">
  <ng-container [ngSwitch]="multiple">
    <mat-radio-button checked="false" disabled="true" *ngSwitchCase="false"></mat-radio-button>
    <mat-checkbox checked="false" disabled="true" *ngSwitchCase="true"></mat-checkbox>
  </ng-container>
  <mat-form-field appearance="legacy">
    <input [name]="'value_' + i" matInput [(ngModel)]="value.label"
           (ngModelChange)="valueUpdated($event, i)" #valueInput (keydown.enter)="selectNext(i)">
  </mat-form-field>
  <button type="button" mat-icon-button *ngIf="values.length !== 1" (click)="removeValue(values[i])">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div>
  <ng-container [ngSwitch]="multiple">
    <mat-radio-button checked="false" disabled="true" *ngSwitchCase="false"></mat-radio-button>
    <mat-checkbox checked="false" disabled="true" *ngSwitchCase="true"></mat-checkbox>
  </ng-container>
  <mat-form-field appearance="legacy" (click)="addChoice()">
    <mat-label>{{ 'oca.add_option' | translate }}</mat-label>
    <input matInput #newInput autocomplete="off" [(ngModel)]="temporaryValue" [ngModelOptions]="{standalone: true}"
           (keydown.enter)="addChoice()" (keydown.tab)="addChoice()">
  </mat-form-field>
</div>
