.address-map {
  width: 580px;
  height: 250px;
}

.full-field {
  flex: 1;
}

.dual-fields {
  display: flex;

  mat-form-field {
    flex: 1;

    &:first-child {
      margin-right: 16px;
    }
  }
}

.address-fields {
  display: flex;
  flex-direction: column;
}

.edit-fields {
  margin: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.save-button {
  margin: 8px;
}
