<mat-list (cdkDropListDropped)="itemMoved($event)" cdkDropList class="value-list">
  <ng-container *ngFor="let value of values; index as index">
    <mat-list-item *ngIf="index !== editingIndex; else editTemplate" cdkDrag class="value-item">
      <h4 mat-line>{{ value.value }}</h4>
      <p *ngIf="value.name" mat-line>{{ value.name }}</p>
      <button #btn (click)="editValue(value)" [disabled]="value.provider != null"
              [matTooltipDisabled]="!btn.disabled" [matTooltip]="syncedMessage" mat-icon-button type="button">
        <mat-icon>edit</mat-icon>
      </button>
      <button #btn (click)="removeValue(value)" [disabled]="value.provider  != null"
              [matTooltipDisabled]="!btn.disabled" [matTooltip]="syncedMessage" mat-icon-button type="button">
        <mat-icon>delete</mat-icon>
      </button>
      <p *cdkDragPreview>{{ value.value }}</p>
    </mat-list-item>
  </ng-container>
</mat-list>
<ng-template *ngIf="editingIndex === NEW_ITEM_INDEX" [ngTemplateOutlet]="editTemplate"></ng-template>
<div *ngIf="!editingValue && maxCount > values.length">
  <button (click)="addValue()" mat-stroked-button type="button">{{ 'oca.Add new' | translate }}</button>
</div>

<ng-template #editTemplate>
  <div class="edit-fields">
    <div class="address-fields">
      <mat-form-field class="place-field">
        <mat-label>{{ 'oca.place_name_on_gmaps' | translate }}</mat-label>
        <input (ngModelChange)="nameChanged($event)"
               [matAutocomplete]="autocomplete"
               [ngModelOptions]="{standalone: true}"
               [ngModel]="editingValue.name"
               matInput
               type="text">
        <mat-autocomplete #autocomplete="matAutocomplete"
                          (optionSelected)="mapsResultSelected($event.option.value)"
                          [displayWith]="displayGoogleMapsResult"
                          autoActiveFirstOption>
          <mat-option *ngFor="let result of googleMapsResults$ | async" [value]="result">
            <strong>{{ result.name }}</strong> - <span>{{ result.formatted_address }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="address-field">
        <mat-label>{{ 'oca.address' | translate }}</mat-label>
        <input #inputFieldModel="ngModel"
               (ngModelChange)="addressValueChanged($event)"
               [(ngModel)]="editingValue.value"
               [disabled]="editingValue.google_maps_place_id != null"
               [ngModelOptions]="{standalone: true}"
               matInput
               maxlength="200"
               required>
        <mat-error>{{ 'oca.this_field_is_required' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <button (click)="saveAddress()"
            class="save-button"
            mat-icon-button
            type="button">
      <mat-icon>save</mat-icon>
    </button>
  </div>
  <agm-map (mapReady)="onMapReady($event)"
           [fitBoundsPadding]="{top: 50, left: 50, bottom: 50, right: 50}"
           [fitBounds]="mapBounds"
           [latitude]="editingValue.coordinates?.lat || 50.4997341"
           [longitude]="editingValue.coordinates?.lon || 3.9057722"
           class="address-map">
    <agm-marker (markerClick)="mapsResultSelected(result)"
                *ngFor="let result of googleMapsResults$ | async"
                [latitude]="result.geometry.location.lat()"
                [longitude]="result.geometry.location.lng()"></agm-marker>
    <agm-marker *ngIf="editingValue.coordinates"
                [latitude]="editingValue.coordinates.lat" [longitude]="editingValue.coordinates.lon"></agm-marker>
  </agm-map>
</ng-template>
