<body class="ui-mobile-viewport ui-overlay-a">
    <div data-role="page" id="events" tabindex="0" class="ui-page ui-page-theme-a ui-page-active ui-page-header-fullscreen ui-page-footer-fullscreen">
        <div id="events-content" role="main" class="ui-content">
            <h2 id="events-empty" style="text-align: center; display: none;">{% translate language 'common' 'no_upcoming_events' %}</h2>
            <a id="broadcast-to-calendar" style="display: none;" href="#broadcast" onclick="" data-transition="slide" class="gotoBroadcast ui-btn ui-btn-icon-right ui-icon-mail">
                <p style="text-align: left; margin: 0em;">{% translate language 'common' 'Broadcast to calendar' %}</p>
            </a>
            <ul id="events-listview" data-role="listview" data-inset="true" style="margin-top: 0;margin-bottom: 4em;">
            </ul>
        </div>
        <div id="events-footer" style="display: none;" data-role="footer" data-position="fixed" data-fullscreen="true" data-tap-toggle="false" class="ui-footer ui-footer-fullscreen ui-bar-a ui-footer-fixed slideup">
            <a href="#calendars" style="left: 50%;margin-left: -50px;" class="gotoCalendar ui-btn ui-icon-gear ui-btn-icon-left ui-btn-inline ui-corner-all ui-mini" data-transition="slideup">{% translate language "common" "Calendars" %}</a>
        </div>
    </div>

    <div data-role="page" id="detail">
        <div data-role="header">
            <a href="#events" class="ui-btn-left ui-btn ui-icon-arrow-l ui-btn-icon-left ui-btn-inline ui-corner-all ui-mini ui-btn-icon-notext" data-role="button" role="button" data-transition="slide" data-direction="reverse"></a>
            <h1 class="event-detail-title"></h1>
            <a href="#event-remove-popup" style="display: none;" id="event-remove" data-rel="popup" data-position-to="window" class="events-remove ui-btn-right ui-btn ui-icon-delete ui-btn-icon-left ui-btn-inline ui-corner-all ui-mini ui-btn-icon-notext" data-role="button" role="button"></a>
        </div>
        <!-- /header -->
        <div data-role="content">
            <p class="event-detail-picture" style="margin-bottom: 2em; margin-top: 0;"><img style="width: 100%; height: auto;" alt="" /></p>
            <ul data-role="listview" style="margin-bottom: 1em;">
                <li><p class="event-detail-title" style="white-space:normal;"></p></li>
                <li class="event-detail-date"><p style="white-space:normal;"></p></li>
                <li class="event-detail-place"><p style="white-space:normal;"></p></li>
                <li class="event-detail-organizer"><p style="white-space:normal;"></p></li>
                <li class="event-detail-guests-loading" style="display: none;">
                    <div style="text-align: center;">
                        <img src="jquery/images/ajax-loader.gif" style="height: 20px;width: 20px;">
                        <p>{% translate language 'common' 'loading-guests' %}</p>
                    </div>
                </li>
                <li class="event-detail-guests" style="display: none;">
                    <div>
                        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                            <input type="radio" name="radio-choice-guests" id="radio-choice-guests-going" value="1">
                            <label style="text-align: center;" for="radio-choice-guests-going">{% translate language 'common' 'Going' %}</label>
                            <input type="radio" name="radio-choice-guests" id="radio-choice-guests-maybe" value="2">
                            <label style="text-align: center;" for="radio-choice-guests-maybe">{% translate language 'common' 'Maybe' %}</label>
                            <input type="radio" name="radio-choice-guests" id="radio-choice-guests-not-going" value="3">
                            <label style="text-align: center;" for="radio-choice-guests-not-going">{% translate language 'common' 'Not going' %}</label>
                        </fieldset>
                        <div class="ui-grid-b">
                            <div class="ui-block-a event-detail-guests-detail-going" onclick="" style="border-right: 1px solid #999;">
                                <div class="ui-body ui-body-d" style="text-align:center; font-size: 0.8em;">
                                    <span id="event-detail-guests-count-going"></span>
                                </div>
                            </div>
                            <div class="ui-block-b event-detail-guests-detail-maybe" onclick="" style="border-right: 1px solid #999;">
                                <div class="ui-body ui-body-d" style="text-align:center; font-size: 0.8em;">
                                    <span id="event-detail-guests-count-maybe"></span>
                                </div>
                            </div>
                            <div class="ui-block-c event-detail-guests-detail-not-going" onclick="">
                                <div class="ui-body ui-body-d" style="text-align:center; font-size: 0.8em;">
                                    <span id="event-detail-guests-count-not-going"></span>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-b">
                            <div class="ui-block-a event-detail-guests-detail-going" onclick="" style="border-right: 1px solid #999;">
                                <div class="ui-body ui-body-d" style="text-align:center; font-size: 0.8em;">{% translate language 'common' 'Going' %}</div>
                            </div>
                            <div class="ui-block-b event-detail-guests-detail-maybe" onclick="" style="border-right: 1px solid #999;">
                                <div class="ui-body ui-body-d" style="text-align:center; font-size: 0.8em;">{% translate language 'common' 'Maybe' %}</div>
                            </div>
                            <div class="ui-block-c event-detail-guests-detail-not-going" onclick="">
                                <div class="ui-body ui-body-d" style="text-align:center; font-size: 0.8em;">{% translate language 'common' 'Not going' %}</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="event-detail-description"><p style="white-space:normal;"></p></li>
                <li>
                    <div>
                        <a href="#" id="event-detail-read" class="ui-btn ui-corner-all">{% translate language "common" "read_more" %}</a>
                        <a href="#" id="event-detail-calendar" class="ui-btn ui-corner-all">{% translate language "common" "add_to_calender" %}</a>
                        <a href="#remind-me-popup" id="event-detail-remind" data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all">{% translate language "common" "events-reminder" %}</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /content -->
        <div data-role="popup" id="event-remove-popup" class="ui-content">
            <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="closeEventRemovePopup ui-btn-right"></a>
            <h3>{% translate language 'common' 'are-you-sure-you-want-to-remove-this-event' %}</h3>
            <a href="#events" delete="1" class="eventRemoveOptionSelector ui-btn ui-btn-b ui-corner-all" onclick="">{% translate language "common" "Yes" %}</a>
            <a href="#" delete="0" class="eventRemoveOptionSelector ui-btn ui-btn-b ui-corner-all" onclick="">{% translate language "common" "No" %}</a>
        </div>
        <div data-role="popup" id="remind-me-popup" class="ui-content">
            <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="closeRemindMePopup ui-btn-right"></a>
            <div id="remind-me-valid">
                <h3>{% translate language 'common' 'when_do_you_want_to_get_a_reminder' %}</h3>
                <a href="#" id="remind-me-popup-content-day" remindmeseconds="86400" class="remindOptionsSelector ui-btn ui-btn-b ui-corner-all" onclick="">{% translate language "common" "a_day_before" %}</a>
                <a href="#" id="remind-me-popup-content-4-hours" remindmeseconds="14400" class="remindOptionsSelector ui-btn ui-btn-b ui-corner-all" onclick="">{% translate language "common" "four_hours_before" %}</a>
                <a href="#" id="remind-me-popup-content-1-hour" remindmeseconds="3600" class="remindOptionsSelector ui-btn ui-btn-b ui-corner-all" onclick="">{% translate language "common" "an_hour_before" %}</a>
            </div>
            <div id="remind-me-invalid-time" style="display: none;">
                <h3>{% translate language 'common' 'the_event_is_about_to_start_to_late_to_remind_you' %}</h3>
            </div>
        </div>
        <div data-role="popup" id="dateselect-popup" class="ui-content">
            <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="closeDateSelectPopup ui-btn-right"></a>
            <div>
                <h3>{% translate language 'common' 'select_date' %}</h3>
                <div id="dateselect-popup-options">
                </div>
            </div>
        </div>
    </div>

    <div data-role="page" id="guests">
        <div data-role="header">
            <a href="#detail" class="ui-btn-left ui-btn ui-icon-arrow-l ui-btn-icon-left ui-btn-inline ui-corner-all ui-mini ui-btn-icon-notext" data-role="button" role="button" data-transition="slide" data-direction="reverse"></a>
            <h1>{% translate language 'common' 'Guests' %}</h1>
        </div>
        <!-- /header -->
        <div data-role="content" style="padding: 0;">
            <div data-role="tabs" id="guests-tabs">
              <div data-role="navbar">
                <ul>
                  <li><a id="guests-tab-going" href="#guests-tabs-going" data-ajax="false">{% translate language 'common' 'Going' %}</a></li>
                  <li><a id="guests-tab-maybe" href="#guests-tabs-maybe" data-ajax="false">{% translate language 'common' 'Maybe' %}</a></li>
                  <li><a id="guests-tab-not-going" href="#guests-tabs-not-going" data-ajax="false">{% translate language 'common' 'Not going' %}</a></li>
                </ul>
              </div>
              <div id="guests-tabs-going">
                <ul data-role="listview" data-inset="true">
                </ul>
              </div>
              <div id="guests-tabs-maybe">
                <ul data-role="listview" data-inset="true">
                </ul>
              </div>
              <div id="guests-tabs-not-going">
                <ul data-role="listview" data-inset="true">
                </ul>
              </div>
            </div>
        </div>
        <!-- /content -->
    </div>

    <div data-role="page" id="calendars">
        <div data-role="header">
            <a href="#events" class="calendar-dismiss ui-btn-left ui-btn ui-icon-delete ui-btn-icon-left ui-btn-inline ui-corner-all ui-mini ui-btn-icon-notext" data-role="button" role="button" data-transition="slidedown"></a>
            <h1>{% translate language "common" "Calendars" %}</h1>
            <a href="#events" class="calendar-save ui-btn-rigth ui-btn ui-icon-check ui-btn-icon-left ui-btn-inline ui-corner-all ui-mini ui-btn-icon-notext" data-role="button" role="button" data-transition="slidedown"></a>
        </div>
        <!-- /header -->
        <div data-role="content">
            <div class="ui-field-contain">
                <fieldset id="calendar-checkboxes" data-role="controlgroup">
                </fieldset>
           </div>
        </div>
        <!-- /content -->
    </div>

    <div data-role="page" id="broadcast">
        <div data-role="header">
            <a href="#events" class="ui-btn-left ui-btn ui-icon-arrow-l ui-btn-icon-left ui-btn-inline ui-corner-all ui-mini ui-btn-icon-notext" data-role="button" role="button" data-transition="slide" data-direction="reverse"></a>
            <h1>{% translate language 'common' 'Broadcast' %}</h1>
            <a href="#events" class="broadcast-send ui-btn-right ui-btn ui-icon-mail ui-btn-icon-left ui-btn-inline ui-corner-all ui-mini ui-btn-icon-notext" data-role="button" role="button" data-transition="slide" data-direction="reverse"></a>
        </div>
        <!-- /header -->
        <div data-role="content">
            <div class="ui-field-contain">
                <legend>{% translate language 'common' 'Select calendar' %}:</legend>
                <fieldset id="calendar-radiobuttons" data-role="controlgroup">
                </fieldset>
                <textarea cols="40" rows="10" name="textarea" id="broadcast-message" placeholder="{% translate language 'common' 'broadcast-enter-message' %}"></textarea>
            </div>
        </div>
        <!-- /content -->
    </div>
</body>
