<body class="ui-mobile-viewport ui-overlay-a">
    <div data-role="page" id="main" tabindex="0" class="ui-page ui-page-theme-a ui-page-active ui-page-header-fullscreen ui-page-footer-fullscreen">
        <div id="visits-content" role="main" class="ui-content">
            <div id="visits-card-holder" style="margin-top: 0;margin-bottom: 4em;">
            </div>
        </div>
    </div>

    <div data-role="page" id="price">
        <div data-role="header">
            <a href="#main" class="ui-btn-left ui-btn ui-icon-arrow-l ui-btn-icon-left ui-btn-inline ui-corner-all ui-mini ui-btn-icon-notext" data-role="button" role="button" data-transition="slidedown""></a>
            <h1>{% translate language "Price" %}</h1>
        </div>
        <!-- /header -->
        <div data-role="content">
            <ul data-role="listview" style="margin-bottom: 1em;">
                <li class="price-description"><p style="white-space:normal;"></p></li>
            </ul>
        </div>
        <!-- /content -->
    </div>
</body>
