<body class="ui-mobile-viewport ui-overlay-a">
    <div data-role="page" id="main" tabindex="0" class="ui-page ui-page-theme-a ui-page-active ui-page-header-fullscreen ui-page-footer-fullscreen">
        <div id="visits-content" role="main" class="ui-content">
            <ul id="visits-listview" data-role="listview" data-inset="true" style="margin-top: 0;margin-bottom: 4em;">
            </ul>
        </div>
        <div id="main-footer" data-role="footer" data-position="fixed" data-fullscreen="true" data-tap-toggle="false" class="ui-footer ui-footer-fullscreen ui-bar-a ui-footer-fixed slideup">
            <p id="visits-total" style="text-align: center;"></p>
        </div>
    </div>
</body>
