<body>
    <div id="header">
        <img id="logo" src="logo.jpg" />
    </div>
    <div id="message">
        <div id="nuntiuz_identity_name_holder"{% if not show_identity_name %} style="display: none"{% endif %}>
            <span><nuntiuz_identity_name/></span>
        </div>
        <div id="lottery">
            <div class="no_upcoming" style="display: none;">
                <h2 style="text-align: center;">{% translate language 'no_upcoming_lottery' %}</h2>
            </div>
            <div class="has_upcoming" style="display: none;">
                <h3>{% translate language 'End' %}</h3>
                <p id="lottery-end"></p>
                <h3>{% translate language 'What can you win' %}</h3>
                <p id="lottery-winnings"></p>
                <h3>{% translate language 'Chance' %}</h3>
                <p id="lottery-total">{% translate language 'loading-dot-dot-dot' %}</p>
            </div>
        </div>
    </div>
</body>
