Beste{% if name %} {{ name|escape }}{% endif %},

Dit is uw activatie code voor de {{ app.name }} app:

{{ pin }}

Ga terug naar de {{ app.name }} app op je toestel en vul de activatie code in om door te gaan.

Dank u wel om de {{ app.name }} app te gebruiken!

- Het {{ app.name }} Team
