<html><body>Beste{% if name %} {{ name|escape }}{% endif %},<br>
<br>
Dit is uw activatie code voor de {{ app.name }} app:<br>
<br>
<span style="font-size: xx-large;">{{ pin }}</span><br>
<br>
Ga terug naar de {{ app.name }} app op je toestel en vul de activatie code in om door te gaan.<br>
<br>
Dank u wel om de {{ app.name }} app te gebruiken!<br>
<br>
- Het {{ app.name }} Team<br>
</body></html>
