<html>
  <body>
    <p>{{ profile.name }} wil met u communiceren via een innovatieve smartphone app.</p>
    <p>
      <ul>
        <li>
          Stap 1. Installeer de {{ app.name }} app gratis:<br>
          <a href="{{ BASE_URL }}/install?a={{ app.app_id }}&email">{{ BASE_URL }}/install?a={{ app.app_id }}&email</a><br><br>
        </li>
        <li>
          Stap 2. Koppel met {{ profile.name }}:<br>
          <a href="{{ short_url }}{% if secret %}?s={{ secret }}{% endif %}">{{ short_url }}{% if secret %}?s={{ secret }}{% endif %}</a>
        </li>
      </ul>
    </p>
    <p>&nbsp;</p>
    {% if message %}
    <p>
      {{ profile.name }} voegde een persoonlijke boodschap toe aan deze uitnodiging:
    </p>
    <p style="background-color: #f0e68c; padding: 10px; margin-left: 20px; border-radius: 15px; margin-right: 20px; padding-left: 20px; -moz-border-radius: 15px;">
      {{ message }}
    </p>
    {% endif %}{% if consts.INCLUDE_ROGERTHAT_DOT_NET %}
    <p>
    Voor meer informatie over {{ app.name }} en andere producten gebaseerd op Rogerthat, bezoek:<br>
    <a href="http://www.rogerthat.net">http://www.rogerthat.net</a>
    </p>{% endif %}
  </body>
</html>
