{{ from_name }} raadt u aan om de mobiele dienstverlening van {{ service_name }} in gebruik te nemen in de {{ app_name }} klantendiensten app.

Stap 1. Installeer de {{ app_name }} app gratis:
{{ BASE_URL }}/install?a={{ app_id }}&email

Step 2. Voeg {{ service_name }} toe aan uw diensten:
{{ share_url }}

{% if consts.INCLUDE_ROGERTHAT_DOT_NET %}



Voor meer informatie over {{ app_name }} en andere producten gebaseerd op Rogerthat, bezoek:
http://www.rogerthat.net{% endif %}
