<h2>Green Valley</h2>
<p>{{ 'oca.form_integration_gv_explanation' | translate }}</p>

<mat-slide-toggle [(ngModel)]="configMapping[FormIntegrationProvider.GREEN_VALLEY].enabled"
                  (ngModelChange)="integrationToggled(FormIntegrationProvider.GREEN_VALLEY)">
  {{ 'oca.Enabled' | translate }}
</mat-slide-toggle>
<oca-form-integration-gv-config [configuration]="configMapping[FormIntegrationProvider.GREEN_VALLEY].configuration"
                                (configurationChanged)="updateConfiguration(configMapping[FormIntegrationProvider.GREEN_VALLEY], $event)"
                                *ngIf="configMapping[FormIntegrationProvider.GREEN_VALLEY].enabled"></oca-form-integration-gv-config>

<oca-form-integration-email-config (configurationChanged)="updateConfiguration(configMapping[FormIntegrationProvider.EMAIL], $event)"
                                   [configuration]="configMapping[FormIntegrationProvider.EMAIL].configuration"></oca-form-integration-email-config>
