<h2>Green Valley</h2>
<p>{{ 'oca.form_integration_gv_explanation' | translate }}</p>

<mat-slide-toggle [(ngModel)]="configMapping[FormIntegrationProvider.GREEN_VALLEY].enabled"
                  (ngModelChange)="integrationToggled(FormIntegrationProvider.GREEN_VALLEY)">
  {{ 'oca.Enabled' | translate }}
</mat-slide-toggle>

<h2>{{ 'oca.Email' | translate }}</h2>
<p>{{ 'oca.form_integration_email_explanation' | translate }}</p>
<mat-slide-toggle [(ngModel)]="configMapping[FormIntegrationProvider.EMAIL].enabled"
                  (ngModelChange)="integrationToggled(FormIntegrationProvider.EMAIL)">
  {{ 'oca.Enabled' | translate }}
</mat-slide-toggle>
<oca-form-integration-email-config (configurationChanged)="updateConfiguration(configMapping[FormIntegrationProvider.EMAIL], $event)"
                                   [configuration]="configMapping[FormIntegrationProvider.EMAIL].configuration"></oca-form-integration-email-config>
