<fieldset *ngIf="component">
  <mat-form-field *ngIf="readonlyIds && component.type !== FormComponentType.PARAGRAPH">
    <mat-label>{{ 'oca.identifier' | translate }}</mat-label>
    <input [name]="name + '_id'" matInput [(ngModel)]="component.id" (ngModelChange)="idChanged($event)"
           required #id="ngModel">
    <mat-error *ngIf="id.errors?.required">{{ 'oca.this_field_is_required' | translate }}</mat-error>
  </mat-form-field>
  <div class="title-field-container">
    <mat-form-field class="component-title">
      <mat-label>{{ (component.type === FormComponentType.PARAGRAPH ? 'oca.title' : 'oca.question') | translate }}</mat-label>
      <input [name]="name + '_title'" matInput [(ngModel)]="component.title" (ngModelChange)="titleChanged($event)"
             required #title="ngModel">
      <mat-error *ngIf="title.errors?.required">{{ 'oca.this_field_is_required' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-type-field">
      <mat-label>{{ 'oca.Type' | translate }}</mat-label>
      <mat-select #compType [name]="name + '_type'" [(ngModel)]="componentType"
                  (selectionChange)="componentTypeChanged($event)"
                  required>
        <mat-select-trigger>
          <mat-icon>{{ componentType.icon }}</mat-icon>
          {{ componentType.label | translate }}
        </mat-select-trigger>
        <mat-option *ngFor="let compType of COMPONENT_TYPES" [value]="compType">
          <mat-icon>{{ compType.icon }}</mat-icon>
          {{ compType.label | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="field" *ngIf="showDescription">
    <p>{{ 'oca.description' | translate }}</p>
    <div class="description-editor">
      <td-text-editor (ngModelChange)="changed()"
                      [(ngModel)]="component.description"
                      [name]="name + '_description'"
                      [options]="EASYMDE_OPTIONS"></td-text-editor>
    </div>
  </div>
  <ng-container [ngSwitch]="component.type">
    <ng-container *ngSwitchCase="FormComponentType.PARAGRAPH"></ng-container>
    <ng-container *ngSwitchCase="FormComponentType.TEXT_INPUT">
      <mat-form-field class="field">
        <mat-label>{{ 'oca.placeholder' | translate }}</mat-label>
        <input matInput [name]="name + '_placeholder'" [(ngModel)]="component.placeholder" (ngModelChange)="changed()">
      </mat-form-field>
      <div>
        <mat-slide-toggle [name]="name + '_multiline'" [(ngModel)]="component.multiline" (ngModelChange)="changed()">
          {{ 'oca.allow_multiple_lines' | translate }}
        </mat-slide-toggle>
      </div>
      <mat-form-field>
        <mat-label>{{ 'oca.keyboard_type' | translate }}</mat-label>
        <mat-select [(ngModel)]="component.keyboard_type" [name]="name + '_keyboard_type'"
                    (ngModelChange)="keyboardTypeChanged()">
          <mat-option *ngFor="let keyboardType of KEYBOARD_TYPES"
                      [value]="keyboardType.value">{{ keyboardType.label | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    <ng-container *ngSwitchCase="FormComponentType.SINGLE_SELECT">
      <oca-select-input-list [formId]="formId"
                             [name]="name + '_choices'"
                             [nextActions]="showNextActions ? nextActions : []"
                             [readonlyIds]="readonlyIds"
                             [(ngModel)]="component.choices"
                             (ngModelChange)="changed()"></oca-select-input-list>
    </ng-container>
    <ng-container *ngSwitchCase="FormComponentType.MULTI_SELECT">
      <oca-select-input-list [formId]="formId"
                             [name]="name + '_choices'"
                             [readonlyIds]="readonlyIds"
                             [(ngModel)]="component.choices"
                             (ngModelChange)="changed()"
                             multiple="true"></oca-select-input-list>
    </ng-container>
    <ng-container *ngSwitchCase="FormComponentType.LOCATION">
      <!-- There's nothing here, really-->
    </ng-container>
    <ng-container *ngSwitchCase="FormComponentType.DATETIME">
      <mat-form-field>
        <mat-label>{{ 'oca.format' | translate }}</mat-label>
        <mat-select [name]="name + '_format'" [(ngModel)]="component.format">
          <mat-option *ngFor="let dateFormat of DATE_FORMATS" [value]="dateFormat.value">
            {{ dateFormat.label | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    <ng-container *ngSwitchCase="FormComponentType.FILE">
      <mat-form-field class="file-type-field">
        <mat-label>{{ 'oca.allow_only_specific_file_types' | translate }}</mat-label>
        <mat-select [name]="name+ '_file_types'" multiple [(ngModel)]="component.file_types"
                    (ngModelChange)="changed()">
          <mat-option *ngFor="let option of FILE_TYPES" [value]="option.value">
            {{ option.label | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="showValidators">
    <oca-form-validators [name]="name + '_validators'"
                         [validatorTypes]="validatorTypes"
                         [(ngModel)]="component.validators"
                         (ngModelChange)="changed()"></oca-form-validators>
  </ng-container>
  <p *ngIf="component.sensitive"><b>{{ 'oca.sensitive_information_info' | translate }}</b></p>
  <mat-divider></mat-divider>
  <div class="icons-row">
    <button type="button" mat-icon-button (click)="removeComponent.emit(component)">
      <mat-icon>delete</mat-icon>
    </button>
    <mat-slide-toggle [(ngModel)]="isRequired" (ngModelChange)="setRequired()" [ngModelOptions]="{standalone: true}"
                      *ngIf="showRequired">
      {{ 'oca.required' | translate }}
    </mat-slide-toggle>
    <button type="button" mat-icon-button [matMenuTriggerFor]="optionsMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <mat-menu #optionsMenu="matMenu">
    <ng-template matMenuContent>
      <button type="button" mat-menu-item *ngFor="let item of optionsMenuItems" role="menuitemcheckbox"
              (click)="menuOptionClicked(item)">
        <mat-icon *ngIf="item.checked">check</mat-icon>
        <span>{{ item.label | translate}}</span>
      </button>
    </ng-template>
  </mat-menu>
</fieldset>
