<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'app.oca.appointments' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="appointments$ | async as appointments">
    <app-appointment-card (addToCalendarClicked)="addToCalendar($event)"
                          (cancelClicked)="cancelAppointment($event)"
                          *ngFor="let appointment of appointments.upcoming"
                          [appointment]="appointment">
    </app-appointment-card>
    <p *ngIf="showNoResults$ | async" class="ion-padding">
      {{ 'app.oca.no_upcoming_appointments_yet' | translate }}
    </p>
    <ng-container *ngIf="appointments.past.length > 0">
      <h2 class="ion-padding">{{ 'app.oca.former_appointments' | translate }}</h2>
      <app-appointment-card *ngFor="let appointment of appointments.past"
                            [appointment]="appointment">
      </app-appointment-card>
    </ng-container>
  </ng-container>
  <div *ngIf="isLoading$ | async" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button routerLink="/q-matic/new-appointment">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
