</br>
<table>
    <tr>
        <td style="background-color: #5bc4bf;border-color: #4c5764;border: 2px solid #45b7af;padding: 10px;text-align: center;">
            <a style="display: block;color: #ffffff;font-size: 16px;text-decoration: none;text-transform: uppercase;" href="{{ link }}">
                <b>{{ link_text }}</b>
            </a>
        </td>
    </tr>
</table>
<br/>
