<!DOCTYPE html>
<html>
<body>
<div style="padding: 0; margin:0 auto; line-height: 100%; overflow: hidden;">
    <img style="width: 100%;" src="cid:osa-footer"/>
    <div
        style="line-height: 130%; padding: 1em; font-size: 14px; font-family: Arial;">
        <p> {{ if_email_body_1 }} </p>
        {% if if_email_body_2 %}
        <p>{{ if_email_body_2 }}</p>
        <p>{{ if_email_body_3_button }}</p>
        {% endif %}
    </div>
    <div style="line-height: 130%;">
        <br><br>
    {{if_email_footer_1}}<br><br>
    {{if_email_footer_2}}<br>
    {{if_email_footer_3}}<br>
    {{if_email_footer_4}}<br>
    {{if_email_footer_5}}<br>
    {{if_email_footer_6}}<br>
    </div>
</div>
</body>
</html>
