{{ if_email_body_1 }}
{% if if_email_body_2 %}
{{ if_email_body_2 }}
{{ if_email_body_3_url }}
{% endif %}

--------------------

{{ if_email_footer_1 }}

{{ if_email_footer_2 }}
{{ if_email_footer_3 }}
{{ if_email_footer_4 }}
{{ if_email_footer_5 }}
{{ if_email_footer_6 }}
