{% translate language, 'dear_name', 'name=' + profile.name %},

{{ message }} ({{ sln_settings.name }})
{%if lottery_winner_info %}{{ lottery_winner_info }}
{% endif %}

{{ install_info }}
{% if unsubscribe_info %}

{{ unsubscribe_info }}{% endif %}

{% translate language, 'Kind regards' %},

{{ team }}.
