{% translate language, 'common', 'dear_name', 'name=' + user_name %},

{% translate language, 'common', 'you_have_been_granted_permission_to_service', 'service=' + service_name %}
{% translate language, 'common', 'login_using_email_x_after_resetting_pw', 'email=' + user_email %}

{{ link }}

{% translate language, 'common', 'Kind regards' %},
{% translate language, 'common', 'the_our_city_app_team' %}
