{% translate language, "dear_name", "name=" + name %},

{% translate language, "signup_verify_your_email" %}
{% translate language, "please_open_the_following_link" %}

{{ link }}

{% translate language, "link_expires_in_3_days" %}
