{% translate language, "dear_name", "name=" + name %},<br/><br/>

{% translate language, "signup_verify_your_email" %} <br/>

{% include 'emails/button_link.tmpl' %}

{% translate language, "link_expires_in_3_days" %}
