{% translate language, "common", "dear_name", "name=" + name %},<br/><br/>

{% translate language, "common", "signup_verify_your_email" %} <br/>

{% include 'emails/button_link.tmpl' %}

{% translate language, "common", "link_expires_in_3_days" %}
