{% translate language, "common", "dear_name", "name=" + name %},<br/>

{% translate language, "common", "signup_verify_your_email" %} <br/>

{% include 'emails/button_link.tmpl' %}

{% translate language, "common", "link_is_valid_within_24_hours" %}
