:host {
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
}

.radio-button, .checkbox {
  margin: 5px 0;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
}

agm-map {
  height: 300px;
}

.component-value {
  display: flex;
  flex-direction: column;
}

.response-content {
  margin: 0 auto;
  max-width: 640px;
  min-width: 320px;
}

.section-toolbar {
  height: 48px;
  border-radius: 8px;
}

.section-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.component-card {
  margin: 16px 0;
}

.p-padding {
  margin: 0 8px;
}

.icons-row {
  flex-grow: 1;
}

.integration-block {
  margin: 0 16px;
}
