<oca-loadable [loadable]="projects$ | async">
  <mat-nav-list *ngIf="(projects$ | async).data as projects">
    <a *ngFor="let project of projects" [routerLink]="[project.id]" mat-list-item>
      <h4 matLine>{{ project.title }}</h4>
      <p *ngIf="project.end_date" matLine>
        {{ 'oca.ends_on_date' | translate : {date: project.end_date | date} }}
      </p>
    </a>
  </mat-nav-list>
  <div *ngIf="hasNoProjects$ | async" class="page-margin">
    <p>{{ 'oca.no_participation_projects_yet' | translate }}</p>
    <div>
      <a mat-raised-button routerLink="create">
        {{ 'oca.create_participation_project' | translate }}
      </a>
    </div>
  </div>
</oca-loadable>

<div class="fab-bottom-right">
  <a mat-fab routerLink="create" type="button">
    <mat-icon>add</mat-icon>
  </a>
</div>
