<ng-container *ngIf="providerMapping[FormIntegrationProvider.GREEN_VALLEY].visible">
  <mat-slide-toggle name="gv_enabled"
                    [(ngModel)]="providerMapping[FormIntegrationProvider.GREEN_VALLEY].enabled"
                    (ngModelChange)="toggleIntegration(FormIntegrationProvider.GREEN_VALLEY)">
    Green Valley
  </mat-slide-toggle>

  <div *ngIf="providerMapping[FormIntegrationProvider.GREEN_VALLEY].enabled">
    <oca-form-integration-gv
      [configuration]="providerMapping[FormIntegrationProvider.GREEN_VALLEY].integration.configuration"
      [sections]="sections"
      (configurationChanged)="updateIntegration(providerMapping[FormIntegrationProvider.GREEN_VALLEY].integration, $event)"></oca-form-integration-gv>
  </div>

</ng-container>
<ng-container *ngIf="providerMapping[FormIntegrationProvider.EMAIL].visible">
    <mat-slide-toggle name="email_enabled"
                    [(ngModel)]="providerMapping[FormIntegrationProvider.EMAIL].enabled"
                    (ngModelChange)="toggleIntegration(FormIntegrationProvider.EMAIL)">
    {{ 'oca.Email' | translate }}
  </mat-slide-toggle>
  <p>{{ 'oca.form_email_integration_info' | translate }}</p>
  <div *ngIf="providerMapping[FormIntegrationProvider.EMAIL].enabled">
    <oca-form-integration-email
      [configuration]="providerMapping[FormIntegrationProvider.EMAIL].integration.configuration"
      [sections]="sections"
      (configurationChanged)="updateIntegration(providerMapping[FormIntegrationProvider.EMAIL].integration, $event)"></oca-form-integration-email>
  </div>
</ng-container>
