<article class="news_preview">
  <div class="news_title">
    <div class="avatar">
      <img [src]="avatarUrl">
    </div>
    <div class="news_title_user_info">
      <h3 *ngIf="type === NewsItemType.NORMAL">{{ title }}</h3>
      <span class="info_line">
        <span class="user_info">{{ name }}</span>
        <span class="date">{{ date | date : 'short' }}</span>
      </span>
    </div>
  </div>
  <div [innerHTML]="message | markdown : {breaks: true}" class="news_content"></div>
  <div *ngIf="type == NewsItemType.QR_CODE" class="news_qr">
    <img src="/static/images/solutions/flex/news_sample_qr.png">
    <p>{{ qrCodeCaption }}</p>
  </div>
  <div class="news_image_container">
    <div *ngIf="media" class="news_image">
      <ng-container [ngSwitch]="media.type">
        <img [src]="media.content" *ngSwitchCase="MediaType.IMAGE">
        <ng-container *ngSwitchCase="MediaType.YOUTUBE_VIDEO">
          <youtube-player [height]="203" [videoId]="media.content" [width]="360"></youtube-player>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="news_bottom_row">
    <span class="news_button ">{{ 'oca.like' | translate }}</span>
    <span class="news_button ">{{ 'oca.follow' | translate }}</span>
    <span *ngIf="actionButton" class="news_button news_button_action">
      {{ actionButton.caption }}
    </span>
  </div>
</article>
