<div (cdkDropListDropped)="itemDropped($event)"
     cdkDropList
     cdkDropListOrientation="horizontal"
     [cdkDropListDisabled]="disabled"
     class="media-list">
  <div *ngIf="placeholderUrl" class="media-item add-media-item">
    <img [src]="placeholderUrl" alt="Placeholder" class="media-image">
    <button (click)="mediaSelector.showImageDialog()" [disabled]="disabled" class="add-button" color="primary" mat-mini-fab
            type="button">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngFor="let mediaItem of mediaItems" cdkDrag class="media-item">
    <ng-container [ngSwitch]="mediaItem.item.type">
      <ng-container *ngSwitchCase="MediaType.YOUTUBE_VIDEO">
        <a [href]="'https://youtu.be/' + mediaItem.item.content" target="_blank">
          <img [src]="'https://img.youtube.com/vi/' +  mediaItem.item.content + '/hqdefault.jpg'"
               alt="Video thumbnail"
               class="media-image">
          <img alt="YouTube" class="youtube-play-btn" src="/static/images/youtube_social_icon_red.png">
        </a>
      </ng-container>
      <ng-container *ngSwitchCase="MediaType.IMAGE">
        <img [src]="mediaItem.item.content" alt="Image" class="media-image">
      </ng-container>
    </ng-container>
    <button (click)="removeMedia(mediaItem)" [disabled]="disabled" class="btn-media-delete" mat-mini-fab type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<button (click)="mediaSelector.showImageDialog()" [disabled]="disabled" mat-stroked-button type="button">
  {{ 'oca.add_media' | translate }}
</button>
<oca-media-selector (ngModelChange)="addMediaItem($event)"
                    [allowedMediaTypes]="allowedMediaTypes"
                    [ngModelOptions]="{standalone: true}"
                    [disabled]="disabled"
                    #mediaSelector
                    class="hide-selector"
                    [ngModel]="newMedia"></oca-media-selector>
