<div id="{{container_id}}" class="span-18 last">
	<script type="text/javascript" src="/static/js/message_query.js"></script>
	<script type="text/javascript">
		mctracker.registerLoadCallback("{{container_id}}", Consultamensagemescrita("{{container_id}}", "{{query_type}}", "{{query_param}}"));
	</script>
	<div class="top"></div>
	<div class="bottom"><a class="older_messages action-link">mensagens antigas</a></div>
</div> 
