.voucher-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gradient-container {
  // -1 px to mostly avoid jagged edge
  background: linear-gradient(to top left, transparent calc(50% - 1px), var(--ion-color-primary) 50%);
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  width: 100%;
}

.logo {
  width: 128px;
  height: 128px;
  margin-top: 32px;
}

.intro-title {
  text-align: center;
  margin: 32px;
}

.intro-description {
  margin: 16px 32px;
}

.intro-cirklo-icon {
  width: 92px;
  height: 92px;
  color: var(--cirklo-color);
  margin: 32px;
}
