<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  <mat-tab-group [selectedIndex]="selectedTabIndex">
    <mat-tab [label]="'oca.upload_image' | translate">
      <button mat-button (click)="fileElement.click()"
              class="choose-button">{{ 'oca.choose_image' | translate }}</button>
      <input type="file"
             class="hidden-file-input"
             [accept]="data.accept"
             (change)="onFileSelected($event)"
             #fileElement>
      <oca-image-cropper [imageUrl]="selectedImageUrl" [cropperOptions]="data.cropOptions"
                         *ngIf="selectedImageUrl"></oca-image-cropper>
      <div *ngIf="showProgress">
        <span *ngIf="progressMode === 'determinate'">{{ 'oca.uploading' | translate }}</span>
        <mat-progress-bar [value]="uploadPercent" [mode]="progressMode"></mat-progress-bar>
      </div>
      <p *ngIf="uploadError">{{ uploadError }}</p>
    </mat-tab>
    <mat-tab [label]="'oca.previously_upload_images' | translate">
      <div class="uploaded-image" *ngFor="let image of images$ | async">
        <div class="image-container" matRipple>
          <img [src]="image.url" (click)="imagePicked(image)">
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button matDialogClose [disabled]="showProgress">{{ 'oca.cancel' | translate }}</button>
  <button mat-button (click)="save()" color="primary" [disabled]="showProgress">{{ 'oca.save' | translate }}</button>
</mat-dialog-actions>
