<!DOCTYPE html>
<html>
<head>
<title>OSA Launcher</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google" value="notranslate" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<!-- Bootstrap -->
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">


<style type="text/css">
body {
	margin: 10px;
}
</style>

<script src="/static/js/jquery-1.10.0.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.tmpl.min.js"></script>

<script type="text/javascript">

    $(function() {
        {% if app %}
            $("#update_app_id_hidden").val("{{ app.app_id }}");
        {% endif %}
        
        $('button[action="submit"]').click(function() {
            if ($("#update_app_id").val() == "") {
                alert("ID is a required argument");
                return;
            }
            
            if ($("#update_version_code").val() == "") {
                alert("VersionCode is a required argument");
                return;
            }
            
            if (!$("#update_package").val()) {
                alert("APK is a required argument");
                return;
            }
            $("#update_upload").submit();
        });
    });
    </script>
</head>
<body>
    <div>
       <h2><a href="/mobiadmin/osa/launcher/apps">Apps</a> - {% if app %} {{ app.app_id }}{% else %}New App{% endif %}</h2>
    </div>
	<form id="update_upload" method="post" enctype="multipart/form-data" action="{{ upload_url }}">
		<b>ID</b><br>
		<input type="hidden" name="app_id_hidden" id="update_app_id_hidden" class="span4" >
		<input type="text" name="app_id" value="{% if app %}{{ app.app_id }}{% endif %}" id="update_app_id" class="span4" {% if app %}disabled{% endif %}><br>
		<b>VersionCode</b><br>
		<input type="text" name="version_code" value="{% if app %}{{ app.version_code }}{% endif %}" id="update_version_code" class="span4"><br>
		<b>APK:</b><br />
		<input id="update_package" type="file" name="package" accept="*.apk" /><br>
	</form>
	<button action="submit" class="btn btn-primary">Submit</button>
</body>
</html>
