<mat-list (cdkDropListDropped)="moveRow($event)" [cdkDropListDisabled]="editingRowIndex !== -1" cdkDropList>
  <ng-container *ngFor="let row of formArray.value; let rowIndex = index">
    <mat-list-item *ngIf="editingRowIndex !== rowIndex; else editRowTemplate" cdkDrag>
      <p matLine>{{ rowNames[row.type] }} row</p>
      <p [ngSwitch]="row.type" matLine>
        <ng-container *ngSwitchCase="ROW_TEXT">{{ translationsMapping[row.title] || row.title }}</ng-container>
        <ng-container *ngSwitchCase="ROW_LIST">{{ row.items.length }} items</ng-container>
        <ng-container *ngSwitchCase="ROW_NEWS">
          <ng-container *ngIf="row.filter.group_type">{{ row.filter.group_type }} -</ng-container>
          Limit: {{ row.limit }}</ng-container>
        <ng-container *ngSwitchCase="ROW_NEWS_ITEM">Featured news item</ng-container>
      </p>
      <button (click)="editRow(row, rowIndex)" *ngIf="editingRowIndex === -1" mat-icon-button type="button">
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="deleteRow(rowIndex)" mat-icon-button type="button">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-list *cdkDragPreview>
        <mat-list-item>{{ rowNames[row.type] }}</mat-list-item>
      </mat-list>
    </mat-list-item>
  </ng-container>
</mat-list>
<button (click)="addRow()" *ngIf="editingRowIndex === -1" mat-stroked-button type="button">Add row...</button>


<ng-template #editRowTemplate>
  <div [formGroup]="editingRow" [ngSwitch]="editingRow.controls.type.value" class="row-form">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select [formControl]="editingRowType" required>
        <mat-option *ngFor="let rowType of rowTypes" [value]="rowType.value">{{ rowType.label }}</mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container *ngSwitchCase="ROW_TEXT">
      <rcc-home-screen-translation-select (addTranslation)="addTranslation.emit()"
                                          [control]="editingRow.controls.title"
                                          [required]="false"
                                          [translations]="translations"
                                          label="Title"></rcc-home-screen-translation-select>
      <rcc-home-screen-translation-select (addTranslation)="addTranslation.emit()"
                                          [control]="editingRow.controls.description"
                                          [required]="false"
                                          [translations]="translations"
                                          label="Description"></rcc-home-screen-translation-select>
    </ng-container>
    <ng-container *ngSwitchCase="ROW_NEWS">
      <mat-form-field>
        <mat-label>Limit</mat-label>
        <input formControlName="limit" matInput max="20" min="0" required type="number">
      </mat-form-field>
      <h5>Filter</h5>
      <ng-container formGroupName="filter">
        <mat-form-field>
          <mat-label>News stream</mat-label>
          <mat-select formControlName="group_id" required>
            <mat-option *ngFor="let group of newsGroups" [value]="group.group_id">{{ group.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Group type</mat-label>
          <mat-select formControlName="group_type">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let groupType of newsGroupTypes" [value]="groupType.type">
              {{ groupType.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Search query</mat-label>
          <input formControlName="search_string" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Service</mat-label>
          <input formControlName="service_identity_email" matInput>
          <mat-error>This must be a service identity email</mat-error>
        </mat-form-field>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="ROW_NEWS_ITEM">
      <mat-form-field>
        <mat-label>News stream</mat-label>
        <mat-select formControlName="group_id" required>
          <mat-option *ngFor="let group of newsGroups" [value]="group.group_id">{{ group.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    <ng-container *ngSwitchCase="ROW_LIST">
      <mat-form-field>
        <mat-label>Style</mat-label>
        <mat-select formControlName="style" required>
          <mat-option *ngFor="let style of listSectionStyles" [value]="style.value">{{ style.label }}</mat-option>
        </mat-select>
      </mat-form-field>
      <rcc-edit-list-item-template (addTranslation)="addTranslation.emit()"
                                   [formArray]="editingRow.controls.items"
                                   [itemTypes]="listItemTypes$ | async"
                                   [translationsMapping]="translationsMapping"
                                   [translations]="translations"></rcc-edit-list-item-template>
    </ng-container>
    <button (click)="saveRow()" mat-stroked-button type="button">Save row</button>
  </div>
</ng-template>
