<div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="select_app_modal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="select_app_modal">Select App</h3>
    </div>
    <div class="modal-body" style="overflow-y: visible; max-height: 100%">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">App</label>
                <div class="controls">
                    <select id="app_select">
                        {{each(i, app) apps}}
                        <option value="${app.id}" {{if selectedApp === app.id}}selected{{/if}}>${app.name}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button action="cancel" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button action="submit" class="btn btn-primary">Export</button>
    </div>
</div>
