<tr class="charge-row" id='charge-${charge.id}'>
<td>${charge.full_date_str}</td>
<td>${charge.last_notification_date_str}{{if charge.structured_info}}<br>${charge.structured_info}{{/if}}</td>
    <td>{{if !charge.is_recurrent}}Order{{else}}Recurring subscription{{/if}}</td>
    <td><a href="#charge-customer-${customer.id}"
           open-customer-popup="${customer.id}">${customer.name}</a>
        {{if admin}}<br>${charge.manager}{{/if}}
    </td>
    <td>
        ${charge.currency} ${charge.total_amount_formatted}
        {{if charge.amount_paid_in_advance}}
        <br>(${charge.currency} ${charge.amount_paid_in_advance_formatted} paid in adv.)
        {{/if}}
    </td>
<td>
    <div class="btn-group btn-group-payment">
        {{if !charge.paid}}
        <a class="btn {{if charge.status == 1}}btn-danger{{else}}btn-primary{{/if}} dropdown-toggle"
           data-toggle="dropdown" href="#">
            <i class="icon-shopping-cart icon-white"></i> Payment <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{if !is_reseller}}
                <li>
                <a class="start-on-site-payment"
                   customer_id="${charge.customer_id}"
                   customer_name="${customer.name}"
                   customer_user_email="${customer.user_email}"
                   order_number="${charge.order_number}"
                   charge_id="${charge.id}"
                   charge_amount="${charge.amount}"
                   charge_reference="${charge.reference}"
                   href="#">On site payment</a>
            </li>
            <li class="divider"></li>
            {{/if}}
            {{if admin || is_reseller}}
            <li>
                <a class="send-payment-info"
                    customer_id="${charge.customer_id}"
                    order_number="${charge.order_number}"
                    charge_id="${charge.id}"
                    href="#">Send payment info</a>
            </li>
            <li>
                <a class="set-po-number"
                    customer_id="${charge.customer_id}"
                    order_number="${charge.order_number}"
                    charge_id="${charge.id}"
                    customer_po_number="{{if charge.customer_po_number}}${charge.customer_po_number}{{/if}}"
                    href="#">{{if charge.customer_po_number}}Change{{else}}Set{{/if}} PO number</a>
            </li>
        {{/if}}
        {{if payment_admin || is_reseller}}
            <li class="divider"></li>
            <li>
                <a class="payment-in-advance"
                   customer_id="${charge.customer_id}"
                   order_number="${charge.order_number}"
                   charge_id="${charge.id}"
                   charge_amount="${charge.amount}"
                   charge_amount_paid_in_advance="${charge.amount_paid_in_advance}"
                   href="#"><i class="icon-adjust"></i> Set advanced payment</a>
            </li>
            <li>
                <a class="manual-payment"
                   customer_id="${charge.customer_id}"
                   order_number="${charge.order_number}"
                   charge_id="${charge.id}"
                   paid="true"
                   customer_name="${customer.name}"
                   structured_info="${charge.structured_info}"
                   href="#"><i class="icon-thumbs-up"></i> Paid</a>
            </li>
            <li>
                <a class="manual-payment"
                   customer_id="${charge.customer_id}"
                   order_number="${charge.order_number}"
                   charge_id="${charge.id}"
                   paid="false"
                   customer_name="${customer.name}"
                   structured_info="${charge.structured_info}"
                   href="#"><i class="icon-gift"></i> Send invoice</a>
            </li>
    {{if !charge.invoice_number}}
        <li class="divider"></li>
        <li><a href="#"
               class="cancel-charge"
               customer_id="${charge.customer_id}"
               order_number="${charge.order_number}"
               charge_id="${charge.id}"><i class="fa fa-remove"></i> Cancel</a>
        </li>
    {{/if}}
{{/if}}
        </ul>
        {{/if}}
    </div>
    <div class="btn-group">
        <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-eye-open icon-white"></i> View <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a
                    class="view-order"
                    customer_id="${charge.customer_id}"
                    order_number="${charge.order_number}"
                    invoice_number="${charge.invoice_number}"
                    order_status="1"
                    href="#">Order</a>
            </li>
            <li>
                <a class="show_invoice"
                   href="/internal/shop/invoice/pdf?customer_id=${charge.customer_id}&order_number=${charge.order_number}&charge_id=${charge.id}&invoice_number=${charge.invoice_number}"
                   target="_blank">Invoice</a>
            </li>
        </ul>
    </div>
    {{if customer.service_email}}
    <a class="btn open-service"
       href="${customer.auto_login_url}" target="_blank"><i class="fa fa-dashboard"></i> Open</a>
    {{/if}}
</td>
