{{each(i, prospect) prospects}}
{{if FILTERED_STATUS_TYPES.indexOf(prospect.status) !== -1}}
<tr data-prospect-id="${prospect.id}" class="prospect-status${prospect.status}" style="cursor: pointer;">
    <td data-field="status">
        <div class="text-center">
            <img src="${getMarkerIcon(prospect.status)}" style="max-height: 25px;"/>
        </div>
    </td>
    <td data-field="name">${prospect.name}</td>
    <td data-field="address">${prospect.address}</td>
    <td data-field="phone">
        <a href="tel:${prospect.phone}" target="_blank">${prospect.phone ? prospect.phone.replace('+', '00') : ''}</a>
    </td>
    <td data-field="comments">
        <ul>
            {{each(i, comment) prospect.comments}}
            <li>${htmlize(comment.text)}</li>
            {{/each}}
        </ul>
    </td>
</tr>
{{/if}}
{{/each}}
