{{if history.length}}
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <td><b>Assignee</b></td>
        <td><b>Type</b></td>
        <td><b>Created on</b></td>
        <td><b>Closed on</b></td>
    </tr>
    </thead>
    <tbody>
    {{each(i, h) history}}
    <tr>
        <td>${h.manager}</td>
        <td><i class="fa ${h.type_icon}"></i> ${h.type_str}</td>
        <td>${h.created}</td>
        <td>${h.closed}</td>
    </tr>
    {{/each}}
    </tbody>
</table>
{{else}}
<div><p>No tasks found yet for this prospect.</p></div>
{{/if}}