{{if unassigned_regio_managers.length > 0 }}
    <table id="regio-managers-table" class="table table-striped table-hover table-bordered">
        <thead>
            <tr style="background-color: #f3e1f5;">
                <th colspan="6">Unassigned regio managers</th>
            </tr>
            <tr>
                <th width="20%">Name</th>
                <th width="75%">Apps</th>
                <th width="5%">Actions</th>
            </tr>
        </thead>
        <tbody>
{{each(i, regio_manager) unassigned_regio_managers}}
            <tr style="cursor: pointer;" data-regio-manager-email="${regio_manager.email}">
                <td>${regio_manager.name}</td>
                <td>
                    ${regio_manager.app_ids.join(", ")}
    {{if regio_manager.read_only_app_ids.length}}
        {{if regio_manager.app_ids.length}}
                    <br>
        {{/if}}
                    <span style="color: gray;">Read-only: ${regio_manager.read_only_app_ids.join(", ")}</span>
    {{/if}}
                </td>
                <td class="text-center">
                    <a class="btn edit-regio-manager" href="#"><i class="icon-edit"></i></a>
                </td>
            </tr>
{{/each}}
        </tbody>
    </table>
{{/if}}
{{each(i, team) teams}}
    <table id="regio-managers-teams-table" class="table table-striped table-hover table-condensed table-bordered">
        <thead>
            <tr class="team-edit" style="background-color: ${team.color}; cursor: pointer;" data-regio-manager-team-id="${team.id}">
                <th colspan="6">${team.name}</th>
            </tr>
            <tr>
                <th width="20%">Name</th>
                <th width="75%">Apps</th>
                <th width="5%">Actions</th>
            </tr>
        </thead>
        <tbody>
{{each(j, regio_manager) team.regio_managers}}
            <tr style="cursor: pointer;" data-regio-manager-email="${regio_manager.email}">
                <td>${regio_manager.name}</td>
                <td>
                    ${regio_manager.app_ids.join(", ")}
    {{if regio_manager.read_only_app_ids.length}}
        {{if regio_manager.app_ids.length}}
                    <br>
        {{/if}}
                    <span style="color: gray;">Read-only: ${regio_manager.read_only_app_ids.join(", ")}</span>
    {{/if}}
                </td>
                <td class="text-center">
                    <a class="btn edit-regio-manager" href="#"><i class="icon-edit"></i></a>
                </td>
            </tr>
{{/each}}
        </tbody>
    </table>
{{/each}}