<form (ngSubmit)="submit(form)" #form="ngForm" *ngIf="app?.id" class="default-component-margin-full"
      fxLayout="column" fxFlex="30" fxFlex.md="50" fxFlex.sm="100">
  <div class="form-row">
    <mat-slide-toggle name="demo" [(ngModel)]="app.demo">{{ 'rcc.demo_app' | translate }}</mat-slide-toggle>
  </div>
  <mat-form-field>
    <input matInput name="android_app_id"
           [placeholder]="'rcc.android_app_id' | translate"
           [(ngModel)]="app.android_app_id"
           disabled>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="ios_app_id"
           [placeholder]="'rcc.ios_app_id' | translate"
           [(ngModel)]="app.ios_app_id">
  </mat-form-field>
  <mat-form-field>
    <input matInput name="contact_email_address" type="email"
           [placeholder]="'rcc.contact_email_address' | translate"
           [email]="!!app.contact_email_address"
           [(ngModel)]="app.contact_email_address"
           #contactMail="ngModel">
    <mat-error *ngIf="contactMail.errors?.email">{{ 'rcc.invalid_email_address' | translate }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="dashboard_email_address"
           [placeholder]="'rcc.dashboard_email_address' | translate"
           [email]="!!app.dashboard_email_address"
           [(ngModel)]="app.dashboard_email_address"
           #dashboardMail="ngModel">
    <mat-error *ngIf="dashboardMail.errors?.email">{{ 'rcc.invalid_email_address' | translate }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput matTextareaAutosize name="user_regex"
              [placeholder]="'rcc.username_regexes' | translate"
              [(ngModel)]="app.user_regex"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Service search type</mat-label>
    <mat-select name="service_filter_type" [(ngModel)]="app.service_filter_type" required>
      <mat-option *ngFor="let filter of appServiceFilters" [value]="filter.value">{{ filter.label }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Communities</mat-label>
    <mat-select name="community_ids" multiple [(ngModel)]="app.community_ids" required>
      <mat-option *ngFor="let community of communities" [value]="community.id">{{ community.name }}</mat-option>
    </mat-select>
    <mat-hint>Users will only be able to choose these communities in the app.</mat-hint>
  </mat-form-field>
  <h3>{{ 'rcc.admin_services' | translate }}</h3>
  <p>{{ 'rcc.admin_services_explanation' | translate }}</p>
  <rcc-admin-services [(ngModel)]="app.admin_services"
                      [ngModelOptions]="{standalone:true}"></rcc-admin-services>

  <rcc-api-request-status [status]="status"></rcc-api-request-status>
  <button mat-button mat-raised-button color="primary" [disabled]="!form.form.valid">
    {{ 'rcc.save' | translate }}
  </button>
</form>

