<rcc-api-request-status [status]="status"></rcc-api-request-status>
<div *ngIf="newsSettings">
  <mat-card class="image-card" *ngFor="let group of newsSettings.groups">
    <mat-card-header>
      <mat-card-title>{{ group.name }}</mat-card-title>
    </mat-card-header>
    <div fxLayoutAlign="center center" class="image-container" *ngIf="group.tile && group.tile.background_image_url">
      <img [src]="[group.tile.background_image_url]">
    </div>
    <mat-card-actions fxLayoutAlign="space-between center" fxLayout="row">
      <a [routerLink]="[group.group_id]" mat-button color="primary">{{ 'rcc.edit' | translate }}</a>
    </mat-card-actions>
  </mat-card>
</div>
