<h2>{% translate language, 'common', 'news_and_tips' %}</h2>
{% raw %}
<div id="dashboard-news">
    {{each(i, article) news}}
    <article class="news-article">
        <h4>${article.title}</h4>
        <p><i>${article.creation_time}</i></p>
        <div class="article-media">
            {{if article.media_type === 1}}
            <div class="youtube-container">
                <div class="youtube-player" data-yt-id="${article.media}">
                    <img class="youtube-thumb" src="https://img.youtube.com/vi/${article.media}/maxresdefault.jpg">
                    <div class="play-button"></div>
                </div>
            </div>
            {{/if}}
            {{if article.media_type === 2}}
            <img src="${article.media}"/>
            {{/if}}
        </div>
        <div>
            <div class="article-text">
                <p>{{html article.content}}</p>
            </div>
        </div>
    </article>
    {{/each}}
</div>
{% endraw %}
