<md-dialog aria-label="New order" ng-cloak class="monitoring">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>New order</h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <p class="huge-text" ng-bind="text"></p>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="close()"> Close</md-button>
    </md-dialog-actions>
</md-dialog>