<div class="sticky-toolbar">
  <mat-toolbar>
    <h2 class="page-title">{{ 'oca.settings-general' | translate }}</h2>
    <button (click)="save()" [disabled]="loading$ | async" mat-stroked-button type="button">
      {{ 'oca.Save' | translate }}
    </button>
  </mat-toolbar>
  <mat-toolbar *ngIf="saveErrorMessage$ | async as msg" class="header-error" color="warn">{{ msg}}</mat-toolbar>
  <mat-progress-bar *ngIf="loading$ | async as loading" mode="indeterminate"></mat-progress-bar>
</div>
<form [formGroup]="formGroup" class="form-content-container">
  <ng-container *ngIf="brandingSettings$ | async as brandingSettings">
    <div class="branding-setting">
      <h3>{{ 'oca.Logo' | translate }}</h3>
      <div class="avatar">
        <div *ngIf="brandingSettings.avatar_url" class="avatar-edit-layer"></div>
        <img [class.grayscale]="!brandingSettings.avatar_url" [src]="brandingSettings.avatar_url || DEFAULT_AVATAR_URL"
             alt="Avatar"/>
        <button (click)="updateAvatar()" class="centered-edit-button" color="primary" mat-mini-fab type="button">
          <mat-icon>photo_camera</mat-icon>
        </button>
      </div>
    </div>
    <div class="branding-setting">
      <h3>{{ 'oca.cover_photo' | translate }}</h3>
      <div class="logo">
        <div *ngIf="brandingSettings.logo_url" class="logo-edit-layer"></div>
        <img [class.grayscale]="!brandingSettings.logo_url" [src]="brandingSettings.logo_url || DEFAULT_LOGO_URL"
             alt="Logo"/>
        <button (click)="updateLogo()" class="centered-edit-button" color="primary" mat-mini-fab type="button">
          <mat-icon>photo_camera</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
  <mat-form-field class="field">
    <mat-label>{{ 'oca.reservation-name' | translate }}</mat-label>
    <input autocomplete="off"
           formControlName="name"
           matInput
           maxlength="50"
           minlength="2"
           required
           type="text">
    <button *ngIf="syncedValues.name"
            [matTooltip]="'oca.value_synced_via_paddle_cannot_edit' | translate"
            mat-icon-button
            matSuffix>
      <mat-icon [matTooltip]>info</mat-icon>
    </button>
    <mat-error>{{ 'oca.this_field_is_required' | translate }}</mat-error>
  </mat-form-field>
  <div class="dual-fields place-types">
    <oca-select-autocomplete [label]="'oca.place_type' | translate"
                             [hint]="'oca.select_most_specific_place_type' | translate"
                             [multiple]="false"
                             [options]="placeTypes$ | async"
                             [required]="true"
                             [searchPlaceholder]="'oca.search-dot-dot-dot' | translate"
                             class="field"
                             formControlName="main_place_type"></oca-select-autocomplete>
    <oca-select-autocomplete [label]="'oca.other_place_types' | translate"
                             [multiple]="true"
                             [options]="otherPlaceTypes$ | async"
                             [required]="true"
                             [max]="10"
                             [searchPlaceholder]="'oca.search-dot-dot-dot' | translate"
                             class="field"
                             formControlName="place_types"></oca-select-autocomplete>
  </div>
  <mat-form-field class="field wide-field">
    <mat-label>{{ 'oca.description' | translate }}</mat-label>
    <textarea cdkTextareaAutosize
              formControlName="description"
              matInput></textarea>
    <button *ngIf="syncedValues.description"
            [matTooltip]="'oca.value_synced_via_paddle_cannot_edit' | translate"
            mat-icon-button
            matSuffix>
      <mat-icon [matTooltip]>info</mat-icon>
    </button>
    <mat-error>{{ 'oca.this_field_is_required' | translate }}</mat-error>
  </mat-form-field>
  <div class="dual-fields">
    <mat-form-field class="field">
      <mat-label>{{ 'oca.timezone' | translate }}</mat-label>
      <select formControlName="timezone" matNativeControl required>
        <option *ngFor="let timezone of timezones" [value]="timezone">{{ timezone }}</option>
      </select>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>{{ 'oca.Currency' | translate }}</mat-label>
      <mat-select formControlName="currency" required>
        <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-form-field class="field wide-field">
    <mat-label>{{ 'oca.search_keywords' | translate }}</mat-label>
    <mat-chip-list #keywordChipList>
      <mat-chip (removed)="removeKeyword(keyword)" *ngFor="let keyword of formGroup.value.keywords">
        {{ keyword }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input (matChipInputTokenEnd)="addKeyword($event)"
             [matChipInputAddOnBlur]="true"
             [matChipInputFor]="keywordChipList" class="keywords-input">
      <mat-hint>{{ 'oca.search-keywords-hint' | translate }}</mat-hint>
    </mat-chip-list>
  </mat-form-field>
  <h3>{{ 'oca.media' | translate }}</h3>
  <p>{{ 'oca.service_media_info' | translate }}</p>
  <oca-service-media-editor [placeholderUrl]="DEFAULT_AVATAR_URL"
                            formControlName="cover_media"></oca-service-media-editor>
  <mat-accordion class="info-accordion" hideToggle>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ 'oca.Phone number' | translate }}</mat-panel-title>
        <mat-panel-description class="info-panel-description">
          <oca-synced-values-preview [values]="formGroup.value.phone_numbers"
                                     class="synced-values-preview"></oca-synced-values-preview>
          <mat-icon>phone</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <oca-service-value-editor [valueLabel]="'oca.Phone number' | translate"
                                formControlName="phone_numbers"
                                inputType="tel"></oca-service-value-editor>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ 'oca.Email' | translate }}</mat-panel-title>
        <mat-panel-description class="info-panel-description">
          <oca-synced-values-preview [values]="formGroup.value.email_addresses"
                                     class="synced-values-preview"></oca-synced-values-preview>
          <mat-icon>email</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <oca-service-value-editor [valueLabel]="'oca.Email' | translate"
                                formControlName="email_addresses"
                                inputType="email"></oca-service-value-editor>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ 'oca.Website' | translate }}</mat-panel-title>
        <mat-panel-description class="info-panel-description">
          <oca-synced-values-preview [values]="formGroup.value.websites"
                                     class="synced-values-preview"></oca-synced-values-preview>
          <mat-icon>website</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ 'oca.service_website_info' | translate }}</p>
      <oca-service-value-editor [valueLabel]="'oca.Website' | translate"
                                formControlName="websites"
                                inputType="url"></oca-service-value-editor>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ 'oca.address' | translate }}</mat-panel-title>
        <mat-panel-description class="info-panel-description">
          <div class="synced-values-preview">
            <ng-container *ngFor="let value of formGroup.value.addresses; let last = last">
              {{ value.street }} {{ value.street_number }}, {{ value.locality }}
              <ng-container *ngIf="!last">|</ng-container>
            </ng-container>
          </div>
          <mat-icon>place</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <oca-service-addresses-editor (requestCountries)="requestCountries()"
                                    [countries]="countries$ | async"
                                    formControlName="addresses"></oca-service-addresses-editor>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-slide-toggle [matTooltipDisabled]="formGroup.valid"
                    [matTooltip]="'oca.required' | translate"
                    formControlName="visible">
    {{ 'oca.service-visible' | translate }}
  </mat-slide-toggle>
  <oca-opening-hours-settings-page></oca-opening-hours-settings-page>
</form>
