<mat-accordion *ngIf="showPeriods || periods.length > 0; else noPeriodsTemplate" class="hours-container">
  <mat-expansion-panel *ngFor="let period of periodsPerDay; trackBy: trackPeriodByDay">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ period.name }}</mat-panel-title>
      <mat-panel-description class="hours-description">
        <ng-container *ngIf="period.periods.length === 0">{{ 'oca.closed' | translate }}</ng-container>
        <ng-container *ngIf="period.periods.length === 1 && !period.periods[0].close; else normalHours">
          {{ 'oca.open_24_hours' | translate }}
        </ng-container>
        <ng-template #normalHours>
          <ng-container *ngFor="let hours of period.periods; let last = last">
            {{ hours.open.time | hours }} - {{ hours.close.time | hours }}
            <ng-container *ngIf="!last">,</ng-container>
          </ng-container>
        </ng-template>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- Avoids rendering the periods when the panel is not open-->
    <ng-template matExpansionPanelContent>
      <oca-opening-hours-periods-editor (ngModelChange)="setChanged()"
                                        [(ngModel)]="period.periods"
                                        [day]="period.day"
                                        [ngModelOptions]="{standalone: true}"></oca-opening-hours-periods-editor>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
<ng-template #noPeriodsTemplate>
  <div *ngIf="!showPeriods" class="add-hours-container">
    <p>{{ 'oca.closed' | translate }}</p>
    <button (click)="doShowHours()" mat-raised-button type="button">{{ 'oca.add_hours' | translate }}</button>
  </div>
</ng-template>
