.hours-description {
  justify-content: flex-end;
}

.hours-container {
  display: block;
  margin-bottom: 16px;
}

.add-hours-container {
  display: flex;
  align-items: center;

  button {
    margin-left: 16px;
  }
}
