<mat-toolbar>
  <a mat-icon-button routerLink="/communities">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <h1 class="flex-grow">Geo fence</h1>
</mat-toolbar>
<form (ngSubmit)="save()" [formGroup]="formGroup" class="geo-fence-form">
  <ng-container formGroupName="defaults">
    <h2>Defaults</h2>
    <p>These values are the defaults when creating a new point of interest</p>
    <mat-form-field class="field">
      <mat-label>Locality</mat-label>
      <input formControlName="locality" matInput required>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Postal code</mat-label>
      <input formControlName="postal_code" matInput required>
    </mat-form-field>
  </ng-container>
  <p>Move the circle to the region that roughly matches the current community.
    Points of interest will only be able to be created inside this circle.</p>
  <rcc-geo-location-form (centerChanged)="formGroup.controls.geometry.patchValue({center: $event})"
                         (radiusChanged)="formGroup.controls.geometry.patchValue({max_distance: $event})"
                         [center]="formGroup.controls.geometry.value?.center"
                         [country]="formGroup.controls.country.value"
                         [radius]="formGroup.controls.geometry.value?.max_distance"></rcc-geo-location-form>
  <button class="save-btn" mat-stroked-button>Save</button>
</form>
