<form #form="ngForm" (ngSubmit)="submit(form)" class="project-settings">
  <mat-form-field>
    <mat-label>{{ 'oca.title' | translate }}</mat-label>
    <input [(ngModel)]="_project.title" matInput name="title">
  </mat-form-field>
  <p>{{ 'oca.description' | translate }}</p>
  <div class="description-editor">
    <td-text-editor [(ngModel)]="_project.description"
                    [options]="EASYMDE_OPTIONS"
                    name="description"></td-text-editor>
  </div>
  <mat-form-field>
    <mat-label>{{ 'oca.required_scans' | translate }}</mat-label>
    <input [(ngModel)]="_project.action_count" matInput min="1" name="action_count" step="1" type="number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'oca.budget' | translate }}</mat-label>
    <span matPrefix>{{ getCurrencySymbol(_project.budget.currency, 'narrow') }}</span>
    <input [(ngModel)]="_project.budget.amount" matInput min="1" name="budget_amount" step="1" type="number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'oca.start_date' | translate }}</mat-label>
    <input (dateChange)="setDates()" [(ngModel)]="_project.start_date" [matDatepicker]="startDatePicker" matInput name="start_date"
           required>
    <mat-datepicker-toggle [for]="startDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'oca.start_time' | translate }}</mat-label>
    <input #startTime (change)="setTime('start_date', $event.target)" matInput name="start_time" required type="time">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'oca.end_date' | translate }}</mat-label>
    <input (dateChange)="setDates()" [(ngModel)]="_project.end_date" [matDatepicker]="endDatePicker" [min]="_project.start_date"
           matInput name="end_date" required>
    <mat-datepicker-toggle [for]="endDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'oca.end_time' | translate }}</mat-label>
    <input #endTime (change)="setTime('end_date', $event.target)" matInput name="end_time" required type="time">
  </mat-form-field>
  <div>
    <button [disabled]="loading" mat-raised-button>
      {{ 'oca.Save' | translate }}
    </button>
  </div>
</form>
