<oca-loadable [loadable]="statistics">
  <div class="stats-container" *ngIf="statistics.data">
    <h2>{{ 'oca.x_scans' | translate : {amount: statistics.data.total} }}</h2>
    <mat-list>
      <mat-list-item *ngFor="let merchant of statistics.data.results">
        <h4 matLine>{{ merchant.name }}</h4>
        <p matLine>{{ 'oca.x_scans' | translate : {amount: merchant.total} }}</p>
      </mat-list-item>
    </mat-list>
    <div class="load-more-button" *ngIf="statistics.data.more">
      <button mat-raised-button (click)="loadMore.emit()">{{ 'oca.load_more' | translate }}</button>
    </div>
  </div>
</oca-loadable>
