.feed-box {
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--hoplr-attachment-background);
  border: solid 1px var(--hoplr-attachment-border);
}

.feed-box-title {
  font-weight: bold;
  text-align: center;
}
