<div *ngIf="statistics" class="component-margin">
  <div class="flex">
    <h2 class="flex-grow">{{ 'oca.total_responses_x' | translate : {count: statistics.submissions} }}</h2>
    <span class="icons-row">
        <button type="button" mat-icon-button [matMenuTriggerFor]="optionsMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
    </span>
  </div>
  <ng-container *ngFor="let section of statistics.sections">
    <mat-toolbar>{{ section.title }}</mat-toolbar>
    <ng-container *ngFor="let component of section.components">
      <mat-card class="component-card" *ngIf="component.id">
        <mat-card-header>
          <mat-card-title>{{ component.title }} </mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="component.values">
          <ng-container [ngSwitch]="component.values.type">
            <ng-container *ngSwitchCase="ComponentStatsType.CHOICES">
              <oca-form-statistics-number-chart [values]="component.values.value"></oca-form-statistics-number-chart>
            </ng-container>
            <ng-container *ngSwitchCase="ComponentStatsType.VALUES">
              <mat-list>
                <mat-list-item *ngFor="let answer of component.values.value">
                  <ng-container *ngIf="answer.value">
                    {{ answer.value + (answer.amount === 1 ? '' : ' (' + answer.amount + ')') }}
                  </ng-container>
                </mat-list-item>
              </mat-list>
            </ng-container>
            <ng-container *ngSwitchCase="ComponentStatsType.FILES">
              <!-- Not implemented -->
            </ng-container>
            <ng-container *ngSwitchCase="ComponentStatsType.LOCATIONS">
              <agm-map [fitBounds]="true">
                <agm-marker *ngFor="let marker of component.values.value"
                            [agmFitBounds]="marker"
                            [markerDraggable]="false"
                            [latitude]="marker.lat"
                            [longitude]="marker.lng">
                </agm-marker>
              </agm-map>
            </ng-container>
            <ng-container *ngSwitchCase="ComponentStatsType.DATES">
              <oca-date-statistics-list [statistics]="component.values"></oca-date-statistics-list>
            </ng-container>
            <ng-container *ngSwitchCase="ComponentStatsType.TIMES">
              <oca-date-statistics-list [statistics]="component.values"></oca-date-statistics-list>
            </ng-container>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </ng-container>
</div>

<mat-menu #optionsMenu=matMenu>
  <ng-template matMenuContent>
    <button type="button" mat-menu-item *ngFor="let item of optionsMenuItems" role="menuitemcheckbox"
            (click)="menuOptionClicked.emit(item)">
      <mat-icon *ngIf="item.checked">check</mat-icon>
      <span>{{ item.label | translate}}</span>
    </button>
  </ng-template>
</mat-menu>
