.iphone {
  background-image: url(/static/images/solutions/iphone_frame.png);
  height: 653px;
  padding: 115px 40px;
  width: 373px;
}

.preview_container {
  height: 654px;
  overflow-x: hidden;
  overflow-y: auto;
}
