<ng-container *ngIf="statistics && form">
  <p>{{ 'oca.total_responses_x' | translate : { count: statistics.submissions } }}</p>
  <ng-container *ngFor="let section of form.sections">
    <mat-toolbar>{{ section.title }}</mat-toolbar>
    <ng-container *ngFor="let component of section.components">
      <mat-card class="component-card" *ngIf="component.id">
        <mat-card-header>
          <mat-card-title>{{ component.title }} </mat-card-title>
          <mat-card-subtitle>
            {{ getCount(section.id, component) | i18nPlural : responseCountMapping | translate : {count: getCount(section.id, component)} }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content
          *ngIf="statistics && statistics.statistics[section.id] && statistics.statistics[section.id][component.id] as stats">
          <ng-container [ngSwitch]="component.type">
            <ng-container *ngSwitchCase="FormComponentType.PARAGRAPH"></ng-container>
            <ng-container *ngSwitchCase="FormComponentType.TEXT_INPUT">
              <mat-list>
                <mat-list-item *ngFor="let kv of stats | keyvalue">
                  {{ kv.key + (kv.value === 1 ? '' : ' (' + kv.value + ')') }}
                </mat-list-item>
              </mat-list>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <oca-form-statistics-number-chart [value]="stats"></oca-form-statistics-number-chart>
            </ng-container>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </ng-container>
</ng-container>
