<div id="functionalities" class="page" style="display: none;">
    <h4 id="enabled_functionalities_label" class="functionalities-label">{% translate language, "common", "active_functionalities" %}</h4>
    <div id="enabled_functionalities" class="row">
    </div>
    <br />
    <h4 id="disabled_functionalities_label" class="functionalities-label">{% translate language, "common", "inactive_functionalities" %}</h4>
    <div id="disabled_functionalities" class="row">
    </div>
</div>
<script src="/static/js/solutions/sln-functionalities.js"></script>
