<div id="functionalities" class="page" style="display: none;">
    <h4 id="enabled_functionalities_label" class="functionalities-label">{% translate language, "active_functionalities" %}</h4>
    <div id="enabled_functionalities" class="row">
    </div>
    <br />
    <h4 id="disabled_functionalities_label" class="functionalities-label">{% translate language, "inactive_functionalities" %}</h4>
    <div id="disabled_functionalities" class="row">
    </div>
</div>
<script>
    var FUNCTIONALITY_MODULES = {{ functionality_modules }};
    var FUNCTIONALITY_INFO = {{ functionality_info }};
</script>
<script src="/static/js/solutions/sln-functionalities.js"></script>
