{% raw %}
<div class="span4 functionality-tile">
    <div class="row functionality-header">
        <div class="span3">
            <span class="functionality-title">${info.title.toUpperCase()}</span>
        </div>
        {{if enabled}}
        <div class="span1">
            {{if showConfig}}
            <a href="#" name="${info.name}" class="functionality-settings pull-right" role="button">
                <div data-placement="top" data-original-title="${t.Settings}">
                    <span class="functionality-settings-icon"><i class="fa fa-cog"></i></span>
                </div>
            {{else}}
            <a href="#" name="${info.name}" class="functionality-publish-first pull-right" role="button">
                <div data-placement="top" data-original-title="${t['unpersisted-changes']}">
                    <span class="functionality-publish-icon"><i class="fa fa-info-circle"></i></span>
                </div>
            {{/if}}
            </a>
        </div>
        {{/if}}
    </div>
    {{if media.video_id && media.tutorial_video_id}}
    <div class="youtube-container">
        <div class="youtube-player" data-yt-id="{{if enabled}}${media.tutorial_video_id}{{else}}${media.video_id}{{/if}}">
            <img src="//img.youtube.com/vi/{{if enabled}}${media.tutorial_video_id}{{else}}${media.video_id}{{/if}}/maxresdefault.jpg">
            <div class="play-button"></div>
        <div>
    </div>
    {{else}}
    <div class="youtube-container">
        <div class="youtube-player" data-yt-id="">
            <img src="${media.screenshot_image}">
        <div>
    </div>
    {{/if}}
    <p class="functionality-description">
        ${info.description}
    </p>
</div>
{% endraw %}
