<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <style>
        .clearfix {
            *zoom: 1;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            line-height: 0;
            content: "";
        }

        .clearfix:after {
            clear: both;
        }

        .bordered td {
            border: 0.3pt solid black;
        }

        .no-border-bottom {
            border-bottom: none;
        }

        .no-border-top {
            border-top: none;
        }

        .text-bold {
            font-weight: bold;
        }

        @page {
            margin: 2cm;
            margin-bottom: 3.5cm;
            @frame footer_frame {
            -pdf-frame-content: footerContent;
            bottom: 2cm;
            margin-left: 2cm;
            margin-right: 2cm;
            height: 1cm;
        }
        }

        .logo {
            zoom: 80%;
        }

        #tos {
            font-size: 7pt;
        }
    </style>
</head>

<body>
<!-- <style> -->
<div id="footerContent" align="right">
    <pdf:pagenumber> /
        <pdf:pagecount>
</div>
<header>
    <table class="clearfix">
        <tbody>
        <tr>
            <td class="col1"><img class="logo" src="{{ logo_path }}" width="200" height="200"/></td>
            <td>
                <p>
                    <b>{{ mobicage_legal_entity.name }}</b>
                </p>

                <p>
                    {{ mobicage_legal_entity.address }}<br>
                    {{ mobicage_legal_entity.postal_code }} {{ mobicage_legal_entity.city }}<br>
                    {{ mobicage_legal_entity.country(language) }}<br>
                </p>

                <p>
                    {% shop_translate language, "telephone_abbr" %}: {{ mobicage_legal_entity.phone }}<br>
                    {{ mobicage_legal_entity.email }}<br>
                </p>

                <p>
                    {% shop_translate language, "vat" %}: {{ mobicage_legal_entity.vat_number }}<br>
                    IBAN: {{ mobicage_legal_entity.iban }}<br>
                    BIC: {{ mobicage_legal_entity.bic }}<br>
                </p>
            </td>
            <td>
                <p>
                    <b>{{ legal_entity.name }}</b>
                </p>

                <p>
                    {{ legal_entity.address }}<br>
                    {{ legal_entity.postal_code }} {{ legal_entity.city }}<br>
                    {{ legal_entity.country(language) }}<br>
                </p>

                <p>
                    {% shop_translate language, "telephone_abbr" %}: {{ legal_entity.phone }}<br>
                    {{ legal_entity.email }}<br>
                </p>

                <p>
                    {% shop_translate language, "vat" %}: {{ legal_entity.vat_number }}<br>
                    IBAN: {{ legal_entity.iban }}<br>
                    BIC: {{ legal_entity.bic }}<br>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</header>
<div id="overview">
    <h2>{% shop_translate language, 'invoice_from_until', 'from=' + from_date, 'until=' + until_date %}</h2>
    <table style="padding: 0.5em;" class="clearfix bordered">
        <tr>
            <td class="text-bold" style="width:15%;">{% shop_translate language, "product_code" %}</td>
            <td class="text-bold" style="width:45%;">{% shop_translate language, "description" %}</td>
            <td class="text-bold" style="width:15%;">{% shop_translate language, "price" %}</td>
            <td class="text-bold" style="width:10%;">{% shop_translate language, "amount" %}</td>
            <td class="text-bold" style="width:15%;">{% shop_translate language, "total" %}</td>
        </tr>
        {% for product_code, totals in product_totals %}
            <tr>
                <td>{{ product_code }}</td>
                <td><p>{{ products[product_code].description('en') }} </p> <i>
                    {{ products[product_code].default_comment('en') }}</i></td>
                <td>
                    {{ products[product_code].format_price(legal_entity.currency_code, mobicage_legal_entity.country_code, revenue_percent) }}</td>
                <td>{{ totals['count']}}</td>
                <td>{{ totals['total_price'] }}</td>
            </tr>
        {% endfor %}
        <tr style="font-weight: bold;">
            {% if mobicage_legal_entity.country == legal_entity.country_code %}
                <td colspan="4" align="right">{% shop_translate language, "vat" %}
                    ({{ mobicage_legal_entity.vat_percent }}%)
                </td>
                <td>{{ vat_amount_formatted }}</td>
            {% else %}
                <td colspan="4" align="right">{% shop_translate language, "vat" %}</td>
                <td>0 ({% shop_translate language, "export" %})</td>
            {% endif %}
        </tr>
        <tr style="font-weight: bold;">
            <td colspan="4" align="right">
                {% shop_translate language, "total_incl_vat" if mobicage_legal_entity.country == legal_entity.country_code else "total" %}
            </td>
            <td>{{ total_amount_formatted }}</td>
        </tr>
    </table>
</div>
<pdf:nextpage/>
<div id="details">
    <h2>{% shop_translate language, 'invoice_details' %}</h2>
    <table style="padding: 0.5em;" class="bordered">
        <thead>
        <tr>
            <td class="text-bold" style="width:15%;">{% shop_translate language, "customer_name" %}</td>
            <td class="text-bold" style="width:45%;">{% shop_translate language, "product" %}</td>
            <td class="text-bold" style="width:15%;">{% shop_translate language, "price" %}</td>
            <td class="text-bold" style="width:10%;">{% shop_translate language, "amount" %}</td>
            <td class="text-bold" style="width:15%;">{% shop_translate language, "total" %}</td>
        </tr>
        </thead>
        <tbody>
        {% for customer_id in items_per_customer %}
            {% for order_item in items_per_customer[customer_id] %}
                <tr>
                    <td>{{ customers[customer_id].name }}</td>
                    <td>{{ order_item.clean_product_code }}</td>
                    <td>
                        {{ order_item.format_price(legal_entity.currency_code, mobicage_legal_entity.country_code, revenue_percent) }}</td>
                    <td>{{ order_item.count }}</td>
                    <td>
                        {{ order_item.format_total_price(legal_entity.currency_code, mobicage_legal_entity.country_code, revenue_percent) }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-bold" style="width:15%;">{% shop_translate language, "total" %}</td>
            <td class="text-bold">{{ total_amount_formatted }}</td>
        </tr>
        </tbody>
    </table>
</div>

<pdf:nextpage/>
<div id="tos">
    <h2>{% shop_translate language, "terms_and_conditions" %}</h2>
    {% for i in range(1, 19) %}
        {% if i == 15 %}
            <p>{% shop_translate language, "tos_15", "tos_link=" + tos_link %}</p>
        {% else %}
            <p>{% shop_translate language, "tos_" + i|string %}</p>
        {% endif %}
    {% endfor %}
</div>
</body>
</html>
