Dear{% if name %} {{ name|escape }}{% endif %},

This is your activation code for the {{ app.name }} app:

{{ pin }}

Go back to the {{ app.name }} app on your mobile device and enter your activation code to continue.

Thank you for using the {{ app.name }} app!

- The {{ app.name }} Team
