Dear{% if name %} {{ name|escape }}{% endif %},

This link will only work for the next 4 days.
Because it may contain personal information, be sure to keep the link private and only download the archive to your own computer.

Download Data: {{ link }}

- The {{ app.name }} Team