{{ from_name }} recommends you to connect to {{ service_name }} on {{ app_name }}.

Step 1. Install {{ app_name }} app:
{{ BASE_URL }}/install?a={{ app_id }}&email

Step 2. Connect to {{ service_name }}:
{{ share_url }}

{% if consts.INCLUDE_ROGERTHAT_DOT_NET %}



For more information about {{ app_name }} and other Rogerthat based products, please visit:
http://www.rogerthat.net{% endif %}
