Dear,

Here are the statistics for your service{% if service %} {{ service|escape }}{% endif %}.
See the attachment for more info.

Thank you for using Rogerthat!

- The Rogerthat Team
https://rogerth.at/
