<html><body>Hi,<br>
<br>
Your Rogerthat service account will soon be disabled for the following reason:<br>
<br>
{{ reason|escape }}.<br>
<br>
Sincerely,<br>
<br>
<br>
Rogerthat Support Team.<br>
</body></html>
