<html><body>Hi,<br>
<br>
Your Rogerthat service account has been disabled for the following reason:<br>
<br>
{{ reason|escape }}.<br>
<br>
When the problem has been resolved, go to your Rogerthat service control dashboard and re-enable your service.<br>
<br>
Sincerely,<br>
<br>
<br>
Rogerthat Support Team.<br>
</body></html>
