<html><body>Dear{% if name %} {{ name|escape }}{% endif %},<br>
<br>
We have received your registration request for Rogerthat. Please use this secure URL to complete the registration process within 5 days.<br>
<br>
<span style="font-size: xx-large;"><a href="{{ link }}">Click here to complete the registration process.</a></span><br>
<br>
To complete the registration, please enter your password twice on the page that opens.<br>
<br>
If you cannot access the link above, you can paste the following address into your browser:<br>
{{ link }}<br>
<br>
Thank you for using Rogerthat!<br>
<br>
- The Rogerthat Team<br>
<a href="https://rogerth.at/">https://rogerth.at/</a><br>
</body></html>
