Dear{% if name %} {{ name|escape }}{% endif %},

We have received your registration request for Rogerthat. Please use this secure URL to complete the registration process within 5 days.

{{ link|safe }}

To complete the registration, please enter your password twice on the page that opens.

Thank you for using Rogerthat!

- The Rogerthat Team
https://rogerth.at/
