Dear,

somebody just tried to register a mobile with the email address of your service ( {{email}} ).

Maybe this person tries to get access to your account. 
Make sure the password of your service account is safe.
Rogerthat recommends a password of minimal 8 characters with a mixed casing containing letters and digits.

Regards, Rogerthat support team.
