Dear {{ name }},

Your Rogerthat trial service has been created.

Get started here:
http://www.rogerthat.net/support/quick-starter-guide/

https://rogerth.at service control panel login information:
 * login email: {{ email }}
 * password: {{ password }}

For questions, please refer to our mailing list
https://groups.google.com/forum/#!forum/rogerthat-platform
or email us at support@mobicage.com

Regards,

The Rogerthat team.
