<form #form="ngForm" (ngSubmit)="save(form)">
  <mat-form-field>
    <mat-label>{{ 'oca.username' | translate }}</mat-label>
    <input name="username" matInput [(ngModel)]="configuration.username">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'oca.password' | translate }}</mat-label>
    <input [type]="showPassword ? 'text' : 'password'" name="password" matInput [(ngModel)]="configuration.password"
           autocomplete="off">
    <mat-icon matSuffix (click)="showPassword = !showPassword">
      {{ showPassword ? 'visibility_off' : 'visibility' }}
    </mat-icon>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'oca.Url' | translate }}</mat-label>
    <input type="url" name="base_url" matInput [(ngModel)]="configuration.base_url" pattern="https://.*" required>
    <mat-error *ngIf="!configuration.base_url">{{ 'oca.this_field_is_required' | translate }}</mat-error>
    <mat-error *ngIf="configuration.base_url && !configuration.base_url.startsWith('https')">
      {{ 'oca.url_must_start_with_https' | translate }}
    </mat-error>
  </mat-form-field>
  <div>
    <button mat-raised-button>
      {{ 'oca.Save' | translate }}
    </button>
  </div>
</form>
