<html>
<head>
  <style type="text/css">
    tr.black > td { background-color:black; height:2px; }
    table { font-family:Arial; font-size:12px; }
    body { font-family:Arial; font-size:16px; }
    tr.header > td { font-size:16px; }
    .row1 { background-color:#FFFFEF; }
    .row2 { background-color:#FFFFDF; }
    .unfinished { color:#DD0000; }
  </style>
</head>
<body>
<a href="{{ back_url }}">&lt; BACK</a> - <b>{{ current_day }}</b> {% if next_url %} - <a href="{{ next_url }}">NEXT &gt;</a>{% endif %}
<br>
<br>
<table border="0" width="100%">
	<tr class="header">
		<td><b>timestamp</b></td>
		<td><b>email</b></td>
		<td><b>customer id</b></td>
		<td><b>description</b></td>
	</tr>
	{% for change in changes %}
	<div style="display:none;">{% cycle 1 2 as even_rows %}</div>
	<tr class="row{{even_rows}}">
		<td>{{change.time}}</td>
		<td>{{change.email}}</td>
		<td>{{change.player_id}}</td>
		<td>{{change.description}}</td>
	</tr>
	{% endfor %}
</table>
</body>
</html>
