<h2 matDialogTitle>{{ data.title }}</h2>
<form (ngSubmit)="submit()">
  <mat-dialog-content>
    <p [innerHTML]="data.message"></p>
    <mat-list *ngIf="selectedUser">
      <mat-list-item>
        <img [alt]="selectedUser.name" [src]="selectedUser.avatar_url" matListAvatar>
        <h3 matLine>{{ selectedUser.name }}</h3>
        <p matLine>{{ selectedUser.email }}</p>
      </mat-list-item>
    </mat-list>
    <oca-user-autocomplete #autocomplete (optionSelected)="onOptionSelected($event)"
                           [required]="true"></oca-user-autocomplete>
    <mat-error *ngIf="showError">{{ 'oca.please_select_an_email_address' | translate }}</mat-error>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)="close()" mat-raised-button type="button">
      {{ data.cancel }}
    </button>
    <button color="primary" mat-raised-button>
      {{ data.ok }}
    </button>
  </mat-dialog-actions>
</form>


