<div class="container">
  <form #form="ngForm">
    <mat-horizontal-stepper [linear]="!published" #stepper>

      <ng-template matStepperIcon="edit">
        <mat-icon>check</mat-icon>
      </ng-template>

      <mat-step ngModelGroup="stepContent"
                [completed]="stepper.selectedIndex > 0"
                [label]="'oca.Content' | translate"
                [stepControl]="form.controls.stepContent">

        <div class="editor">
          <mat-card>
            <mat-card-header>
                <mat-card-title>Tekst</mat-card-title>
                <mat-card-subtitle>{{ 'oca.news_content_explanation' | translate }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field class="full-width-field">
                <mat-label>{{ 'oca.title' | translate }}</mat-label>
                <input [(ngModel)]="newsItem.title" matInput maxlength="80" minlength="5" name="title" required type="text"
                      #titleControl="ngModel">
                <mat-hint align="end">{{ newsItem.title.length }} / 80</mat-hint>
                <mat-error *ngIf="titleControl.errors?.required">
                  {{ 'oca.this_field_is_required' | translate }}
                </mat-error>
                <mat-error *ngIf="titleControl.errors?.minlength as minError">
                  {{ 'oca.please_enter_at_least_x_characters' | translate : {characters: minError.requiredLength} }}
                </mat-error>
              </mat-form-field>

              <p>{{ 'oca.message' | translate }}</p>
              <td-text-editor [(ngModel)]="newsItem.message"
                              [options]="EASYMDE_OPTIONS"
                              name="description"></td-text-editor>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ 'oca.media' | translate }}</mat-card-title>
              <mat-card-subtitle>
                {{ (newsItem.media?.type === MediaType.VIDEO_YOUTUBE ? 'oca.news_video_explanation' : 'oca.news_image_explanation') | translate }}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <oca-media-selector (ngModelChange)="setMedia($event)"
                                  [(ngModel)]="newsItem.media"
                                  [allowedMediaTypes]="options?.media_types"
                                  [uploadFileDialogConfig]="uploadFileDialogConfig"
                                  [logoUrl]="brandingSettings?.logo_url" name="media"></oca-media-selector>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-header>
                <mat-card-title>{{ 'oca.action_button' | translate }}</mat-card-title>
                <mat-card-subtitle>{{ 'oca.news_action_button_explanation' | translate }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field>
                <mat-label>{{ 'oca.action_button' | translate }}</mat-label>
                <mat-select (selectionChange)="actionButtonSelected();"
                            [(ngModel)]="actionButton"
                            [compareWith]="compareActionButtons"
                            name="button_id">
                  <mat-select-trigger>{{ actionButton?.label }}</mat-select-trigger>
                  <mat-option [value]="null">{{ 'oca.none' | translate }}</mat-option>
                  <mat-option *ngFor="let button of options?.action_buttons" [value]="button">
                    <mat-icon>{{ button.icon }}</mat-icon>
                    {{ button.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="actionButton" class="action-button-controls">
                <mat-form-field>
                  <mat-label>{{ 'oca.Label' | translate }}</mat-label>
                  <input [ngModel]="actionButton.button.caption"
                        (ngModelChange)="setButtonCaption($event)"
                        matInput
                        required
                        maxlength="15"
                        name="button_caption"
                        type="text">
                  <mat-hint align="end">{{ actionButton.button.caption.length }} / 15</mat-hint>
                </mat-form-field>
                <ng-container [ngSwitch]="actionButton.type">
                  <mat-form-field *ngSwitchCase="NewsActionButtonType.WEBSITE">
                    <mat-label>{{ actionButton.label }}</mat-label>
                    <input matInput name="button_website" required type="url"
                          [pattern]="URL_PATTERN"
                          [(ngModel)]="actionButton.button.action"
                          (ngModelChange)="updateButton($event)" #urlInput="ngModel">
                    <mat-error *ngIf="urlInput.errors?.pattern">{{ 'oca.enter_valid_url' | translate }}</mat-error>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="NewsActionButtonType.PHONE">
                    <mat-label>{{ actionButton.label }}</mat-label>
                    <input (ngModelChange)="updateButton($event)" [(ngModel)]="actionButton.phone" matInput
                          name="button_phone"
                          required
                          type="tel">
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="NewsActionButtonType.EMAIL">
                    <mat-label>{{ actionButton.label }}</mat-label>
                    <input (ngModelChange)="updateButton($event)" [(ngModel)]="actionButton.email" matInput
                          name="button_email"
                          required
                          type="email">
                  </mat-form-field>
                  <ng-container *ngSwitchCase="NewsActionButtonType.ATTACHMENT">
                    <mat-form-field>
                      <mat-label>{{ 'oca.Attachment' | translate }}</mat-label>
                      <input #input="ngModel" [ngModel]="actionButton.button.action" matInput name="attachment_url"
                             readonly
                             required type="url">
                      <a *ngIf="actionButton.button.action"
                         [href]="actionButton.button.action" mat-icon-button
                         matSuffix
                         target="_blank">
                        <mat-icon>open_in_new</mat-icon>
                      </a>
                      <mat-error
                        *ngIf="input.errors?.required">{{ 'oca.please_select_attachment' | translate }}</mat-error>
                    </mat-form-field>
                    <div>
                      <button (click)="addAttachment()" mat-raised-button type="button">
                        {{ 'oca.add-attachment' | translate }}
                      </button>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </mat-card-content>
          </mat-card>

          <div class="step-nav-buttons">
            <button type="button" mat-raised-button matStepperPrevious>{{ 'oca.back' | translate }}</button>
            <button type="button" mat-raised-button matStepperNext>{{ 'oca.Next' | translate }}</button>
          </div>
        </div>

        <oca-news-item-preview class="preview"
                               [avatarUrl]="brandingSettings?.avatar_url || DEFAULT_AVATAR_URL"
                               [date]="newsItem.scheduled_at || minDate"
                               [name]="options?.service_name"
                               [newsItem]="newsItem" *ngIf="stepper.selectedIndex === 0">
        </oca-news-item-preview>

      </mat-step>

      <mat-step optional
                ngModelGroup="stepAudience"
                [completed]="stepper.selectedIndex > 1"
                [label]="'oca.target_audience' | translate"
                [stepControl]="form.controls.stepAudience">

        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ 'oca.target_audience' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ 'oca.news_target_audience_explanation' | translate }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>

            <ng-container *ngIf="newsItem.locations !== null || options?.location_filter_enabled">
              <mat-slide-toggle class="toggle-margin"
                                [checked]="newsItem.locations !== null"
                                [disabled]="hasRegional || published"
                                (toggleChange)="toggleLocations()">
                {{ 'oca.limit_on_location' | translate }}
              </mat-slide-toggle>
              <p class="toggle-indent" [class.disabled]="hasRegional || published">
                {{ 'oca.limit_on_location_info' | translate }}
              </p>
              <ng-container *ngIf="newsItem.locations">
                <oca-news-location class="toggle-margin"
                                   name="locations"
                                   [communityId]="defaultCommunityId"
                                   [disabled]="published"
                                   [(ngModel)]="newsItem.locations"></oca-news-location>
              </ng-container>
              <br>
              <mat-divider></mat-divider>
              <br>
            </ng-container>

            <ng-container *ngIf="options?.regional.enabled">
              <mat-slide-toggle
                class="toggle-margin"
                (toggleChange)="toggleLocal()"
                [checked]="hasLocal"
                [disabled]="newsItem.locations !== null || published">
                {{ 'oca.broadcast-locally' | translate }}
              </mat-slide-toggle>
              <p [ngClass]="{'disabled': newsItem.locations || published}"
                 class="toggle-indent">{{ 'oca.broadcast-locally-description' | translate }}</p>

              <br>

              <mat-slide-toggle
                class="toggle-margin"
                (toggleChange)="toggleRegional()"
                [checked]="hasRegional"
                [disabled]="newsItem.locations !== null || published">
                {{ 'oca.broadcast-regionally' | translate }}
              </mat-slide-toggle>
              <p class="toggle-indent" [ngClass]="{'disabled': newsItem.locations || published}">
                {{ 'oca.broadcast-regionally-description' | translate }}
              </p>

              <ng-container *ngIf="hasRegional">
                <div *ngIf="options?.regional.map_url as mapUrl else appSelectTemplate" class="map-container">
                  <oca-news-app-map-picker name="community_ids"
                                           (click)="openMapDialog()"
                                           (ngModelChange)="communitiesChanged($event)"
                                           [communityMapping]="communityMapping"
                                           [defaultCommunityId]="defaultCommunityId"
                                           [mapUrl]="mapUrl"
                                           [ngModel]="newsItem.community_ids"
                                           [readonly]="true"
                                           [showLegend]="false"></oca-news-app-map-picker>
                </div>
                <p>{{ 'oca.broadcast-map-explanation' | translate }}</p>
                <ng-template #appSelectTemplate>
                  <mat-chip-list>
                        <ng-container *ngFor="let communityId of newsItem.community_ids">
                    <mat-chip (removed)="regionalAppRemoved($event)"
                              [removable]="communityId !== defaultCommunityId && !published"
                              *ngIf="communityMapping[communityId] as community"
                              [value]="communityId">
                      {{ community.name }}
                      <span>
                        &nbsp;-&nbsp;{{'oca.user_count' | translate : {count: community.total_user_count} }}
                      </span>
                      <mat-icon *ngIf="communityId !== defaultCommunityId && !published" matChipRemove>cancel</mat-icon>
                    </mat-chip>
                              </ng-container>
                  </mat-chip-list>
                  <mat-form-field *ngIf="!published">
                    <mat-label>{{ 'oca.add_app' | translate }}</mat-label>
                    <mat-select #select (selectionChange)="addApp($event, select)">
                      <mat-option *ngFor="let community of communities" [value]="community.id">
                        {{ community.name }} - {{'oca.user_count' | translate : {count: community.total_user_count} }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-template>
                <oca-news-reach [communityIds]="newsItem.community_ids"
                                [communityMapping]="communityMapping"
                                [defaultCommunityId]="defaultCommunityId"></oca-news-reach>
                <p class="budget-line">{{ 'oca.budget' | translate }}: <b>{{ remainingBudget }}</b>
                  <mat-icon [matTooltip]="'oca.broadcast-budget-explanation' | translate">info</mat-icon>
                </p>
                <button (click)="openChargeDialog()" mat-raised-button>{{ 'oca.charge_budget' | translate }}</button>
                <br>
              </ng-container>

              <br><mat-divider></mat-divider><br>
            </ng-container>

            <div>
              <mat-slide-toggle class="toggle-margin"
                  #targetAudienceToggle
                  (toggleChange)="toggleTargetAudience()"
                  [checked]="newsItem.target_audience !== null"
                  [disabled]="published">
                {{ 'oca.limit_by_age_and_gender' | translate }}
              </mat-slide-toggle>
              <div *ngIf="newsItem.target_audience && targetAudienceToggle.checked" class="form-group">
                <br>
                <div>
                  <mat-form-field style="margin-right: 16px;">
                    <mat-label>{{ 'oca.age-min' | translate }}</mat-label>
                    <input #minAge="ngModel" [(ngModel)]="newsItem.target_audience.min_age"
                          [disabled]="published"
                          [max]="newsItem.target_audience.max_age"
                          matInput
                          min="0"
                          name="target_audience.min_age" type="number">
                    <mat-error *ngIf="minAge.errors?.max">{{ 'oca.age-min-max-less' | translate }}</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>{{ 'oca.age-max' | translate }}</mat-label>
                    <input [(ngModel)]="newsItem.target_audience.max_age" [disabled]="published"
                          [min]="newsItem.target_audience.min_age"
                          matInput
                          max="120"
                          name="target_audience.max_age"
                          type="number">
                  </mat-form-field>
                </div>
                <mat-form-field>
                  <mat-label>{{ 'oca.gender' | translate }}</mat-label>
                  <mat-select [(ngModel)]="newsItem.target_audience.gender"
                              [disabled]="published"
                              name="target_audience.gender" required>
                    <mat-option *ngFor="let gender of GENDERS" [value]="gender.value">
                      {{ gender.label | translate }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-slide-toggle [(ngModel)]="newsItem.target_audience.connected_users_only"
                                  [disabled]="published"
                                  name="target_audience.connected_users_only">
                  {{ 'oca.connected_users_only' | translate }}
                </mat-slide-toggle>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <div class="step-nav-buttons">
          <button type="button" mat-raised-button matStepperPrevious>{{ 'oca.back' | translate }}</button>
          <button type="button" mat-raised-button matStepperNext>{{ 'oca.Next' | translate }}</button>
        </div>
      </mat-step>

      <mat-step ngModelGroup="stepBroadcast"
                [label]="'oca.Broadcast' | translate"
                [completed]="stepper.selectedIndex > 1"
                [stepControl]="form.controls.stepBroadcast">

        <div class="editor">
          <mat-card>
            <mat-card-header>
                <mat-card-title>{{ 'oca.category' | translate }}</mat-card-title>
                <mat-card-subtitle>{{ 'oca.news_label_explanation' | translate }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field>
                <mat-label>{{ 'oca.category' | translate }}</mat-label>
                <mat-select (ngModelChange)="groupTypeChanged()"
                            [(ngModel)]="newsItem.group_type"
                            name="group_type"
                            required>
                  <mat-option *ngFor="let group of options?.groups" [disabled]="hasRegional && !group.regional_allowed"
                              [matTooltipDisabled]="!hasRegional || group.regional_allowed"
                              [matTooltip]="'oca.news_regional_disabled_tooltip' | translate"
                              [value]="group.group_type">
                    {{ group.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>
          </mat-card>

          <mat-card *ngIf="hasGroupVisible">
            <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>
                    {{ 'oca.news_group_visible_until_title' | translate }}
                  </mat-card-title>
                  <mat-card-subtitle>
                    {{ 'oca.news_group_visible_until_info' | translate }}
                  </mat-card-subtitle>
                </mat-card-title-group>
                <button mat-icon-button (click)="showGroupInfoDetails = !showGroupInfoDetails" class="header-icon-button">
                  <mat-icon>info</mat-icon>
                </button>
            </mat-card-header>

            <mat-card-content>
              <p *ngIf="showGroupInfoDetails">{{ 'oca.news_group_visible_until_details' | translate : {name: getGroupName()} }}</p>
              <oca-date-time-input name="group_visible_until"
                                   required
                                   [disabled]="published"
                                   [min]="getMinVisibleUntil()"
                                   [minError]="'oca.date_must_be_in_future' | translate"
                                   [dateLabel]="'oca.Date' | translate"
                                   [timeLabel]="'oca.Time' | translate"
                                   [(ngModel)]="newsItem.group_visible_until"></oca-date-time-input>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-header>
                <mat-card-title>{{ 'oca.schedule' | translate }}</mat-card-title>
                <mat-card-subtitle>{{ 'oca.news_schedule_explanation' | translate }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div>
                <mat-slide-toggle
                    #toggle
                    (toggleChange)="toggleScheduledAt()"
                    [checked]="newsItem.scheduled_at" [disabled]="published">
                  {{ 'oca.publish_later' | translate }}
                </mat-slide-toggle>
              </div>
              <br>
              <oca-date-time-input name="scheduled_date"
                                   required
                                   [disabled]="published || !toggle.checked"
                                   [min]="minDate"
                                   [max]="maxDate"
                                   [dateLabel]="'oca.Date' | translate"
                                   [timeLabel]="'oca.Time' | translate"
                                   [minError]="'oca.date_must_be_in_future' | translate"
                                   [maxError]="'oca.date_too_far_in_future' | translate"
                                   [(ngModel)]="newsItem.scheduled_at"
                                   *ngIf="newsItem.scheduled_at">
              </oca-date-time-input>
            </mat-card-content>
          </mat-card>

          <div class="step-nav-buttons submit-button">
            <button type="button" mat-raised-button matStepperPrevious>{{ 'oca.back' | translate }}</button>
            <mat-spinner *ngIf="status.loading" [diameter]="36"></mat-spinner>
            <button (click)="submit(form)" [disabled]="status.loading" color="primary" mat-raised-button type="button">
              {{ getSubmitButtonText() | translate }}
            </button>
          </div>
        </div>

        <oca-news-item-preview class="preview"
                               [avatarUrl]="brandingSettings?.avatar_url || DEFAULT_AVATAR_URL"
                               [date]="newsItem.scheduled_at || minDate"
                               [name]="options?.service_name"
                               [newsItem]="newsItem" *ngIf="stepper.selectedIndex > 0">
        </oca-news-item-preview>

      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
