::ng-deep .mat-card-header-text {
  /* CSS styles go here */
  margin: 0px !important; // for example to remove the margin
}

p {
  white-space: pre-wrap;
}

.type-radios {
  display: flex;
  flex-direction: column;
}

.mat-radio-button {
  margin: 4px 0;
}

.action-button-controls {
  display: flex;
  flex-direction: column;
}

.full-width-field {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;

  form {
    max-width: 950px;
  }

  mat-horizontal-stepper {
    background: none !important;
  }

  .editor {
    flex-grow: 1;
    float: left;
    max-width: calc(100% - 490px);
  }

  .preview {
    width: 453px;
    height: 883px;
    position: sticky;
    margin-top: -10px;
    float: right;
    top: 0;
  }

  .mat-card {
    margin-bottom: 16px;
  }

}

.submit-button {
  mat-spinner {
    margin-right: 16px;
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  mat-form-field {
    width: 200px;
  }
}

.step-nav-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;

  button:nth-of-type(2) {
    margin-left: 16px;
  }
}

.mat-slide-toggle {
  font-weight: bold;
}

.toggle-indent {
  margin: 0 0 0 44px;
}

.map-container {
  max-width: 500px;
}

.toggle-margin {
  margin-top: 8px;
}

.budget-line {
  display: flex;
  align-items: center;
}

p.disabled {
  color: #ABABAB;
  pointer-events: none;
}

.header-icon-button {
  margin-top: -8px;
}
