:host {
  display: block;
  position: relative;
}

.calendar-icon-text {
  top: 24px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  font-size: 28px;
  color: #40596B;
}
