<mat-toolbar>
  <h1>{{ 'oca.news_items' | translate }}</h1>
  <div class="search-field">
    <mat-form-field class="toolbar-form-field">
      <mat-icon matPrefix>search</mat-icon>
      <input [formControl]="searchControl"
             [placeholder]="'oca.search' | translate"
             matInput
             type="search">
      <button (click)="searchControl.setValue(null);"
              *ngIf="searchControl.value"
              mat-icon-button
              matSuffix
              type="button">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <a mat-icon-button routerLink="/news/settings" *ngIf="isShowUser$ | async">
    <mat-icon>settings</mat-icon>
  </a>
</mat-toolbar>
<oca-news-item-list (deleteItem)="onDeleteItem($event)"
                    (copyItem)="onCopyItem($event)"
                    (loadMore)="onLoadMore()"
                    [hasMore]="hasMore$ | async"
                    [items]="newsList$ | async"
                    [newsGroups]="newsGroups$ | async"
                    [loading]="isNewsListLoading$ | async"></oca-news-item-list>

<p *ngIf="hasNoNews$ | async">
  <ng-container *ngIf="searchControl.value">{{ 'oca.no_results' | translate }}</ng-container>
  <ng-container *ngIf="!searchControl.value">{{ 'oca.no_previous_news_items' | translate }}</ng-container>
</p>
