<mat-toolbar>
  <h1 class="flex-grow">{{ 'oca.news_items' | translate }}</h1>
  <a mat-icon-button routerLink="/news/settings" *ngIf="isShowUser$ | async">
    <mat-icon>settings</mat-icon>
  </a>
</mat-toolbar>
<oca-news-item-list (deleteItem)="onDeleteItem($event)"
                    (copyItem)="onCopyItem($event)"
                    (loadMore)="onLoadMore()"
                    [hasMore]="hasMore$ | async"
                    [items]="newsList$ | async"
                    [newsGroups]="newsGroups$ | async"
                    [listStatus]="listStatus$ | async"></oca-news-item-list>
