<ion-fab-button (click)="onDeleteClicked($event)"
                *ngIf="canDelete"
                @fabAppearAnimation
                class="delete-button"
                color="danger"
                size="small">
  <ion-icon name="close"></ion-icon>
</ion-fab-button>
<ion-card [class.voucher-expired]="expired" class="voucher-card">
  <div class="column">
    <div class="gradient-container">
      <img [src]="logoUrl" alt="Logo" class="voucher-logo">
    </div>
  </div>
  <ion-text [color]="remainingValue > 0 ? 'primary' : ''" class="column">
    <div class="values">
      <div class="voucher-value">
        {{ remainingValue | currency : 'EUR' :  'symbol': '1.0-2' }}
      </div>
      <!--  Set invisible so that all cards are the same height -->
      <div [style.visibility]="value === remainingValue ? 'hidden' : 'visible'" class="voucher-original-value">
        {{ value | currency : 'EUR' : 'symbol' : '1.0-2' }}
      </div>
    </div>
  </ion-text>
  <div [ngSwitch]="expired" class="voucher-bottom">
    <ng-container *ngSwitchCase="true">
      {{ 'app.oca.expired_since_date' | translate : {date: validDate | date : 'shortDate'} }}
    </ng-container>
    <ng-container *ngSwitchCase="false">
      <ng-container *ngIf="!remainingValue; else stillValid">
        {{ 'app.oca.voucher_spent' | translate }}
      </ng-container>
      <ng-template #stillValid>
        {{ 'app.oca.valid_until_date' | translate : {date: validDate | date : 'shortDate'} }}
      </ng-template>
    </ng-container>
  </div>
</ion-card>
