<form #form="ngForm" (ngSubmit)="submit(form)" class="project-settings">
  <mat-form-field>
    <mat-label>{{ 'oca.title' | translate }}</mat-label>
    <input matInput name="title" [(ngModel)]="_project.title">
  </mat-form-field>
  <p>{{ 'oca.description' | translate }}</p>
  <div class="description-editor">
    <simplemde name="description" [(ngModel)]="_project.description"></simplemde>
  </div>
  <mat-form-field>
    <mat-label>{{ 'oca.required_scans' | translate }}</mat-label>
    <input type="number" name="action_count" matInput min="1" step="1" [(ngModel)]="_project.action_count">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'oca.budget' | translate }}</mat-label>
    <span matPrefix>{{ getCurrencySymbol(_project.budget.currency, 'narrow') }}</span>
    <input type="number" name="budget_amount" matInput min="1" step="1" [(ngModel)]="_project.budget.amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'oca.start_date' | translate }}</mat-label>
    <input name="start_date" matInput [matDatepicker]="startDatePicker" [(ngModel)]="_project.start_date" required
           (dateChange)="setDates()">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'oca.start_time' | translate }}</mat-label>
    <input type="time" name="start_time" matInput #startTime required (change)="setTime('start_date', $event.target)">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'oca.end_date' | translate }}</mat-label>
    <input name="end_date" matInput [matDatepicker]="endDatePicker" [min]="_project.start_date"
           [(ngModel)]="_project.end_date" required (dateChange)="setDates()">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'oca.end_time' | translate }}</mat-label>
    <input type="time" name="end_time" matInput #endTime required (change)="setTime('end_date', $event.target)">
  </mat-form-field>
  <div>
    <button mat-raised-button [disabled]="loading">
      {{ 'oca.save' | translate }}
    </button>
  </div>
</form>
