<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>
      {{ title || ('app.qm.appointments' | translate) }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding appointment-list-header">
    <p *ngIf="showNoResults$ | async">{{ 'app.qm.no_upcoming_appointments_yet' | translate }}</p>
    <ion-button routerLink="/new-appointment">
      {{ 'app.qm.create_appointment' | translate }}
    </ion-button>
  </div>
  <ng-container *ngIf="appointments$ | async as appointments">
    <qm-appointment-card (cancelClicked)="cancelAppointment($event)"
                         *ngFor="let appointment of appointments.upcoming"
                         [appointment]="appointment"
                         [past]="false">
    </qm-appointment-card>
    <ng-container *ngIf="appointments.past.length > 0">
      <h2 class="ion-padding">{{ 'app.qm.former_appointments' | translate }}</h2>
      <qm-appointment-card *ngFor="let appointment of appointments.past"
                           [appointment]="appointment"
                           [past]="true">
      </qm-appointment-card>
    </ng-container>
  </ng-container>
  <div *ngIf="isLoading$ | async" class="qm-spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ion-content>
