.text-pre
  white-space pre
  line-height 1.25em

body
  font-family roboto

.main-content
  height 100vh
  overflow hidden

// Fancier scrollbar
::-webkit-scrollbar
  background-color transparent
  width 8px

::-webkit-scrollbar-thumb
  background-color #bdbdbd

::-webkit-scrollbar-corner
  height 0

.scrollbar
  overflow auto
  ::-webkit-scrollbar-thumb
    background-color transparent
  &:hover
    ::-webkit-scrollbar-thumb
      background-color #bdbdbd
    overflow-y auto