{% shop_translate language, 'dear_name', 'name=' + name %},

{% shop_translate language, 'your_service_created' %}

{% shop_translate language, 'login_with_credentials', 'login_url=' + login_url, 'login=' + user_email %}

{% shop_translate language, 'with_regards' %},
{% shop_translate language, 'the_osa_team' %}
