{% shop_translate language, 'dear_name', 'name=' + name %},

{% shop_translate language, 'your_service_created' %}

{% shop_translate language, 'login_with_credentials', 'login_url=' + login_url, 'login=' + user_email, 'password=' + password %}
{% shop_translate language, 'do_you_want_another_password' %}, {% shop_translate language, 'change_your_password_here' %}
{{ reset_password_link }}

{% shop_translate language, 'with_regards' %},
{% shop_translate language, 'the_osa_team' %}
