<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
 <meta property="rt:style:text-color" content="{{ text_color }}"/>
 <meta property="rt:style:background-color" content="#000000"/>
 <meta property="rt:style:menu-item-color" content="{{ menu_item_color }}"/>
 <meta property="rt:style:show-header" content="false"/>
 <meta property="rt:style:color-scheme" content="{{ color_scheme }}"/>
 <meta property="rt:wakelock" content="true"/>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <link href="jquery/jquery.mobile.inline-png-1.4.2.min.css" rel="stylesheet" media="screen" />
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen" />

<link rel="stylesheet" href="css/bootstrap.3.2.0.min.css">
<link rel="stylesheet" href="css/blueimp-gallery.min.css">
<link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="css/bootstrap-dialog.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" src="jquery/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        var LOYALTY_TYPE = {{ loyalty_type }};
        $(document).bind("mobileinit", function () {
            $.mobile.hashListeningEnabled = false;
        });
    </script>
    <script type="text/javascript" src="jquery/jquery.mobile-1.4.2.min.js"></script>
    <script type="text/javascript" src="rogerthat/rogerthat-1.0.js"></script>
    <script type="text/javascript" src="rogerthat/rogerthat.api-1.0.js"></script>
</head>
<body class="ui-mobile-viewport ui-overlay-a">
    <div data-role="page" id="main" tabindex="0" class="ui-page ui-page-theme-a ui-page-active" >
	    <div data-role="content" id="blueimp-gallery" class="blueimp-gallery">
		    <!-- The container for the modal slides -->
		    <div class="slides"></div>
		    <!-- Controls for the borderless lightbox -->
		    <ol class="indicator"></ol>
		    <!-- The modal dialog, which will be used to wrap the lightbox content -->
		    <div class="modal fade">
		        <div class="modal-dialog">
		            <div class="modal-content">
		                <div class="modal-body"></div>
		            </div>
		        </div>
		    </div>
		    <img id="osa-overlay" style="display: none;" src="img/osa_slide_overlay.png" >
		    <div id="osa-text-slider" class="marquee" style="display: none; background-color:#fff; color: #5bc4bf; font-weight: bold;"></div>
		</div>
		<div id="open_dashboard" class="clearfix" open_url="{{ auto_login_link }}" style="float: right; font-size: 2em; z-index: 21; position: fixed; top: 20px; right: 0;">
              <a style="font-size: 0.75em; border-width: 5px 0 5px 5px; border-radius: 5px 0 0 5px;" href="{{ auto_login_link }}" class="ui-btn ui-icon-home ui-btn-icon-left">Dashboard <span class="unread-inbox-count" style="display: none;"></span></a>
        </div>
		{% if website %}
		<div id="open_website" class="clearfix" open_url="{{ website }}" style="float: right; font-size: 2em; z-index: 21; position: fixed; top: 100px; right: 0;">
              <a style="font-size: 0.75em; border-width: 5px 0 5px 5px; border-radius: 5px 0 0 5px;" href="{{ website }}" class="ui-btn ui-icon-home ui-btn-icon-left">Website</a>
        </div>
        {% endif %}
        <div id="no_internet" class="clearfix" style="display:none; float: right; font-size: 2em; z-index: 21; position: fixed; top: 180px; right: 0;">
              <a style="font-size: 0.75em; border-width: 5px 0 5px 5px; border-radius: 5px 0 0 5px;" href="#" class="ui-btn ui-icon-alert ui-btn-icon-left">{% translate language, 'common', 'no-internet-connection' %}</a>
        </div>

	    <div data-role="popup" data-dismissible="false" id="qr-scanned-select-popup" class="ui-content">
	        <a style="font-size: 3em;" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="closeQrScannedSelectPopup ui-btn-right"></a>
	        <div style="padding: 2em;">
	            <h1>{% translate language, 'common', 'QR code scanned: select action' %}</h1>
	            <h3 class="user_name"></h3>
	            <div id="qr-scanned-select-popup-options" class="clearfix">
	            </div>
	        </div>
	    </div>
	    <div data-role="popup" data-dismissible="false" id="add-1-popup" class="ui-content">
            <a style="font-size: 3em;" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="closeAdd1Popup ui-btn-right"></a>
            <div style="padding: 2em;">
	            <h1>{% translate language, 'common', 'Add loyalty points' %}</h1>
	            <h3 class="user_name"></h3>
	            <div class="add-1-popup-enabled">
	                <h3 class="error_msg" style="display: none; color: #FF3500;"></h3>
	                <div class="clearfix">
		                <div class="calculator calculator-revenue" style="font-size: 1.9em; float: left; padding: .7em 1em; margin-top: 0.75em; margin-bottom: 0.5em; margin-right: 1em;">
						    <!-- Screen and clear key -->
						    <div class="clearfix">
							    <div class="keys" style="width: 20em; float: left;">
							        <!-- operators and other keys -->
							        <span>7</span>
							        <span>8</span>
							        <span class="lastOne">9</span>
							        <span>4</span>
							        <span>5</span>
							        <span class="lastOne">6</span>
							        <span>1</span>
							        <span>2</span>
							        <span class="lastOne">3</span>
							    </div>
							    <div class="keys">
                                    <span>.</span>
							        <span style="height: 4.7em; line-height: 4.7em;">0</span>
							    </div>
						    </div>

						    <div class="top">
                                <span class="clear">C</span>
                                <div class="screen"></div>
                            </div>
						</div>

		                <button class="closeAdd1Popup rectancular-small-btn ui-btn btn-green ui-corner-all" addAction="submit" onclick="">{% translate language, 'common', 'Submit' %}</button>
		                <button class="closeAdd1Popup rectancular-small-btn ui-btn btn-red ui-corner-all" addAction="cancel" onclick="">{% translate language, 'common', 'Cancel' %}</button>
	                </div>
	            </div>
	            <div class="add-1-popup-disabled" style="display:none;">
	                <h3 class="disabled_msg" style="color: #FF3500;"></h3>
	                <button class="closeAdd1Popup square-btn ui-btn ui-btn-b ui-corner-all" addAction="close" onclick="">{% translate language, 'common', 'Close' %}</button>
	            </div>
            </div>
        </div>
        <div data-role="popup" data-dismissible="false" id="redeem-1-popup" class="ui-content">
            <a style="font-size: 3em;" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="closeRedeem1Popup ui-btn-right"></a>
            <div style="padding: 2em;">
	            <h1>{% translate language, 'common', 'Redeem loyalty points' %}</h1>
	            <h3 class="user_name"></h3>
	            <div class="redeem-1-popup-enabled">
	                <h3 class="error_msg" style="display: none; color: #FF3500;"></h3>
	                <h3 class="redeem_text"></h3>
	                <div class="clearfix">
		                <button style="float: left; margin-right: 1em;" class="closeRedeem1Popup square-btn  ui-btn btn-green ui-corner-all" redeemAction="redeem" onclick="">{% translate language, 'common', 'Redeem' %}</button>
		                <button style="float: left;" class="closeRedeem1Popup square-btn ui-btn btn-red ui-corner-all" redeemAction="cancel" onclick="">{% translate language, 'common', 'Cancel' %}</button>
	                </div>
	            </div>
	            <div class="redeem-1-popup-disabled" style="display:none;">
	                <h3 class="disabled_msg" style="color: #FF3500;"></h3>
	                <button class="closeRedeem1Popup square-btn ui-btn ui-btn-b ui-corner-all" redeemAction="close" onclick="">{% translate language, 'common', 'Close' %}</button>
	            </div>
            </div>
        </div>
        <div data-role="popup" data-dismissible="false" id="add-3-popup" class="ui-content">
            <a style="font-size: 3em;" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="closeAdd3Popup ui-btn-right"></a>
            <div style="padding: 2em;">
                <h1>{% translate language, 'common', 'Add stamps' %}</h1>
                <h3 class="user_name"></h3>
                <div class="add-3-popup-enabled">
                    <h3 class="error_msg" style="display: none; color: #FF3500;"></h3>
                    <div class="clearfix">
                        <div class="calculator calculator-stamps" style="font-size: 1.9em; float: left; padding: .7em 1em; margin-top: 0.75em; margin-bottom: 0.5em; margin-right: 1em;">
						    <!-- Screen and clear key -->
						    <div class="clearfix">
							    <div class="keys" style="width: 12.45em; float: left; margin-right: 1em;">
							        <span class="green">+1</span>
							        <span class="green">+5</span>
							        <span class="green">+10</span>
							    </div>

							    <div class="keys" style="width: 12.45em;">
	                                <!-- operators and other keys -->
	                                <span class="add-3-min-1">-1</span>
	                                <span class="add-3-min-5">-5</span>
	                                <span class="add-3-min-10">-10</span>
	                            </div>
						    </div>

						    <div class="top">
						        <span class="clear">C</span>
						        <div class="screen"></div>
						    </div>
						</div>

                        <button class="closeAdd3Popup rectancular-small-btn ui-btn btn-green ui-corner-all" addAction="submit" onclick="">{% translate language, 'common', 'Submit' %}</button>
                        <button class="closeAdd3Popup rectancular-small-btn ui-btn btn-red ui-corner-all" addAction="cancel" onclick="">{% translate language, 'common', 'Cancel' %}</button>
                    </div>
                </div>
                <div class="add-3-popup-disabled" style="display:none;">
                    <h3 class="disabled_msg" style="color: #FF3500;"></h3>
                    <button class="closeAdd3Popup square-btn ui-btn ui-btn-b ui-corner-all" addAction="close" onclick="">{% translate language, 'common', 'Close' %}</button>
                </div>
            </div>
        </div>
        <div data-role="popup" data-dismissible="false" id="redeem-3-popup" class="ui-content">
            <a style="font-size: 3em;" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="closeRedeem3Popup ui-btn-right"></a>
            <div style="padding: 2em;">
                <h1>{% translate language, 'common', 'Redeem stamps' %}</h1>
                <h3 class="user_name"></h3>
                <div class="redeem-3-popup-enabled">
                    <h3 class="error_msg" style="display: none; color: #FF3500;"></h3>
                    <h3 class="redeem_text"></h3>
                    <div class="clearfix">
                        <div class="calculator calculator-stamps-redeem" style="font-size: 1.9em; float: left; padding: .7em 1em; margin-top: 0.75em; margin-bottom: 0.5em; margin-right: 1em;">
                            <!-- Screen and clear key -->
                            <div class="clearfix">
                                <div class="keys" style="width: 12.45em; float: left; margin-right: 1em;">
	                                <span class="green redeem-3-plus-1">+1</span>
                                </div>

                                <div class="keys" style="width: 12.45em;">
	                                <span class="redeem-3-min-1">-1</span>
                                </div>
                            </div>

                            <div class="top">
                                <span class="clear">C</span>
                                <div class="screen"></div>
                            </div>
                        </div>
                        <button class="closeRedeem3Popup rectancular-small-btn ui-btn btn-green ui-corner-all" redeemAction="redeem" onclick="">{% translate language, 'common', 'Redeem' %}</button>
                        <button class="closeRedeem3Popup rectancular-small-btn ui-btn btn-red ui-corner-all" redeemAction="cancel" onclick="">{% translate language, 'common', 'Cancel' %}</button>
                    </div>
                </div>
                <div class="redeem-3-popup-disabled" style="display:none;">
                    <h3 class="disabled_msg" style="color: #FF3500;"></h3>
                    <button class="closeRedeem3Popup square-btn ui-btn ui-btn-b ui-corner-all" redeemAction="close" onclick="">{% translate language, 'common', 'Close' %}</button>
                </div>
            </div>
        </div>

        <div data-role="popup" data-dismissible="false" id="couple-qr-code-popup" class="ui-content">
            <a style="font-size: 3em;" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="closeCoupleQRCodePopup ui-btn-right"></a>
            <div style="padding: 2em;">
                <h3>{% translate language, 'common', 'couple-loyalty-card-title' %}</h3>
                <h3 class="error_msg" style="display: none; color: #FF3500;"></h3>
                <div class="clearfix">
                    <div style="font-size: 1.9em; padding: .7em 1em; margin-top: 0.75em; margin-bottom: 0.5em; margin-right: 1em;">
                        <input id="email" type="text" class="scroll-input-couple"/>
                    </div>
                    <div class="clearfix">
	                    <button style="float: left;" class="closeCoupleQRCodePopup rectancular-btn ui-btn btn-green ui-corner-all" coupleAction="submit" onclick="">{% translate language, 'common', 'Submit' %}</button>
	                    <button style="float: right;" class="closeCoupleQRCodePopup rectancular-btn ui-btn btn-red ui-corner-all" coupleAction="cancel" onclick="">{% translate language, 'common', 'Cancel' %}</button>
                    </div>
                </div>
            </div>
        </div>

         <div data-role="popup" data-dismissible="false" id="pin-activate-voucher-popup" class="ui-content">
            <a style="font-size: 3em;" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="closePinActivateVoucherPopup ui-btn-right"></a>
            <div style="padding: 2em;">
	            <h1>{% translate language, 'common', 'Pincode' %}</h1>
                <div class="clearfix">
	                <div class="calculator calculator-revenue" style="font-size: 1.9em; float: left; padding: .7em 1em; margin-top: 0.75em; margin-bottom: 0.5em; margin-right: 1em;">
					    <!-- Screen and clear key -->
					    <div class="clearfix">
						    <div class="keys" style="width: 20em; float: left;">
						        <!-- operators and other keys -->
						        <span>7</span>
						        <span>8</span>
						        <span class="lastOne">9</span>
						        <span>4</span>
						        <span>5</span>
						        <span class="lastOne">6</span>
						        <span>1</span>
						        <span>2</span>
						        <span class="lastOne">3</span>
						    </div>
						    <div class="keys">
						        <span style="height: 7.35em; line-height: 7.35em;">0</span>
						    </div>
					    </div>

					    <div class="top">
                               <span class="clear">C</span>
                               <div class="screen"></div>
                           </div>
					</div>

	                <button class="closePinActivateVoucherPopup rectancular-small-btn ui-btn btn-green ui-corner-all" pinAction="submit" onclick="">{% translate language, 'common', 'Submit' %}</button>
	                <button class="closePinActivateVoucherPopup rectancular-small-btn ui-btn btn-red ui-corner-all" pinAction="cancel" onclick="">{% translate language, 'common', 'Cancel' %}</button>
                </div>
            </div>
        </div>

        <div data-role="popup" data-dismissible="false" id="activate-voucher-popup" class="ui-content">
            <a style="font-size: 3em;" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="closeActivateVoucherPopup ui-btn-right"></a>
            <div style="padding: 2em;">
	            <h1>{% translate language, 'common', 'Activate voucher' %} <small class="uid"></small></h1>
	            <h3 class="error_msg" style="display: none; color: #FF3500;"></h3>
                <div class="clearfix">
                    <div style="font-size: 1.9em; margin-top: 0.75em; margin-bottom: 0.5em;">
                    	<label>{% translate language, 'common', 'Price' %}</label>
                        <input id="av-value" type="number" min="0" step="0.01" class="scroll-input-activate" />
                    </div>
                </div>
	            <div class="clearfix">
                    <div style="font-size: 1.9em; margin-top: 0.75em; margin-bottom: 0.5em; float: left; width: 45%;">
                    	<label>{% translate language, 'common', 'Internal account' %}</label>
                        <input id="av-internal-account" type="text" class="scroll-input-activate" />
                    </div>
                    <div style="font-size: 1.9em; margin-top: 0.75em; margin-bottom: 0.5em; float: right;width: 45%;">
                    	<label>{% translate language, 'common', 'Cost center' %}</label>
                        <input id="av-cost-center" type="email" class="scroll-input-activate"/>
                    </div>
                </div>
                <div class="clearfix">
	                <button style="float: left; margin-right: 1em;" class="closeActivateVoucherPopup rectancular-btn ui-btn btn-green ui-corner-all" activateAction="submit" onclick="">{% translate language, 'common', 'Submit' %}</button>
	                <button style="float: left;" class="closeActivateVoucherPopup rectancular-btn ui-btn btn-red ui-corner-all" activateAction="cancel" onclick="">{% translate language, 'common', 'Cancel' %}</button>
                </div>
            </div>
        </div>

        <div data-role="popup" data-dismissible="false" id="link-voucher-to-user" class="ui-content">
            <a style="font-size: 3em;" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="closeLinkVoucherPopup ui-btn-right"></a>
            <div style="padding: 2em;">
	            <h1>{% translate language, 'common', 'Link this voucher to a user?' %} <small class="uid"></small></h1>
                <div class="clearfix">
	                <button style="float: left; margin-right: 1em;" class="closeLinkVoucherPopup rectancular-btn ui-btn btn-green ui-corner-all" linkAction="submit" onclick="">{% translate language, 'common', 'Yes' %}</button>
	                <button style="float: left;" class="closeLinkVoucherPopup rectancular-btn ui-btn btn-red ui-corner-all" linkAction="cancel" onclick="">{% translate language, 'common', 'No' %}</button>
                </div>
            </div>
        </div>

        <div data-role="popup" data-dismissible="false" id="redeem-voucher-popup" class="ui-content">
            <a style="font-size: 3em;" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="closeRedeemVoucherPopup ui-btn-right"></a>
            <div style="padding: 2em;">
	            <h1>{% translate language, 'common', 'Redeem voucher' %} <small class="uid"></small></h1>
	            <h3 class="price_left"></h3>
                <h3 class="error_msg" style="display: none; color: #FF3500;"></h3>
                <div class="clearfix">
	                <div class="calculator calculator-revenue" style="font-size: 1.9em; float: left; padding: .7em 1em; margin-top: 0.75em; margin-bottom: 0.5em; margin-right: 1em;">
					    <!-- Screen and clear key -->
					    <div class="clearfix">
						    <div class="keys" style="width: 20em; float: left;">
						        <!-- operators and other keys -->
						        <span>7</span>
						        <span>8</span>
						        <span class="lastOne">9</span>
						        <span>4</span>
						        <span>5</span>
						        <span class="lastOne">6</span>
						        <span>1</span>
						        <span>2</span>
						        <span class="lastOne">3</span>
						    </div>
						    <div class="keys">
                                   <span>.</span>
						        <span style="height: 4.7em; line-height: 4.7em;">0</span>
						    </div>
					    </div>

					    <div class="top">
                               <span class="clear">C</span>
                               <div class="screen"></div>
                           </div>
					</div>

	                <button class="closeRedeemVoucherPopup rectancular-small-btn ui-btn btn-green ui-corner-all" redeemAction="submit" onclick="">{% translate language, 'common', 'Submit' %}</button>
	                <button class="closeRedeemVoucherPopup rectancular-small-btn ui-btn btn-red ui-corner-all" redeemAction="cancel" onclick="">{% translate language, 'common', 'Cancel' %}</button>
                </div>
            </div>
        </div>

        <div data-role="popup" data-dismissible="false" id="confirm-redeem-voucher-popup" class="ui-content">
            <a style="font-size: 3em;" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="closeConfirmRedeemVoucherPopup ui-btn-right"></a>
            <div style="padding: 2em;">
            	<h1>{% translate language, 'common', 'Confirm' %} <small class="uid"></small></h1>
                <h3 class="confirm_text"></h3>
                <div class="clearfix">
	                <button style="float: left; margin-right: 1em;" class="closeConfirmRedeemVoucherPopup square-btn  ui-btn btn-green ui-corner-all" confirmRedeemAction="submit" onclick="">{% translate language, 'common', 'Confirm' %}</button>
	                <button style="float: left;" class="closeConfirmRedeemVoucherPopup square-btn ui-btn btn-red ui-corner-all" confirmRedeemAction="cancel" onclick="">{% translate language, 'common', 'Cancel' %}</button>
                </div>
            </div>
        </div>

        <div data-role="popup" data-dismissible="false" id="error-popup" class="ui-content">
            <a style="font-size: 3em;" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="closeErrorPopup ui-btn-right"></a>
            <div style="padding: 2em;">
                <h1>{% translate language, 'common', 'warning' %}</h1>
	            <h3 class="error_msg" style="color: #FF3500;"></h3>
                <button class="closeErrorPopup square-btn  ui-btn ui-btn-b ui-corner-all" errorAction="close" onclick="">{% translate language, 'common', 'Close' %}</button>
            </div>
        </div>
        <div data-role="popup" data-dismissible="false" id="text-popup" class="ui-content">
            <a style="font-size: 3em;" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="closeTextPopup ui-btn-right"></a>
            <div style="padding: 2em;">
                <h1 class="text_msg"></h1>
                <h3 class="error_msg" style="color: #FF3500;"></h3>
                <h3 class="sub_msg"></h3>
                <button style="margin: 0 auto; margin-top: 2em;" class="closeTextPopup rectancular-btn ui-btn ui-btn-b ui-corner-all" errorAction="close" onclick="">{% translate language, 'common', 'Close' %}</button>
            </div>
        </div>
        <div data-role="popup" data-dismissible="false" id="hello-popup" class="ui-content">
            <a style="font-size: 3em;" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="closeHelloPopup ui-btn-right"></a>
            <div style="padding: 2em;">
                <h1 class="hello_msg"></h1>
                <button class="closeHelloPopup square-btn ui-btn ui-btn-b ui-corner-all">{% translate language, 'common', 'Close' %}</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/bootstrap.3.2.0.min.js"></script>
    <script type="text/javascript" src="js/jquery.blueimp-gallery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-image-gallery.js"></script>
    <script type="text/javascript" src="js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="js/jquery.keyframes.min.js"></script>
    <script type="text/javascript" src="js/app_translations.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/loyalty_revenue_discount.js"></script>
    <script type="text/javascript" src="js/loyalty_lottery.js"></script>
    <script type="text/javascript" src="js/loyalty_stamps.js"></script>
    <script type="text/javascript" src="js/loyalty_city_wide_lottery.js"></script>
    <script type="text/javascript" src="js/vouchers.js"></script>
    <script type="text/javascript" src="js/popups.js"></script>
    <script type="text/javascript" src="js/slides.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/coupons.js"></script>
</body>
</html>
