<h2 matDialogTitle>{{ data.title }}</h2>
<form (ngSubmit)="submit(true)">
  <mat-dialog-content>
    <p [innerHTML]="data.message"></p>
    <mat-form-field *ngIf="data.inputType" style="width: 100%;">
      <input [(ngModel)]="input" [type]="data.inputType" matInput name="input" required>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)="submit(false)" *ngIf="data.cancel" mat-button type="button">
      {{ data.cancel }}
    </button>
    <button color="primary" mat-button>
      {{ data.ok }}
    </button>
  </mat-dialog-actions>
</form>
