<ng-container *ngFor="let item of toolbarItems$ | async">
  <ng-container *ngIf="item.href; else buttonTemplate">
    <a (click)="click(item)" [disabled]="item.disabled" [href]="item.href" mat-button target="_blank">
      <mat-icon>{{ item.icon }}</mat-icon>
      {{ item.label | translate }}
    </a>
  </ng-container>
  <ng-template #buttonTemplate>
    <button (click)="click(item)" *ngIf="isButton(item); else iconButtonTemplate" [disabled]="item.disabled" mat-button
            type="button">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span *ngIf="item.label">{{ item.label | translate }}</span>
    </button>
    <ng-template #iconButtonTemplate>
      <button (click)="click(item)" *ngIf="isIcon(item)" [disabled]="item.disabled" mat-icon-button type="button">
        <mat-icon>{{ item.icon }}</mat-icon>
      </button>
    </ng-template>
  </ng-template>
</ng-container>
