<ng-container *ngFor="let item of toolbarItems$ | async">
  <ng-container [ngSwitch]="item.type">
    <button (click)="click(item)" *ngSwitchCase="BUTTON" [disabled]="item.disabled" mat-button
            type="button">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span *ngIf="item.label">{{ item.label | translate }}</span>
    </button>
    <button (click)="click(item)" *ngSwitchCase="ICON" [disabled]="item.disabled" mat-icon-button type="button">
      <mat-icon>{{ item.icon }}</mat-icon>
    </button>
  </ng-container>
</ng-container>
