<mat-card class="developer-card" *ngFor="let account of developerAccounts$ | async">
  <mat-card-header>
    <mat-card-title>{{ account.name }}</mat-card-title>
    <mat-card-subtitle>{{ account.iphone_distribution }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions fxLayoutAlign="end center">
    <a [routerLink]="account.id" mat-button>
      {{ 'rcc.edit' | translate }}
    </a>
    <button type="button" mat-button color="warn" (click)="confirmRemove(account)">
      {{ 'rcc.delete' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
<div class="fab-bottom-right">
  <a mat-fab [routerLink]="['create']">
    <mat-icon>add</mat-icon>
  </a>
</div>
