<html> 
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
 <meta property="rt:style:background-color" content="#{{ background_color }}"/>
 <meta property="rt:style:menu-item-color" content="#{{ menu_item_color }}"/>
 <meta property="rt:style:show-header" content="{{ show_header }}"/>
 <meta property="rt:style:color-scheme" content="{{ color_scheme }}"/>
 <style type="text/css"> 
  body { padding: 0px; margin: 0px; background-color: #{{ background_color }}; color: #{{ text_color }}; }
  #background img { width: 100%; }
  #background { width: 100%; text-align: center; }
  #message, #static_content_placeholder { margin: 0.5em; font-family: Arial; font-size: 1.2em; }
  #frame { background-image: url('logo.jpg'); background-size: 95%; }
</style> 
</head> 
<body>
  <div>
    <div id="background">
      <img id="frame" src="frame.png" />
    </div>
  </div>
  <div id="static_content_placeholder">{{ static_content|safe }}</div>
  <div id="message">
    {%if not static_content %}<nuntiuz_message/>{% endif %}
  </div>
</body> 
</html>
